<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/staticfiles/js/notify-sunghyun/footer.js"></script>
        <script src="/staticfiles/js/notify-sunghyun/notify-one&one.js"></script>
        <link rel="stylesheet" href="/staticfiles/css/notification-sunghyun/footer.css">
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <link
            rel="stylesheet"
            href="/staticfiles/css/notification-sunghyun/notify_one&one.css"
        />
        <title>OneLab 일대일 문의</title>
    </head>
    <body class>
        <div></div>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
        />
        <div class="layout-column" x-data="Widgets.mobileMenu">
            <header
                class="header-shadow"
                x-data="Widgets.header({ isFixed: false, isSticky: true })"
                :class="{ 'text-header bg-header': isStuck, 'shadow': isStuck, 'border-bottom': !isFixed }"
            >
                <nav class="navbar-full">
                    <a href="/hc/ko" class="navbar-auto">
                        <img
                            class="block-fluid"
                            id="logo"
                            src="/staticfiles/css/admin-sunghyun/images/help.png"
                            alt="도움말 센터 헬프 센터 홈페이지"
                        />
                    </a>
                    <!-- <button
                        class="navbar-toggle lg:hidden"
                        x-ref="toggle"
                        :aria-expanded="isOpen && true"
                        @click="toggle"
                        @keydown.escape="toggle"
                        aria-expanded="false"
                    >
                        <span>탐색메뉴 토글</span>
                    </button> -->
                    <div
                        class="nav-end"
                        x-show="isOpen"
                        :class="{ 'text-header': isOpen }"
                        x-transition:enter="transition-fast"
                        x-transition:enter-start="translate-x-full"
                        x-transition:enter-end="translate-x-0"
                        x-transition:leave="transition-fast"
                        x-transition:leave-start="translate-x-0 text-header"
                        x-transtion:leave-end="translate-x-full text-header"
                        style="display: none"
                    >
                        <!-- <div class="search-0" x-data="Widgets.search">
                        <form role="search" class="form-0" data-search action="/hc/ko/search"
                        accept-charset="UTF-8" method="get">
                        <input name="utf8" type="hidden" value="✓" autocomplete="off">
                        <input type="search" name="query" id="query" placeholder="검색어를 입력해주세요."
                        aria-label="검색어를 입력해주세요." style="display: none;">
                        </form>
                    </div> -->
                        <!-- </div> -->
                        <div
                            data-element="template"
                            data-template="category-dropdown"
                        ></div>
                        <a
                            class="button button-yds2 button-sm m-2 align-self-center header-link flex-last lg:order-inherit lg:my-0"
                            href="#"
                            >문의등록</a
                        >
                        <a
                            class="button button-yds1 button-sm m-2 align-self-center header-link flex-last lg:order-inherit lg:my-0"
                            href="#"
                            >메이커센터
                        </a>
                        <a
                            class="button button-yds3 button-sm m-2 align-self-center header-link flex-last lg:order-inherit lg:my-179"
                            href="#"
                            >와디즈 바로가기
                        </a>
                    </div>
                </nav>
            </header>
            <main role="main">
                <div class="hero-hidden">
                    <div class="relative-8">
                        <div class="my-left">
                            <img src="/staticfiles/css/admin-sunghyun/images/background-img.svg" />
                        </div>
                        <!----------->
                        <div
                            class="search search-lg my-4 text-base font-size-lg shadow-lg max-w-sm md:my-5 md:font-size-xl"
                        >
                            <h2 class="sr-only">검색</h2>
                            <form
                                role="search"
                                class="form-0"
                                data-search
                                data-instant="true"
                                autocomplete="off"
                                action="/hc/ko/search"
                                acceot-charset="UTF-8"
                                method="get"
                            >
                                <input
                                    name="utf8"
                                    type="hidden"
                                    value="✓"
                                    autocomplete="off"
                                />
                                <zd-autocomplete-announcement
                                    id="b8438bab-f64f-4ae8-80da-b65614319a10"
                                    aria-live="polite"
                                    role="listbox"
                                >
                                </zd-autocomplete-announcement>
                                <input
                                    type="search"
                                    name="query"
                                    id="query1"
                                    placeholder="검색어를 입력해주세요."
                                    autocomplete="off"
                                    aria-autocomplete="both"
                                    aria-expanded="false"
                                    role="combobox"
                                    aria-owns="b8438bab-f64f-4ae8-80da-b65614319a10"
                                    data-gtm-form-interact-field-id="0"
                                    aria-label="검색어를 입력해주세요"
                                />
                            </form>
                            <svg
                                class="search-icon fill-current transition"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 12 12"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </div>
                        <div id="popular-keywords">
                            <div
                                class="flex flex-first flex-wrap mt-5 mb-4"
                                x-data="Widgets.popularKeywords"
                                x-init="parseKeywords('펀딩, 프리오더, 스토어, 서포터클럽')"
                            >
                                <template
                                    x-for="(keyword,index) in keywords"
                                    :key="index"
                                >
                                    #document-fragment
                                </template>
                                <div class="flex align-items-center m-1">
                                    <a
                                        class="inline-block text-inherit badge bg-translucent blur text-inherit border-radius px-3 py-2"
                                        :href="keyword.html_url"
                                        :title="keyword.title"
                                        id="b1"
                                        x-text="keyword.title"
                                        href="https://helpcenter.wadiz.kr/hc/ko/search?query=펀딩"
                                        title="펀딩"
                                        >펀딩
                                    </a>
                                </div>
                                <div class="flex align-items-center m-1">
                                    <a
                                        class="inline-block text-inherit badge bg-translucent blur text-inherit border-radius px-3 py-2"
                                        :href="keyword.html_url"
                                        :title="keyword.title"
                                        id="b2"
                                        x-text="keyword.title"
                                        href="https://helpcenter.wadiz.kr/hc/ko/search?query=펀딩"
                                        title="프리오더"
                                        >프리오더
                                    </a>
                                </div>
                                <div class="flex align-items-center m-1">
                                    <a
                                        class="inline-block text-inherit badge bg-translucent blur text-inherit border-radius px-3 py-2"
                                        :href="keyword.html_url"
                                        :title="keyword.title"
                                        id="b3"
                                        x-text="keyword.title"
                                        href="https://helpcenter.wadiz.kr/hc/ko/search?query=펀딩"
                                        title="스토어"
                                        >스토어
                                    </a>
                                </div>
                                <div class="flex align-items-center m-1">
                                    <a
                                        class="inline-block text-inherit badge bg-translucent blur text-inherit border-radius px-3 py-2"
                                        :href="keyword.html_url"
                                        :title="keyword.title"
                                        id="b4"
                                        x-text="keyword.title"
                                        href="https://helpcenter.wadiz.kr/hc/ko/search?query=펀딩"
                                        title="서포터클럽"
                                        >서포터클럽
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="absolute z-10 top-0 left-0 h-full w-full bg-hero-divider"
                    ></div>
                    <div class="absolute z-0 top-0 left-0 w-full h-full">
                        <div class="relative w-full h-full overflow-hidden">
                            <div
                                class="absolute top-0 left-0 w-full bg-home bg-cover bg-center"
                                x-data="Widgets.parallaxImage"
                                style="
                                    height: 200%;
                                    transform: translate3d(0px, 0px, 0px);
                                "
                            >
                        
                    </div>
                        
                </div>
                    </div>
                    </div>
                    <div class="relative-40" id="page-container">
                        <div class="content-blocks" id="content-blocks">
                            <div class="container-center">
                                <div class="row">
                                    <!------------챗봇 버튼---------------------------------------------->
                                    <button class="floating-button" onclick="chatModal()"></button>
                                    <!------------챗봇 버튼-------------------------------------------------->
                                    <div class="mb-4 ydsbackground-1 md:col-6 lg:col-4 xl:col-3" >
                                        <img class="hidden mt-4 sm:inline-block" id="img2" alt="서포터"
                                        data-asset="image" data-asset-id="category-25448157450521"
                                        src="	https://theme.zdassets.com/theme_assets/13612819/fd1d804abe5082c865396600c2bcf98244b275b5.svg"
                                        style="height: 40px; width: 40px; margin-top: 1rem;
                                        font-weight: bold;
                                        font-family: 'Pretendard'">
                                        <h4 class="my-4 text-right">
                                            <a class="link-stretched hover:no-underline" id="sup-id" href="#">
                                                서포터
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="mb-4 ydsbackground-1 md:col-6 lg:col-4 xl:col-3" >
                                        <img class="hidden mt-4 sm:inline-block" id=img1 alt="메이커"
                                        data-asset="image" data-asset-id="category-25448157450521"
                                        src="	https://theme.zdassets.com/theme_assets/13612819/496e0fa045ae026332d2ff661ab89df0ca541a6d.svg
                                        "
                                        style="height: 40px; width: 40px; margin-top: 1rem;
                                        font-weight: bold;
                                        font-family: 'Pretendard'">
                                        <h4 class="my-4 text-right">
                                            <a class="link-stretched hover:no-underline" id="sup-id" href="#">
                                                메이커
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="promoted-articles ydsgraybackground" id="promoted-articles">
                            <div class="container py-4">
                                <h2 class="flex align-items-baseline ydsh2"
                                x-data="{ src: Theme.assets['promoted-articles-heading'] }">
                                <template x-if="src">
                                    #document-fragment
                                </template>
                                자주 묻는 질문
                                </h2>
                                <div class="list-bordered border border-radius overflow-hidden">
                                    <div class="bg-white" x-data="{ open: false }">
                                        <a class="h3 flex align-items-center justify-content-between px-6 py-4 my-0 transition hover:text-primary hover:no-underline is-hidden"  id="cbtn1" >
                                          알림 신청한 프로젝트는 어디서 확인하나요?
                                          <svg class="fill-current pointer-events-none ml-3" :class="open &amp;&amp; 'rotate-180'" width="14px" viewBox="0 0 40 20" xmlns="http://www.w3.org/2000/svg" >
                                            <path d="M20,19.5 C19.4,19.5 18.9,19.3 18.4,18.9 L1.4,4.9 C0.3,4 0.2,2.4 1.1,1.4 C2,0.3 3.6,0.2 4.6,1.1 L20,13.8 L35.5,1.1 C36.6,0.2 38.1,0.4 39,1.4 C39.9,2.5 39.7,4 38.7,4.9 L21.7,18.9 C21.1,19.3 20.5,19.5 20,19.5 Z" fill-rule="nonzero"></path>
                                          </svg>
                                        </a>
                                        <div class="content px-6 py-2 ydscontent collapse" id="article-6" >
                                          마이와디즈의 [찜·알림신청]에서 확인하실 수 있어요.
                                            찜. 알림 신청 목록 뿐만 아니라 최근에 본 프로젝트 목록까지 확인할 수 있어요.&nbsp;프로젝트 이미지 우측 상단의 하트를 클릭해서 구독 ...
                                            <p class="my-4 text-right btnpadding-right">
                                              <a class="button button-outline button-sm" href="/hc/ko/articles/17845227566745-%EC%95%8C%EB%A6%BC-%EC%8B%A0%EC%B2%AD%ED%95%9C-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EB%8A%94-%EC%96%B4%EB%94%94%EC%84%9C-%ED%99%95%EC%9D%B8%ED%95%98%EB%82%98%EC%9A%94">
                                                  자세히보기
                                                </a>
                                            </p>
                                          </div>
                                      </div>
                                      <!------>
                                      <div class="bg-white" x-data="{ open: false }">
                                        <a class="h3 flex align-items-center justify-content-between px-6 py-4 my-0 transition hover:text-primary hover:no-underline is-hidden"  id="cbtn2" >
                                          회원 정보 변경은 어떻게 하나요?
                                          <svg class="fill-current pointer-events-none ml-3" :class="open &amp;&amp; 'rotate-180'" width="14px" viewBox="0 0 40 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path d="M20,19.5 C19.4,19.5 18.9,19.3 18.4,18.9 L1.4,4.9 C0.3,4 0.2,2.4 1.1,1.4 C2,0.3 3.6,0.2 4.6,1.1 L20,13.8 L35.5,1.1 C36.6,0.2 38.1,0.4 39,1.4 C39.9,2.5 39.7,4 38.7,4.9 L21.7,18.9 C21.1,19.3 20.5,19.5 20,19.5 Z" fill-rule="nonzero"></path>
                                          </svg>
                                        </a>
                                        <div class="content px-6 py-2 ydscontent collapse" id="article-7" >
                                          
                                            기본 정보 설정에서 닉네임, 이메일, 연락처 등을 언제든 변경할 수 있어요.
                                            
                                            마이와디즈의 설정에서 닉네임, 이메일, 휴대폰번호 등 기본 정보를 변경하실 수 있으며, 알림 설정도 변경할...
                                            <p class="my-4 text-right btnpadding-right">
                                              <a class="button button-outline button-sm" href="/hc/ko/articles/7052709194265-%ED%9A%8C%EC%9B%90-%EC%A0%95%EB%B3%B4-%EB%B3%80%EA%B2%BD%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94">
                                                  자세히보기
                                                </a>
                                            </p>
                                          </div>
                                      </div>
                                      <!------>
                                      <div class="bg-white" x-data="{ open: false }">
                                        <a class="h3 flex align-items-center justify-content-between px-6 py-4 my-0 transition hover:text-primary hover:no-underline is-hidden"  id="cbtn3" data-active-class="text-primary">
                                          펀딩 참여 내역은 어떻게 확인하나요?
                                          <svg class="fill-current pointer-events-none ml-3" :class="open &amp;&amp; 'rotate-180'" width="14px" viewBox="0 0 40 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path d="M20,19.5 C19.4,19.5 18.9,19.3 18.4,18.9 L1.4,4.9 C0.3,4 0.2,2.4 1.1,1.4 C2,0.3 3.6,0.2 4.6,1.1 L20,13.8 L35.5,1.1 C36.6,0.2 38.1,0.4 39,1.4 C39.9,2.5 39.7,4 38.7,4.9 L21.7,18.9 C21.1,19.3 20.5,19.5 20,19.5 Z" fill-rule="nonzero"></path>
                                          </svg>
                                        </a>
                                        <div class="content px-6 py-2 ydscontent collapse" id="article-8" >
                                          서포터님이 참여한 프로젝트는 [참여 내역]에서 확인할 수 있어요.
                                            참여한 펀딩·프리오더의 예약 취소를 원하시는 경우, 참여 내역에서 결제상태를 확인 후 직접 취소할 수 있어요.
                                            
                                            👉 참...
                                            <p class="my-4 text-right btnpadding-right">
                                              <a class="button button-outline button-sm" href="/hc/ko/articles/7054803825817-%ED%8E%80%EB%94%A9-%EC%B0%B8%EC%97%AC-%EB%82%B4%EC%97%AD%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%99%95%EC%9D%B8%ED%95%98%EB%82%98%EC%9A%94">
                                                  자세히보기
                                                </a>
                                            </p>
                                          </div>
                                        </div>                              
                                    </div>
                                </div>
                            <div class="video-library">

                                <div class="container py-4">
                                    <h2 class="inline-flex align-items-baseline mt-6" x-data="{ src: Theme.assets['promoted-videos-heading'] }">
                                        <template x-if="src">
                                            #document-fragment
                                        </template>
                                        원랩 TV
                                    </h2>
                                    <div class="relative overflow-hidden" data-element="video-library" data-layout="grid"
                                    data-columns="3" data-template="video-library" data-play-inline="false" data-ids="
                                    z4V6RoIxytc, uR7NzL_86Gs, S2caXNaKpDg,tlhEgarJRQk, Xix85yjSLr0, plIJCkiw-Ls
                                  ">
                                    <ul class="list-unstyled row">
                                        <li class="mb-6 md:col-4">
                                            <div class="relative w-full ratio ratio-16-9">
                                                <a class="relative block w-full ratio ratio-16-9 bg-cover bg-center cursor-pointer" data-url="z4V6RoIxytc" data-fancybox="" href="https://www.youtube.com/watch?v=z4V6RoIxytc" style="background-image: url(https://img.youtube.com/vi/z4V6RoIxytc/0.jpg);">
                                                    <iframe class="relative z-20 invisible" id="z4V6RoIxytc" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="(ENG) 편한 신발 브랜드 제누이오 성공 비결, 명품급 신발을 싸게 팔 수 있는 이유 | 게임체인저 제누이오" width="640" height="360" src="https://www.youtube.com/embed/z4V6RoIxytc?enablejsapi=1&amp;origin=https%3A%2F%2Fhelpcenter.wadiz.kr&amp;widgetid=1">

                                                    </iframe>
                                                    <div class="absolute-center z-10 flex p-4 circle button button-primary">
                                                        <svg class=" w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                            <path d="M78.627,47.203L24.873,16.167c-1.082-0.625-2.227-0.625-3.311,0C20.478,16.793,20,17.948,20,19.199V81.27  c0,1.25,0.478,2.406,1.561,3.031c0.542,0.313,1.051,0.469,1.656,0.469c0.604,0,1.161-0.156,1.703-0.469l53.731-31.035  c1.083-0.625,1.738-1.781,1.738-3.031C80.389,48.984,79.71,47.829,78.627,47.203z">

                                                            </path>
                                                        </svg>
                                                    </div>
                                                </a>
                                                <span class="absolute bottom-0 right-0 top-auto m-4 badge" data-duration="z4V6RoIxytc">
                                                    04:56
                                                </span>
                                            </div>
                                            <h3 class="h4 my-4" data-title="z4V6RoIxytc">(ENG) 편한 신발 브랜드 제누이오 성공 비결, 명품급 신발을 싸게 팔 수 있는 이유 | 게임체인저 제누이오

                                            </h3>
                                        </li>
                                        <li class="mb-6 md:col-4">
                                            <div class="relative w-full ratio ratio-16-9">
                                                <a class="relative block w-full ratio ratio-16-9 bg-cover bg-center cursor-pointer" data-url="uR7NzL_86Gs" data-fancybox="" href="https://www.youtube.com/watch?v=uR7NzL_86Gs" style="background-image: url(https://img.youtube.com/vi/uR7NzL_86Gs/0.jpg);">
                                                    <iframe class="relative z-20 invisible" id="uR7NzL_86Gs" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="상세페이지 기획만 잘해도 펀딩 성공할 수 있다?ㅣGame Changer - 제누이오ㅣ 와디즈 아카데미" width="640" height="360" src="https://www.youtube.com/embed/uR7NzL_86Gs?enablejsapi=1&amp;origin=https%3A%2F%2Fhelpcenter.wadiz.kr&amp;widgetid=2">

                                                    </iframe>
                                                    <div class="absolute-center z-10 flex p-4 circle button button-primary">
                                                        <svg class=" w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                            <path d="M78.627,47.203L24.873,16.167c-1.082-0.625-2.227-0.625-3.311,0C20.478,16.793,20,17.948,20,19.199V81.27  c0,1.25,0.478,2.406,1.561,3.031c0.542,0.313,1.051,0.469,1.656,0.469c0.604,0,1.161-0.156,1.703-0.469l53.731-31.035  c1.083-0.625,1.738-1.781,1.738-3.031C80.389,48.984,79.71,47.829,78.627,47.203z">

                                                            </path>
                                                        </svg>
                                                    </div>
                                                </a>
                                                <span class="absolute bottom-0 right-0 top-auto m-4 badge" data-duration="uR7NzL_86Gs">
                                                    05:45
                                                </span>
                                            </div>
                                            <h3 class="h4 my-4" data-title="uR7NzL_86Gs">상세페이지 기획만 잘해도 펀딩 성공할 수 있다?ㅣGame Changer - 제누이오ㅣ 와디즈 아카데미

                                            </h3>
                                        </li>
                                        <li class="mb-6 md:col-4">
                                            <div class="relative w-full ratio ratio-16-9">
                                                <a class="relative block w-full ratio ratio-16-9 bg-cover bg-center cursor-pointer" data-url="S2caXNaKpDg" data-fancybox="" href="https://www.youtube.com/watch?v=S2caXNaKpDg" style="background-image: url(https://img.youtube.com/vi/S2caXNaKpDg/0.jpg);">
                                                    <iframe class="relative z-20 invisible" id="S2caXNaKpDg" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="전자책 쓰는법 어렵지 않아요. 퇴사후 전자책 부업으로 6억 매출 달성한 방법 공개 ㅣGame Changer - 유성우ㅣ 와디즈 아카데미" width="640" height="360" src="https://www.youtube.com/embed/S2caXNaKpDg?enablejsapi=1&amp;origin=https%3A%2F%2Fhelpcenter.wadiz.kr&amp;widgetid=3">

                                                    </iframe>
                                                    <div class="absolute-center z-10 flex p-4 circle button button-primary">
                                                        <svg class=" w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                            <path d="M78.627,47.203L24.873,16.167c-1.082-0.625-2.227-0.625-3.311,0C20.478,16.793,20,17.948,20,19.199V81.27  c0,1.25,0.478,2.406,1.561,3.031c0.542,0.313,1.051,0.469,1.656,0.469c0.604,0,1.161-0.156,1.703-0.469l53.731-31.035  c1.083-0.625,1.738-1.781,1.738-3.031C80.389,48.984,79.71,47.829,78.627,47.203z">

                                                            </path>
                                                        </svg>
                                                    </div>
                                                </a>
                                                <span class="absolute bottom-0 right-0 top-auto m-4 badge" data-duration="S2caXNaKpDg">
                                                    05:23
                                                </span>
                                            </div>
                                            <h3 class="h4 my-4" data-title="S2caXNaKpDg">전자책 쓰는법 어렵지 않아요. 퇴사후 전자책 부업으로 6억 매출 달성한 방법 공개 ㅣGame Changer - 유성우ㅣ 와디즈 아카데미

                                            </h3>
                                        </li>
                                        <li class="mb-6 md:col-4">
                                            <div class="relative w-full ratio ratio-16-9">
                                                <a class="relative block w-full ratio ratio-16-9 bg-cover bg-center cursor-pointer" data-url="tlhEgarJRQk" data-fancybox="" href="https://www.youtube.com/watch?v=tlhEgarJRQk" style="background-image: url(https://img.youtube.com/vi/tlhEgarJRQk/0.jpg);">
                                                    <iframe class="relative z-20 invisible" id="tlhEgarJRQk" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="온라인 부업 아이템, 돈 버는 전자책 펀딩 방법 알려드립니다 | Game Changer 유성우 작가" width="640" height="360" src="https://www.youtube.com/embed/tlhEgarJRQk?enablejsapi=1&amp;origin=https%3A%2F%2Fhelpcenter.wadiz.kr&amp;widgetid=4">

                                                    </iframe>
                                                    <div class="absolute-center z-10 flex p-4 circle button button-primary">
                                                        <svg class=" w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                            <path d="M78.627,47.203L24.873,16.167c-1.082-0.625-2.227-0.625-3.311,0C20.478,16.793,20,17.948,20,19.199V81.27  c0,1.25,0.478,2.406,1.561,3.031c0.542,0.313,1.051,0.469,1.656,0.469c0.604,0,1.161-0.156,1.703-0.469l53.731-31.035  c1.083-0.625,1.738-1.781,1.738-3.031C80.389,48.984,79.71,47.829,78.627,47.203z">

                                                            </path>
                                                        </svg>
                                                    </div>
                                                </a>
                                                <span class="absolute bottom-0 right-0 top-auto m-4 badge" data-duration="tlhEgarJRQk">05:14

                                                </span>
                                            </div>
                                            <h3 class="h4 my-4" data-title="tlhEgarJRQk">온라인 부업 아이템, 돈 버는 전자책 펀딩 방법 알려드립니다 | Game Changer 유성우 작가</h3></li><li class="mb-6 md:col-4">
                                                <div class="relative w-full ratio ratio-16-9">
                                                    <a class="relative block w-full ratio ratio-16-9 bg-cover bg-center cursor-pointer" data-url="Xix85yjSLr0" data-fancybox="" href="https://www.youtube.com/watch?v=Xix85yjSLr0" style="background-image: url(https://img.youtube.com/vi/Xix85yjSLr0/0.jpg);">
                                                        <iframe class="relative z-20 invisible" id="Xix85yjSLr0" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="(ENG) 와디즈 펀딩 성공한 스텐팬 사용법 1인자 쿠자의 주방! 노하우 털이 ㅣGame Changer - 쿠자의주방ㅣ 와디즈 아카데미" width="640" height="360" src="https://www.youtube.com/embed/Xix85yjSLr0?enablejsapi=1&amp;origin=https%3A%2F%2Fhelpcenter.wadiz.kr&amp;widgetid=5">

                                                        </iframe>
                                                        <div class="absolute-center z-10 flex p-4 circle button button-primary">
                                                            <svg class=" w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                                <path d="M78.627,47.203L24.873,16.167c-1.082-0.625-2.227-0.625-3.311,0C20.478,16.793,20,17.948,20,19.199V81.27  c0,1.25,0.478,2.406,1.561,3.031c0.542,0.313,1.051,0.469,1.656,0.469c0.604,0,1.161-0.156,1.703-0.469l53.731-31.035  c1.083-0.625,1.738-1.781,1.738-3.031C80.389,48.984,79.71,47.829,78.627,47.203z">

                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                    <span class="absolute bottom-0 right-0 top-auto m-4 badge" data-duration="Xix85yjSLr0">
                                                        05:16
                                                    </span>
                                                </div>
                                                <h3 class="h4 my-4" data-title="Xix85yjSLr0">(ENG) 와디즈 펀딩 성공한 스텐팬 사용법 1인자 쿠자의 주방! 노하우 털이 ㅣGame Changer - 쿠자의주방ㅣ 와디즈 아카데미

                                                </h3>
                                            </li>
                                            <li class="mb-6 md:col-4">
                                                <div class="relative w-full ratio ratio-16-9">
                                                    <a class="relative block w-full ratio ratio-16-9 bg-cover bg-center cursor-pointer" data-url="plIJCkiw-Ls" data-fancybox="" href="https://www.youtube.com/watch?v=plIJCkiw-Ls" style="background-image: url(https://img.youtube.com/vi/plIJCkiw-Ls/0.jpg);">
                                                        <iframe class="relative z-20 invisible" id="plIJCkiw-Ls" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="EP. 0 레지나 뷰티 '디마프'의 우당탕탕 펀딩 도전기 | 서포터를 찾습니다 | 와디즈아카데미" width="640" height="360" src="https://www.youtube.com/embed/plIJCkiw-Ls?enablejsapi=1&amp;origin=https%3A%2F%2Fhelpcenter.wadiz.kr&amp;widgetid=6">

                                                        </iframe>
                                                        <div class="absolute-center z-10 flex p-4 circle button button-primary">
                                                            <svg class=" w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                                <path d="M78.627,47.203L24.873,16.167c-1.082-0.625-2.227-0.625-3.311,0C20.478,16.793,20,17.948,20,19.199V81.27  c0,1.25,0.478,2.406,1.561,3.031c0.542,0.313,1.051,0.469,1.656,0.469c0.604,0,1.161-0.156,1.703-0.469l53.731-31.035  c1.083-0.625,1.738-1.781,1.738-3.031C80.389,48.984,79.71,47.829,78.627,47.203z">

                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                    <span class="absolute bottom-0 right-0 top-auto m-4 badge" data-duration="plIJCkiw-Ls">
                                                        04:50
                                                    </span>
                                                </div>
                                                <h3 class="h4 my-4" data-title="plIJCkiw-Ls">EP. 0 레지나 뷰티 '디마프'의 우당탕탕 펀딩 도전기 | 서포터를 찾습니다 | 와디즈아카데미

                                                </h3>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!----------------------푸터 시작 ------------------------------>
        <!-- 푸터 클론코딩 제작 -->
      <footer class="footer-6" id="footer">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="svg-shape" viewBox="0 0 1200 120">
          <use xlink:href="#shape-book"></use>
        </svg>
        <div class="container-7"> </div>
        <!-- svg 에서 symbol 가져오기 -->
        <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
          <!-- symbol-1 -->
          <symbol id="icon-search">
            <circle
              cx="4.5"
              cy="4.5"
              r="4"
              fill="none"
              stroke="currentColor"
            ></circle>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              d="M11 11L7.5 7.5"
            ></path>
          </symbol>
          <!-- symbol-2 -->
          <symbol id="icon-lock">
            <rect
              width="12"
              height="9"
              x="2"
              y="7"
              fill="currentColor"
              rx="1"
              ry="1"
            ></rect>
            <path
              fill="none"
              stroke="currentColor"
              d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"
            ></path>
          </symbol>
          <!-- symbol-3 -->
          <symbol id="icon-star">
            <polygon
              points="213 325 81 405 116 255 0 154 153 141 213 0 273 141 426 154 310 255 345 405"
            ></polygon>
          </symbol>
          <!-- symbol-4 -->
          <symbol id="icon-chevron-down">
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"
            ></path>
          </symbol>
          <!-- symbol-5 -->
          <symbol id="icon-agent">
            <path
              fill="currentColor"
              d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"
            ></path>
          </symbol>
          <!-- symbol-6 -->
          <symbol id="shape-book">
            <path
            d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z"
            ></path>
          </symbol>
        </svg>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="main-container">
          <div class="containerq">
            <div class="divider">
              <div class="full-divider"></div>
            </div>
            <div class="box">
              <div class="box-1">
                <div class="text-gray">
                  <span class="button-text">정책.약관</span>
                  <div class="system-icon">
                    <div class="fill"></div>
                  </div>
                </div>
                <div class="text-gray-2" onclick="location.href='https://www.wadiz.kr/web/wterms/privacy'">
                  <span class="button-text-3">개인정보처리방침</span>
                  <div class="system-icon-4">
                    <div class="fill-5"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider-6">
              <div class="full-7"></div>
            </div>
          </div>
          <div class="container-8">
            <div class="box-9">
              <div class="box-a">
                <div class="box-b">
                  <div class="system-icon-c">
                    <div class="fill-d"></div>
                  </div>
                  <span class="wadiz-help-center">와디즈 도움말센터</span>
                </div>
                <div class="text-button">
                  <span class="button-text-f">채팅 상담하기</span>
                  <div class="system-icon-10">
                    <div class="fill-11"></div>
                  </div>
                </div>
                <div class="text-12" onclick="location.href='https://helpcenter.wadiz.kr/hc/ko/requests/new'">
                  <span class="button-text-13">문의 등록하기</span>
                  <div class="system-icon-14">
                    <div class="fill-15"></div>
                  </div>
                </div>
              </div>
              <div class="divider-16">
                <div class="full-17"></div>
              </div>
              <div class="box-18">
                <span class="counseling-available-time">상담 가능 시간</span>
                <span class="counseling-available-date">평일 오전 9시 ~ 오후 6시 (주말, 공휴일 제외)
                </span>
              </div>
            </div>
            <div class="box-19">
              <div class="box-1a">
                <div class="box-1b">
                  <div class="box-1c">
                    <span class="wadiz">와디즈(주)</span>
                    <div class="divider-1d">
                      <div class="middle-divider"></div>
                    </div>
                    <span class="representative-director">대표이사</span>
                    <span class="main-name">신혜성</span>
                    <div class="divider-1e">
                      <div class="middle-1f"></div>
                    </div>
                    <span class="business-number">사업자등록번호 258-87-01370</span>
                    <div class="divider-20">
                      <div class="middle-21"></div>
                    </div>
                    <span class="sales-number">통신판매업신고번호 2021-성남분당C-1153</span>
                    <div class="divider-22">
                      <div class="middle-23"></div>
                    </div>
                    <span class="span-address">경기 성남시 분당구 판교로 242 PDC A동 402호</span>
                  </div>
                  <div class="box-24">
                    <span class="span-email-consultation">이메일 상담</span>
                    <div class="divider-25">
                      <div class="middle-26"></div>
                    </div>
                    <span class="span-email">info@wadiz.kr</span>
                    <div class="divider-27">
                      <div class="middle-28"></div>
                    </div>
                    <span class="wired-counseling">유선 상담 1661-9056</span>
                    <span class="wadiz-co-ltd">ⓒ wadiz Co., Ltd.</span>
                  </div>
                </div>
                <span class="wadiz-disclaimer">
                  일부 상품의 경우 와디즈는 통신판매중개자이며 통신판매 당사자가 아닙니다.
                  <br>
                  해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용
                  을 확인하시기 바랍니다.
                  </span>
              </div>
              <div class="box-29">
                <div class="box-2a" onclick="location.href='https://play.google.com/store/apps/details?id=com.markmount.wadiz&pli=1'">
                  <div class="artwork-logo-1"></div>
                  <span class="android-app">Android앱</span>
                </div>
                <div class="box-2b">
                  <div class="artwork-logo-2" onclick="location.href='https://apps.apple.com/kr/app/%EC%99%80%EB%94%94%EC%A6%88/id1107828621'"></div>
                  <span class="ios-app">iOS앱</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- 푸터 클론코딩 범위 -->
        <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
            <symbol id="icon-search">
                <circle
                    cx="4.5"
                    cy="4.5"
                    r="4"
                    fill="none"
                    stroke="currentColor"
                ></circle>
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    d="M11 11L7.5 7.5"
                ></path>
            </symbol>
            <symbol id="icon-lock">
                <rect
                    width="12"
                    height="9"
                    x="2"
                    y="7"
                    fill="currentColor"
                    rx="1"
                    ry="1"
                ></rect>
                <path
                    fill="none"
                    stroke="currentColor"
                    d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"
                ></path>
            </symbol>
            <symbol id="icon-star">
                <polygon
                    points="213 325 81 405 116 255 0 154 153 141 213 0 273 141 426 154 310 255 345 405"
                ></polygon>
            </symbol>
            <symbol id="icon-chevron-down">
                <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"
                ></path>
            </symbol>
            <symbol id="icon-agent">
                <path
                    fill="currentColor"
                    d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"
                ></path>
            </symbol>

            <symbol id="shape-book">
                <path
                    d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z"
                ></path>
            </symbol>
        </svg>
     
    </body>
    <script>
    // document.addEventListener("DOMContentLoaded", function () {
    // // 첫 번째 버튼 요소 및 메뉴 요소 가져오기
    // const btn1 = document.querySelector("#cbtn1");
    // const layOut1 = document.querySelector("#article-6");

    // // 두 번째 버튼 요소 및 메뉴 요소 가져오기
    // const btn2 = document.querySelector("#cbtn2");
    // const layOut2 = document.querySelector("#article-7");

    // // 세 번째 버튼 요소 및 메뉴 요소 가져오기
    // const btn3 = document.querySelector("#cbtn3");
    // const layOut3 = document.querySelector("#article-8");

    // // 버튼 클릭 이벤트 핸들러 - 첫 번째 버튼
    // btn1.addEventListener("click", function (event) {
    //     event.stopPropagation();
    //     toggleMenu(layOut1);
    // });

    // // 버튼 클릭 이벤트 핸들러 - 두 번째 버튼
    // btn2.addEventListener("click", function (event) {
    //     event.stopPropagation();
    //     toggleMenu(layOut2);
    // });

    // // 버튼 클릭 이벤트 핸들러 - 세 번째 버튼
    // btn3.addEventListener("click", function (event) {
    //     event.stopPropagation();
    //     toggleMenu(layOut3);
    // });

    // // 문서의 다른 영역을 클릭할 때 숨김 이벤트 핸들러
    // document.addEventListener("click", function (event) {
    //     hideMenusExcept([layOut1, layOut2, layOut3], [btn1, btn2, btn3], event);
    // });

    // // 특정 메뉴를 토글하는 함수
    // function toggleMenu(menu) {
    //     if (menu.classList.contains("MoreMenu")) {
    //         menu.classList.remove("MoreMenu");
    //     } else {
    //         menu.classList.add("MoreMenu");
    //     }

    //     if (menu.style.display === "none" || menu.style.display === "") {
    //         menu.style.display = "block";
    //     } else {
    //         menu.style.display = "none";
    //     }

    //     console.log("MoreMenu");
    // }

    // // 다른 메뉴를 숨기는 함수
    //     function hideMenusExcept(menus, buttons, event) {
    //         for (let i = 0; i < menus.length; i++) {
    //             const menu = menus[i];
    //             const button = buttons[i];
    //             if (event.target !== button && !menu.contains(event.target)) {
    //                 menu.style.display = "none";
    //                 menu.classList.remove("MoreMenu");
    //             }
    //         }
    //     }
    // });

        
        /*-------------------------------------*/
      
    </script>
</html>
