<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/staticfiles/css/notification-sunghyun/notify_main.css"
        />
        <link rel=stylesheet href="/staticfiles/css/notification-sunghyun/footer.css">
        <link rel="icon" type="image/png" sizes="16x16" href="/staticfiles/images/admin-images/favicon/favicon-32x32.png">
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
        <link rel="stylesheet" href="/staticfiles/css/font/font.css">
        <link rel="stylesheet" href="/staticfiles/css/font/font-awesome-css.min.css">
        <title>와디즈 공지사항</title>
    </head>

    <body>
        <div id="page-container">
            <div class="black-wrap" style="display: none"></div>
            <!--헤더 작업 시작-->
            
                <!--------헤더 작업완료 ------->
            </div>
            
        </div>
    </div>
        <!------------로그인 체크 확인 하는 부분---------------------->
        <!-- <form id="forwardForm" method="get">
            <input type="hidden" id="returnURL" name="returnURL">
        </form>
        <input type="hidden" id="sessionLoginCheck" value="false"> -->
         <!------------로그인 체크 확인 하는 부분---------------------->
        

         
        <main class="board-ui">
            <!----------------공지사항 화면 부분-------------------------->
            <div class="ui-header">
                <h2 class="title" style="text-align: center;">공지 사항</h2>
            </div>
            <!----------------공지사항 화면 부분-------------------------->
            <div aria-hidden="true"></div> <!-------왜 있는지 모르겠지만 사이트에 있길래 작성함------>
            
            <!----------사이드 메뉴----------------------------->
            <div class="ui-tabs">
                <ul>
                    <li class="active">
                        <a href="" id="one">커뮤니티</a>
                    </li>
                    <li class="deactive">
                        <a href="" id="two">원랩</a>
                    </li>
                    <li class="deactive">
                        <a href="" id="three">장소공유</a>
                    </li>
                    <li class="deactive">
                        <a href="" id="four">대회/공모전</a>
                    </li>
                </ul>

            </div>
            <!----------사이드 메뉴----------------------------->


            <!--------메인 사이드 베너들 있는 화면---------------->
            <div class="board-main">
                <ul>
                    <li>
                        <a class="article" href="">
                            <em class="category">이벤트</em>
                            <em class="status closed">
                                진행 중
                            </em>
                            <em class="notice">
                                중요
                            </em>
                            <em class="notice">
                                BEST
                            </em>
                            <div class="info">
                                <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2024/0201/20240201202145306_0.png/wadiz/resize/400/format/jpg/quality/80)">
                                </div>
                                <h3 class="title">[원랩(OneLab)] '원랩 서비스 공식 오픈서비스  'Grand Open Event! (02/01 ~)

                                </h3>
                                <span class="author">원랩</span>
                                <span class="created-at">2024.02.01</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="article" href="#">
                            <em class="category">이벤트</em>
                            <em class="status closed">
                                진행 중
                            </em>
                            <em class="notice">
                                중요
                            </em>
                            <em class="notice">
                                BEST
                            </em>
                            <div class="info">
                                <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2024/0201/20240201134537164_0.jpg/wadiz/resize/400/format/jpg/quality/80)">
                                </div>
                                <h3 class="title">[원랩(OneLab)] '원랩 서비스 공식 오픈서비스  'Grand Open Event! (02/01 ~)

                                </h3>
                                <span class="author">원랩</span>
                                <span class="created-at">2024.02.01</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="article" href="#">
                            <em class="category">이벤트</em>
                            <em class="status closed">
                                진행 중
                            </em>
                            <em class="notice">
                                중요
                            </em>
                            <em class="notice">
                                BEST
                            </em>
                            <div class="info">
                                <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2024/0130/20240130133719756_0.png/wadiz/resize/400/format/jpg/quality/80)">
                                </div>
                                <h3 class="title">[원랩(OneLab)] '원랩 서비스 공식 오픈서비스  'Grand Open Event! (02/01 ~)

                                </h3>
                                <span class="author">원랩</span>
                                <span class="created-at">2024.02.01</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="article" href="#">
                            <em class="category">이벤트</em>
                            <em class="status closed">
                                진행 중
                            </em>
                            <em class="notice">
                                중요
                            </em>
                            <em class="notice">
                                BEST
                            </em>
                            <div class="info">
                                <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2024/0117/20240117091042069_0.png/wadiz/resize/400/format/jpg/quality/80)">
                                </div>
                                <h3 class="title">[원랩(OneLab)] '원랩 서비스 공식 오픈서비스  'Grand Open Event! (02/01 ~)

                                </h3>
                                <span class="author">원랩</span>
                                <span class="created-at">2024.02.01</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="article" href="#">
                            <em class="category">이벤트</em>
                            <em class="status closed">
                                진행 중
                            </em>
                            <em class="notice">
                                중요
                            </em>
                            <em class="notice">
                                BEST
                            </em>
                            <div class="info">
                                <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2024/0110/20240110111412343_0.png/wadiz/resize/400/format/jpg/quality/80)">
                                </div>
                                <h3 class="title">[원랩(OneLab)] '원랩 서비스 공식 오픈서비스  'Grand Open Event! (02/01 ~)

                                </h3>
                                <span class="author">원랩</span>
                                <span class="created-at">2024.02.01</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="article" href="#">
                            <em class="category">이벤트</em>
                            <em class="status closed">
                                진행 중
                            </em>
                            <em class="notice">
                                중요
                            </em>
                            <em class="notice">
                                BEST
                            </em>
                            <div class="info">
                                <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2024/0205/20240205092005471_0.jpg/wadiz/resize/400/format/jpg/quality/80)">
                                </div>
                                <h3 class="title">[공간와디즈] '와디즈 플래그십 스토어 성수' Grand Open Event! (~2/14)

                                </h3>
                                <span class="author">원랩</span>
                                <span class="created-at">2024.02.01</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--------메인 사이드 베너들 있는 화면---------------->


            <!-----------1,2,3,4,5,6... 이동할 수 있는 번호 메뉴들---------------------->
            <div class="board-footer">
                <div class="pagination">
                    <!--모바일 버튼-->
                    <button class="prev-page mobile-only" onclick="movePage(0)" disabled>
                        <span class="text-hidden">이전 목록</span>
                    </button>
                    <div class="page">
                        <!--모바일용 페이지 리스트-->
                        <div class="mobile-only">
                            <span class="current-count">1</span>
                            /
                             <span class="total-count">
                                <span>122</span>
                                페이지
                            </span>
                        </div>
                         <div class="desktop-only">
                            
                            <button class="prev-page" onclick="movePage(0)" disabled>
                                <img src="/staticfiles/css/admin-sunghyun/images/button2.png">
                            <span class=text-hidden>이전 목록</span>
                        </button>
                        
                            <a  href="" onclick="movePage(1)">1</a>
                            <a  href="" onclick="movePage(2)">2</a>
                            <a  href="" onclick="movePage(3)">3</a>
                            <a  href="" onclick="movePage(4)">4</a>
                            <a  href="" onclick="movePage(5)">5</a>
                            <a  href="" onclick="movePage(6)">6</a>
                            <!-- 데스크탑용 버튼 -->
                            <button class="next-page icon-chevron-right" onclick="movePage(7)">
                                <img src="/staticfiles/css/admin-sunghyun/images/button1.png">
                                <span class="text-hidden">다음 목록</span>
                              </button>
                        </div>
                    </div>
                    <button class="next-page mobile-only" onclick="movePage(2)">
                    <span class="text-hidden">다음 목록</span>
                </button>
            </div>
            <!-----------1,2,3,4,5,6... 이동할 수 있는 번호 메뉴들---------------------->

            <!-------------------검색창 화면------------------------------------------->
            <div class="search">
                <form method="post" id="news-search">
                    <div class="filter-container">
                        <select id="searchSelectInBoard" class="filter" name>
                            <option value="tc">제목 + 내용</option>
                            <option value="t">제목</option>
                            <option value="c">내용</option>
                        </select>
                    </div>
                    <div class="field">
                        <label class="text-hidden" for>검색창</label>
                        <input id="searchTextInBoard" name="searchSelectInBoard" class="search-form" type="text" value>
                        <button class="btn-search" type="submit">검색</button>
                    </div>
                </form>
                <form id="fromSearch" name="formSearchBoard" action="/web/wboard/newBoardList/"></form>
            </div>
            <!-------------------------검색창 화면 완료----------------------->
                
        </main>

        <!---------------------푸터 작업 시작------------------------------------>
       
    </body>
    <script src="/staticfiles/js/notify-sunghyun/notify.js"></script>
   
</html>