<!DOCTYPE html>
<html lang="en" class="scroll-top">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/staticfiles/css/notification-sunghyun/notify_detail.css"
        />
       
        <link rel="icon" type="image/png" sizes="16x16" href="/staticfiles/images/admin-images/favicon/favicon-32x32.png">
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
        <link rel="stylesheet" href="/staticfiles/css/font/font.css">
        <link rel="stylesheet" href="/staticfiles/css/font/font-awesome-css.min.css">
        <title>공지사항 상세보기</title>
    </head>
<!----------------------------------------------------------------------------------------------------->
    <body>
        <div id="page-container">
            <div class="black-wrap" style="display: none"></div>
            <!--헤더 작업 시작-->
           
    <!-------------------헤더 작업 끝--------------------------------------------->

       <!-----------------바디 작업 시작------------------------------------------------->
        <div id="newContainer">
            <div id="wBoardWrap">
                <div class="wboard-wrap">
                    <div class="wboard-content">
        <!-----------------------바디 제목 부분 시작---------------------------------------->
                        <div class="article-top">
                            <p class="title">[이벤트] 설날맞이 특별한 혜택이 서포터님을 기다려요! | 설날맞이 혜택런 (2/1~2/12)</p>
                       
                        <div class="info">
                            <em class="user-img" style="background-image:url(https://static.wadiz.kr/assets/icon/apple-touch-icon.png)"></em>
                            <span class="user-info">원랩
                                <br>
                                2024.02-09
                            </span>
                        </div>
                        </div>
        <!-----------------------바디 제목 부분 끝---------------------------------------->

        <!------------------------대형 이미지 부분 시작---------------------------------------------->
                        <div class="inner-contents">
                            <table style="width: 100%;padding:0 !important;border:none;">
                                <tbody>
                                    <tr>
                                        <td style="width: 100.0000%;padding:0 !important;border:none;background-color:#FFE2C0;">
                                            <img src="https://cdn.wadiz.kr/ft/images/green001/2024/0130/20240130171446798_45.gif" class="fr-fic fr-dib">
                                            <img src="https://cdn.wadiz.kr/ft/images/green001/2024/0208/20240208144110319_55.png/wadiz/format/jpg/quality/80" class="fr-fic fr-dib">
                                            <img src="https://cdn.wadiz.kr/ft/images/green001/2024/0208/20240208144110564_55.png/wadiz/format/jpg/quality/80" class="fr-fil fr-dib">
                                            <div data-component-name="downloadable-coupons"
                                            data-max-width="90%" data-templatate-numbers="3797,3798,3799,3800,3801,3802,3803,3804">
                                            <div class="Downloadable-jq" style="max-width: 90%;">
                                            <div class="CouponItem-jy">
                                                <div>
                                                    <p class="CouponItem-UB">
                                                        5000
                                                        원 할인
                                                    </p>
                                                    <p class="CouponItem_Bx">
                                                        펀딩 설날맞이 혜택런 쿠폰
                                                    </p>
                                                    <ul class="CouponItem-0F">
                                                        <li>
                                                            발급기간: 2024.02.09 23시 59분까지
                                                        </li>
                                                        <li>
                                                            유효기간 : 20204.02.09 23시 59분까지
                                                        </li>
                                                        <li>
                                                            50000원 이상 충전 시 사용 가능
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="DownloadButton-p">
                                                    <button type="button" class="DownloadButton-80">
                                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon__5xc48 DownloadButton_icon__1PUfB" aria-hidden="true">
                                                            <path d="M40.8 43.2H7.2v-2.4h33.6v2.4zm-5.28-22.08L25.2 31.44V4.8h-2.4v26.64L12.48 21.12 10.8 22.8 24 36l13.2-13.2-1.68-1.68z">

                                                            </path>
                                                        </svg>
                                                    </button>
                                                    <p class="DownloadButton-4I">
                                                        다운로드
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="CouponItem-jy">
                                                <div>
                                                    <p class="CouponItem-UB">
                                                        5000
                                                        원 할인
                                                    </p>
                                                    <p class="CouponItem_Bx">
                                                        펀딩 설날맞이 혜택런 쿠폰
                                                    </p>
                                                    <ul class="CouponItem-0F">
                                                        <li>
                                                            발급기간: 2024.02.09 23시 59분까지
                                                        </li>
                                                        <li>
                                                            유효기간 : 20204.02.09 23시 59분까지
                                                        </li>
                                                        <li>
                                                            50000원 이상 충전 시 사용 가능
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="DownloadButton-p">
                                                    <button type="button" class="DownloadButton-80">
                                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon__5xc48 DownloadButton_icon__1PUfB" aria-hidden="true">
                                                            <path d="M40.8 43.2H7.2v-2.4h33.6v2.4zm-5.28-22.08L25.2 31.44V4.8h-2.4v26.64L12.48 21.12 10.8 22.8 24 36l13.2-13.2-1.68-1.68z">

                                                            </path>
                                                        </svg>
                                                    </button>
                                                    <p class="DownloadButton-4I">
                                                        다운로드
                                                    </p>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <img src="https://cdn.wadiz.kr/ft/images/green001/2024/0208/20240208144111602_55.png/wadiz/format/jpg/quality/80" class="fr-fil fr-dib">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                <img src="https://cdn.wadiz.kr/ft/images/green001/2024/0130/20240130171448430_45.jpg/wadiz/format/jpg/quality/80" class="fr-fic fr-dib">
                            </p>
                <!--------------대형 사진부분 작업 끝--------------------------------------------------->

                <!---------------------Sticky 창 시작----------------------------------------------------------->
                            <div>
                                <div data-active-color="#FF9477" data-bg-color="#1D2129" data-component-name="wadiz-tabs" data-deactive-color="#A1A1A1"
                                style="position: sticky; top: 0px; z-index: 10;">
                                <div class="Tabs-bP">
                                    <div class="TableLayout-hv" style="grid-template-columns: repeat(2, calc(50% + 0px));
                                    gap:0px; background-color: rgb(29,33,41);">
                                    <button role="tab" type="button" class="Tabs-TE" id="1">
                                        <div class="Tabs-ct" style="color: rgb(255,148,119);">02.09(금)</div>
                                    </button>
                                    <button role="tab" type="button" class="Tabs-TE" id="2">
                                        <div class="Tabs-ct" style="color: rgb(255,148,119);">02.10(토)</div>
                                    </button>
                                    <button role="tab" type="button" class="Tabs-TE" id="3">
                                        <div class="Tabs-ct" style="color: rgb(255,148,119);">02.11(일)</div>
                                    </button>
                                    <button role="tab" type="button" class="Tabs-TE" id="4">
                                        <div class="Tabs-ct" style="color: rgb(255,148,119);">02.12(월)</div>
                                    </button>
                                </div>
                                <div role="presentation" id="scroll1"class="Tabs-JT" style="background-color: rgb(255,148,119);
                                width: 50%; height: 4px; top: 96px; transform: translateX(0%); transition: none 0s ease 0s;"></div>
                            </div>
                        </div>
                    <!-----------------------Sticky 창 작업 완료-------------------------------------->


                    <!-----------------------하단 이미지 레이아웃 시작----------------------------------->
                    <p id="section1" style="margin: 0;">
                        <br>
                    </p>
                    <div data-collection-keyword="240209cs, 240209" data-domain="comingsoon, funding" data-environment="live" data-horizontal-spacing="15" data-image-height-ratio="70" data-limit="10" data-order="recent" data-vertical-spacing="30" style="width: 90%; margin: 0 auto;">
                        <div>
                            
                            <div class="TableLayout-hv" style="grid-template-columns: repeat(2, calc(50% - 7.5px)); gap: 30px 15px;">
                        <!--------------------첫번째 이미지-------------------------------------------------------->
                                <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/266158">
                                    <div class="CommonCard-q" style="padding-top: 70%;">
                                        <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/02/06/0f070631-81dc-4b43-a91e-7ddd44801f84.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                                        </div>
                                    </div>
                                    <div class="CommonCard-Li">
                                        <div class="CommonCard-m">닭 한마리에 1%! 한 팩으로 간편하게 즐기는 닭 특수부위 미식요리 

                                        </div>
                                    </div>
                                </a>

                        <!--------------------두번째 이미지-------------------------------------------------------->
                                <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/266678">
                                    <div class="CommonCard-q" style="padding-top: 70%;">
                                        <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/02/06/18f957f5-8adb-4ade-b09d-c49cfe509957.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                                        </div>
                                    </div>
                                    <div class="CommonCard-Li">
                                        <div class="CommonCard-m">[앵콜/평생소장 피어싱] '피어난' 꽃의 가장 아름다운 순간을 담다.

                                    </div>
                                </div>
                            </a>
                        <!---------------------세번째 이미지------------------------------>
                                <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/268770">
                                    <div class="CommonCard-q" style="padding-top: 70%;">
                                        <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/18/004af996-e642-4e90-b18a-ca9d9edda5d2.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                                        </div>
                                    </div>
                                    <div class="CommonCard-Li">
                                        <div class="CommonCard-m">[못생겨서 오히려 좋아!] 세상에 없던 업사이클링 못난이 사과 핸드워시!

                                    </div>
                                </div>
                            </a>
                        <!----------------------네번째 이미지-------------------------------->
                            <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/268923">
                                <div class="CommonCard-q" style="padding-top: 70%;">
                                    <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/22/a75bd9b0-c3a8-4d3d-8dc4-4a498d879927.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                                </div>
                            </div>
                                <div class="CommonCard-Li">
                                    <div class="CommonCard-m">단 30초면 프리미엄 과일 주스가 뚝딱! 누적 판매 100만팩 아이스키트

                                </div>
                            </div>
                        </a>
                    <!----------------------다섯 번째 이미지------------------------------------->
                            <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/229713">
                                <div class="CommonCard-q" style="padding-top: 70%;">
                                    <div aria-hidden="true" class="CardThumbnail-kD CardThumnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2023/11/24/e47e58fb-6f69-4944-9b3c-42d86f648b7e.jpg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                                </div>
                            </div>
                                    <div class="CommonCard_contentContainer__3TYLi">
                                        <div class="CommonCard-m">[한정수량] 블럭형 캣타워로 고양이 건강까지 챙기는 방법

                                        </div>
                                    </div>
                                </a>
                    <!----------------------여섯 번째 이미지------------------------------------->

                                <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/266208">
                                    <div class="CommonCard-q" style="padding-top: 70%;">
                                        <div aria-hidden="true" class="CardThumbnail-kD CardThumnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/15/fb964efc-ebf5-466f-9ff7-03714e0ecc9d.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                                        </div>
                                    </div>
                                    <div class="CommonCard-Li">
                                        <div class="CommonCard-m">내 마음대로 만드는 나만의 맞춤 피팅룸

                                        </div>
                                    </div>
                                </a>
                                <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/262990">
                                    <div class="CommonCard-q" style="padding-top: 70%;">
                                        <div aria-hidden="true" class="CardThumbnail-kD CardThumnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/02/06/4d5da0f2-acdf-4d04-b641-0d93a7b96b5d.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                                        </div>
                                    </div>
                                    <div class="CommonCard-Li">
                                        <div class="CommonCard-m">유럽에서 매달 8000개 이상 팔리는 기능성 의자ㅣ아르코에어 스탠딩 스툴

                                    </div>
                                </div>
                            </a>
                    <!------------------일곱 번째 이미지---------------------------------------------->
                    <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/265158">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/09/7db3ac3b-9b10-452b-8cb2-815b7c9d4adb.png/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">[ 1억매출 옥키 ] 없어서 못먹는 바로 그 한끼 l 고구마 한끼

                            </div>
                        </div>
                    </a>
                    <!-----------------여덟 번째 이미지-------------------------------------->
                    <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/266695">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/02/06/1ca7a869-142a-4daa-a82d-8316ccc92825.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">[1.1억 혈액순환 특허패치] 붙이기만하면 근육통 끝, 작지만 막강하죠

                            </div>
                        </div>
                    </a>
                    <!------------------아홉번째 이미지--------------------------------->
                    <a class="CommonCard-G2" href="https://www.wadiz.kr/web/campaign/detail/268293">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/17/bbd2ebfe-fae7-4237-9dce-e3cbb51cf3cd.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">단백질21.9g에 110kcal? 2분이면 육즙이 팡! 뒷다리살 마늘보쌈

                            </div>
                        </div>
                    </a>
                    <!-------------------------------------------------------------------------->
                </div>
            </div>
        </div>
        <!---------------------기존 사이트에서는 이 코드부분부터 Sticky창의 색깔이 바뀌는 기능이였습니다.------------->
        <div data-collection-keyword="seolbenefitrun" data-domain="store" data-environment="live" data-horizontal-spacing="15" data-image-height-ratio="70" data-limit="4" data-order="recommend" data-vertical-spacing="30" style="width: 90%; margin: 0 auto;">
            <div>
                <div class="TableLayout-hv" style="grid-template-columns: repeat(2, calc(50% - 7.5px)); gap: 30px 15px;">
        <!------------------------------------------------------------------------------------------------------------------>
        <!----------------------이미지---------------------------------------->
                    <a class="CommonCard-G2" href="https://www.wadiz.kr/web/store/detail/5032">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn2.wadiz.kr/2023/11/27/416c7c27-ae2a-440e-aa8b-b9ae3489cb84.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                            <div class="CommonCard-fc">

                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">원터치로 9분만에 찰진 솥밥! 소댕 압력밥솥 풀세트

                            </div>
                        </div>
                    </a>
                    <!----------------------이미지---------------------------------------->
                    <a class="CommonCard-G2" href="https://www.wadiz.kr/web/store/detail/1581">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn2.wadiz.kr/2023/12/22/ed099fd6-2afd-4e1c-a52b-dbe4d2aad460.png/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                            <div class="CommonCard-fc">

                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard_title__3OS-m">전자레인지 OK!투명하고 가벼운 래치락 밀폐용기 3종/4종세트

                            </div>
                        </div>
                    </a>
                    <!----------------------이미지---------------------------------------->
                    <a class="CommonCard-G2" href="https://www.wadiz.kr/web/store/detail/4889">
                        <div class="CommonCard-_q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn2.wadiz.kr/2023/12/11/17421e8e-b5ba-47bb-bcbe-4be1cda8dd0a.jpg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                            <div class="CommonCard-fc">

                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">벗겨지지 않는 원조 스텐팬으로 끝까지 따뜻하게! #쿠자팬

                            </div>
                        </div>
                    </a>
                    <!----------------------이미지---------------------------------------->
                    <a class="CommonCard-G2" href="https://www.wadiz.kr/web/store/detail/2479">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn2.wadiz.kr/2023/12/18/4963acee-1888-4a76-b53a-d1f02f5a167a.jpg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                            <div class="CommonCard-fc">

                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">안전하고 깔끔한 택배 개봉! 피스코리아 자석 박스커터 3컬러

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-------------------------------이 부분도 마찬가지로 기존 사이트에서  Sticky창의 색깔이 바뀌는 기능을 담은 코드였습니다.---------------------------------------->
        <p id="section2" style="margin: 0;">
            <br>
        </p>
        <div data-collection-keyword="240210cs, 240210" data-domain="comingsoon, funding" data-horizontal-spacing="15" data-image-height-ratio="70" data-limit="50" data-order="recent" data-vertical-spacing="30" style="width: 90%; margin: 0 auto;">
            <div>
                <div class="TableLayout-hv" style="grid-template-columns: repeat(2, calc(50% - 7.5px)); gap: 30px 15px;">
                <!----------------------------이미지-------------------------------------->
                    <a class="CommonCard-G2" href="/web/wcomingsoon/rwd/269742">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/24/8dce00e0-c810-4646-8cb6-0bc84be8cefd.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">한식대가 임성근 쉐프가 선보이는 비법만능소스를 만나보세요!

                            </div>
                        </div>
                    </a>
                <!----------------------------이미지-------------------------------------->
                    <a class="CommonCard-G2" href="/web/wcomingsoon/rwd/270713">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnai-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/26/00017c90-ef3f-47ca-9740-637c27b1b9d2.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-YLi">
                            <div class="CommonCard-m">[80%] 압도되는 과육량의 과일가득청, 음료나 디저트로 다양하게 즐겨요

                            </div>
                        </div>
                    </a>
                <!----------------------------이미지-------------------------------------->
                    <a class="CommonCard-G2" href="/web/wcomingsoon/rwd/269022">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/22/0ff81407-1373-471d-83d9-89fe614e5298.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">[55개 한정수량] 우크라이나에서 스페인산 참나무로 제작된 리얼 오크통.

                            </div>
                        </div>
                    </a>
                <!----------------------------이미지-------------------------------------->
                    <a class="CommonCard-G2" href="/web/wcomingsoon/rwd/265854">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/11/9168ade3-2b2e-4c1f-8546-ed3a4b097a0e.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">명절 스트레스 타파! 매콤한 청양고추의 맛! 무뼈닭발 &amp; 무뼈닭갈비

                            </div>
                        </div>
                    </a>
                <!----------------------------이미지-------------------------------------->
                    <a class="CommonCard-G2" href="/web/wcomingsoon/rwd/267316">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/12/8835ad31-2440-4671-a604-e2cfb9335c84.png/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">[90년 전통 서울유산] 잼배옥 한우 사골 도가니탕과 설렁탕을 만나보세요

                            </div>
                        </div>
                    </a>
                <!----------------------------이미지-------------------------------------->
                    <a class="CommonCard-G2" href="/web/wcomingsoon/rwd/265289">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/22/aceff720-ae1f-486d-923b-eb16ec866a42.png/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">운동화가 아닙니다. 헬스장에서 신는 '고 기능' 헬스화'입니다.

                            </div>
                        </div>
                    </a>
                <!----------------------------이미지-------------------------------------->
                    <a class="CommonCard-G2" href="/web/wcomingsoon/rwd/255275">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/14/1c5b47f7-5e6a-4be3-b491-e5156f8ee9ee.jpeg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">드디어 국내 상륙. 괴물 스펙 보조배터리 &lt;유그린 145W 보조배터리&gt;

                            </div>
                        </div>
                    </a>
                <!----------------------------이미지-------------------------------------->
                    <a class="CommonCard-G2" href="/web/wcomingsoon/rwd/255261">
                        <div class="CommonCard-q" style="padding-top: 70%;">
                            <div aria-hidden="true" class="CardThumbnail-kD CardThumbnail-c" style="background-image: url(&quot;https://cdn3.wadiz.kr/studio/images/2024/01/09/b6e36d45-85e9-4b30-a187-e6f00c0b9083.jpg/wadiz/resize/500/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="CommonCard-Li">
                            <div class="CommonCard-m">청담동 예비 신부들의 비밀 헤어 클리닉! 홈케어로 누리는 찰랑이는 머릿결

                            </div>
                        </div>
                    </a>  
            </div>
        </div>
    </div>
    <!----------------이미지 부분 작업 완료----------------------------------------->

    <!----------주황색 큰 부분 작업 시작------------------------------------------------>
    <p>
        <!--------------첫번째 주황색 a 태그----------------------------------------->
        <a href="https://www.wadiz.kr/web/wreward/collection/seolbenefitrun?order=recommend&amp;endYn=N" rel="noopener noreferrer" target="_blank">
            <!------------첫번째 주황색 이미지------------>
            <img src="https://cdn.wadiz.kr/ft/images/green001/2024/0130/20240130171448665_45.jpg/wadiz/format/jpg/quality/80" class="fr-fic fr-dib">
        </a>
            <!------------두번째 주황색 이미지-------------------------->
            <img src="https://cdn.wadiz.kr/ft/images/green001/2024/0130/20240130171448950_45.jpg/wadiz/format/jpg/quality/80" class="fr-fic fr-dib">
        
    </p>
    <!-----------------------주황색 큰 부분 이미지 작업 완료--------------------------->
    
    <!----------------------카톡,페북,트윗 버튼들이 있는 레이 아웃 시작----------------------->
    <div class="article-attached">
        <ul> </ul>
    </div>
            <div class="wcommunity">
                <div class="wcommunity-area">
                    
                    <div class="btn-share">
                        <!-------------아마 카톡,페이스북,트위터로 연결되는 함수를 담은 버튼 태그 인 듯합니다.-->
                        <button class="kakao" onclick="wadiz.share.kakao({ onelink: kakaoOnelink });"></button>
                        <button class="facebook" onclick="wadiz.share.facebook();"></button>
                        <button class="twitter" onclick="wadiz.share.twitter();"></button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    <!--------------------카톡,페북,트윗 레이아웃 작업 완료-------------------------------->
    
    <!----------------------하단 이벤트 항목 레이아웃 시작------------------------------------->
    <div class="wboard-bottom">
        <div class="wboard-comment">
            <p class="comment-num">
                <em>공지사항</em>
                 내 다른 게시글
            </p>
            <div class="wboard-list">
                <ul>
                    <li>
                        <a href="#">
                            <p class="title">
                                <em class="category">이벤트<button class="twitter" onclick="wadiz.share.twitter();">
                                </button>
                            </em>
                            
                          [공간와디즈] '원랩 플래그십 스토어 성수' Grand Open Event! (~2/14)
                        
                            </p>
                            <p class="info">
                                <span class="date">
                                    원랩 2024.02.01
                                </span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="title">
                                <em class="category">이벤트</em>
                                
                          [전체] 장소공유 및 자료공유 활용법! | XXX공모전 대회 모집 (2/14~2/20)
                        
                            </p>
                            <p class="info">
                                <span class="date">
                                    원랩 2024.01.30
                                </span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wboard-btn-wrap">
            <a class="wz button" href="/templates/html/notification_sunghyun/notify_main.html" onclick="moveList()">목록으로 돌아가기</a>
        </div>
    </div>
</div>
    <!----------------하단 이벤트 항목 레이아웃 완료------------------------------------------>



        <!---------------------------푸터 작업------------------------------->
      
        <div class="Float-a">
            <button type="button" class="Float-Y" title="위로 이동">
                <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__1ahWE" aria-hidden="true">
                    <path d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z">

                    </path>
                </svg>
            </button>
        </div>
    </body>
    <script src="/staticfiles/js/notify-sunghyun/notify.js"></script>
    <script src="/staticfiles/js/notify-sunghyun/notify_detail.js"></script>
   
</html>