<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>쪽지 상세보기</title>
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/templates/html/one-lab-soyoung/favicon/favicon-16x16.png"
        />
        <link
            rel="stylesheet"
            href="/staticfiles/css/note-kanghyun/note_view_detail.css"
        />
    </head>
    <body class>
        <div></div>
        <div class="layout flex flex-1 flex-column">
            <!-- 헤더 -->
            <header></header>
            <!-- 바디 -->
            <main role="main">
                <div class="container flex-1 py-6" id="page-container">
                    <!-- 제목 -->
                    <header class="mb-5">
                        <h1
                            class="font-medium"
                            title="알림 신청한 프로젝트는 어디서 확인하나요?"
                            itemprop="name"
                        >
                            알림 신청한 프로젝트는 어디서 확인하나요?
                        </h1>
                        <div class="flex">
                            <div class="media">
                                <div
                                    class="font-size-md align-self-center hidden"
                                >
                                    <ul class="list-divider"></ul>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- 본문 내용 -->
                    <div class="row row-lg">
                        <article class="col mt-6">
                            <section class="content article-content mb-6">
                                <div id="table-of-contents"></div>
                                <!-- 제목 -->
                                <h3 id="content-title">
                                    <strong>from: 익명이</strong>
                                </h3>
                                <!-- 내용 -->
                                <p>
                                    찜. 알림 신청 목록 뿐만 아니라 최근에 본
                                    프로젝트 목록까지 확인할 수 있어요.&nbsp;<br />프로젝트
                                    이미지 우측 상단의 하트를 클릭해서 구독 신청
                                    또는 해지 처리도 할 수 있어요. 😄
                                </p>
                            </section>
                        </article>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
