<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>쪽지리스트 헤더</title>
        <link
            rel="stylesheet"
            href="/staticfiles/css/note-kanghyun/note_list.css"
        />
    </head>
    <body class>
        <div></div>
        <div class="layout flex flex-1 flex-column" x-data="Widgets.mobileMenu">
            <header
                class="header relative border-bottom sticky-header visible sticky-top transition is-unstuck"
                x-data="Widgets.header({ isFixed: false, isSticky: true})"
                :class="{ 'text-header bg-header': isStuck, 'shadow': isStuck, 'border-bottom': !isFixed }"
            >
                <nav class="navbar container h-full">
                    <a href="/hc/ko" class="navbar-brand mr-auto">
                        <img
                            class="block img-fluid"
                            id="logo"
                            src="//theme.zdassets.com/theme_assets/13612819/a2bda3d577fa2698038267539c34a696a70da97c.png"
                            alt="도움말 센터 헬프 센터 홈 페이지"
                        />
                    </a>
                    <button
                        class="navbar-toggle ml-2 lg:hidden"
                        x-ref="toggle"
                        :aria-expanded="isOpen &amp;&amp; 'true'"
                        @click="toggle"
                        @keydown.escape="toggle"
                        aria-expanded="false"
                    >
                        <span></span>
                        <span class="sr-only">탐색 메뉴 토글</span>
                    </button>
                    <div
                        class="backdrop lg:hidden"
                        x-show="isOpen"
                        @click="close"
                        x-transition:enter="transition-fast"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition-fast"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        style="display: none;"
                    ></div>
                    <div
                        class="nav menu menu-slide-in menu-links-right lg:flex lg:align-items-center lg:font-size-md lg:menu-expanded lg:justify-content-end"
                        x-show="isOpen"
                        :class="{ 'text-header': isOpen }"
                        x-transition:enter="transition-fast"
                        x-transition:enter-start="translate-x-full"
                        x-transition:enter-end="translate-x-0"
                        x-transition:leave="transition-fast"
                        x-transition:leave-start="translate-x-0 text-header"
                        x-transition:leave-end="translate-x-full text-header"
                        style="display: none;"
                    >
                        <div
                            class="search flex text-base mx-4 mb-4 flex-first lg:max-w-13 lg:flex-1 lg:mx-5 lg:mb-0"
                            x-data="Widgets.search"
                        >
                            <form
                                role="search"
                                class="form-field flex-1 mb-0"
                                data-search=""
                                action="/hc/ko/search"
                                accept-charset="UTF-8"
                                method="get"
                            >
                                <input
                                    name="utf8"
                                    type="hidden"
                                    value="✓"
                                    autocomplete="off"
                                /><input
                                    type="search"
                                    name="query"
                                    id="query"
                                    placeholder="검색어를 입력해 주세요"
                                    aria-label="검색어를 입력해 주세요"
                                />
                            </form>

                            <svg
                                class="search-icon fill-current transition"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 12 12"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </div>

                        <!--커뮤니티 링크 주석처리
                      커뮤니티 링크 주석 처리-->

                        <div
                            data-element="template"
                            data-template="category-dropdown"
                        ></div>

                        <a
                            class="button button-yds2 button-sm m-2 align-self-center header-link flex-last lg:order-inherit lg:my-0"
                            href=""
                        >
                            쪽지 보내기
                        </a>

                        <a
                            class="button button-yds3 button-sm m-2 align-self-center header-link flex-last lg:order-inherit lg:my-179"
                            href=""
                            >메인페이지
                        </a>

                        <!-- 로그인 주석처리
                        <a class="button button-primary button-sm m-2 align-self-center flex-last lg:order-inherit lg:my-0" href="/hc/ko/signin?return_to=https%3A%2F%2Fhelpcenter.wadiz.kr%2Fhc%2Fko%2Fcategories%2F25448157450521-%25EC%2584%259C%25ED%258F%25AC%25ED%2584%25B0">
                          로그인
                        </a>
                      로그인 주석처리 마지막-->
                    </div>
                </nav>
            </header>
        </div>
    </body>
</html>
