<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <link rel="stylesheet" href="/staticfiles/css/mainpage-app-yujin/main-page-app.css" />
        <title>메인페이지-반응형</title>
    </head>
    <body>
        <div id="page-container">
            <main id="main-app">
                <div class="web-header">
                    <div class="web-header-mobile">
                        <header class="header-wrapper">
                            <div class="header-container" style="display: flex;">
                                <ul class="mobile-container">
                                    <li class="mobile-item">
                                        <a class="mobile-link active" href="">
                                            <svg
                                                viewBox="0 0 40 40"
                                                focusable="false"
                                                role="presentation"
                                                class="bottom-icon"
                                                aria-hidden="true"
                                                style="width: 28px; height: 28px;"
                                            >
                                                <path
                                                    d="M38.32 26.87v-13h-1.88a1.73 1.73 0 0 0-1.73 1.59A6.82 6.82 0 0 0 23.26 20a6.67 6.67 0 0 0 2.45 5.61 8 8 0 0 0 9.74.25 1.56 1.56 0 0 0 1.47 1l1.4.01zm-7.49-2.39a3.88 3.88 0 0 1-3.72-4 3.88 3.88 0 0 1 3.72-4 3.88 3.88 0 0 1 3.72 4 3.88 3.88 0 0 1-3.72 4zM19.77 13.86L17.14 22l-2.65-8.1H11.9a1.73 1.73 0 0 0-1.65 1.2L8 22l-2.63-8.1H1.68L6 26.87h3.7l2.87-8.35 2.86 8.35h3.7l4.33-13-3.69-.01z"
                                                ></path>
                                            </svg>
                                            <span class="mobile-text">홈</span>
                                        </a>
                                    </li>
                                    <li class="mobile-item">
                                        <a class="mobile-link" href="">
                                            <svg
                                                viewBox="0 0 40 40"
                                                focusable="false"
                                                role="presentation"
                                                class="bottom-icon"
                                                aria-hidden="true"
                                                style="margin-left: 10px; width: 32px; height: 32px;"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M21 5.5a4.502 4.502 0 0 1-2.979 4.236l1.343 6.267a3.5 3.5 0 1 1-3.345 3.127l-4.537-1.297a5.5 5.5 0 1 1-1.878-6.874l3.192-2.903A4.5 4.5 0 1 1 21 5.5zm-3.233 3.048a3.301 3.301 0 1 0-2.536-6.096 3.301 3.301 0 0 0 2.536 6.096zM16.5 10a4.482 4.482 0 0 1-2.896-1.056l-3.084 2.803a5.517 5.517 0 0 1 1.35 4.95l4.479 1.279a3.513 3.513 0 0 1 1.842-1.723l-1.343-6.266A4.46 4.46 0 0 1 16.5 10zm-10 1.2a4.28 4.28 0 0 1 3.132 1.354 4.285 4.285 0 0 1 1.08 3.811 4.27 4.27 0 0 1-.403 1.133 4.317 4.317 0 0 1-2.067 1.934A4.3 4.3 0 1 1 6.5 11.2zm13.895 10.42a2.3 2.3 0 1 0-.895.18 2.3 2.3 0 0 0 .895-.18z"
                                                ></path>
                                            </svg>
                                            <span class="mobile-text">커뮤니티</span>
                                        </a>
                                    </li>
                                    <li class="mobile-item">
                                        <a class="mobile-link" href="">
                                            <svg
                                                viewBox="0 0 40 40"
                                                focusable="false"
                                                role="presentation"
                                                class="bottom-icon"
                                                aria-hidden="true"
                                                style="width: 28px; height: 28px; margin-left:5px;"
                                            >
                                                <path
                                                    d="M28.8 8.8H3.2V7.2h25.6zm0 6.4H3.2v1.6h25.6zm0 8H3.2v1.6h25.6z"
                                                ></path>
                                            </svg>
                                            <span class="mobile-text">카테고리</span>
                                        </a>
                                    </li>
                                    <li class="mobile-item">
                                        <a class="mobile-link" href="">
                                            <svg
                                                viewBox="0 0 40 40"
                                                focusable="false"
                                                role="presentation"
                                                class="bottom-icon"
                                                aria-hidden="true"
                                                style="width: 28px; height: 28px; margin-left: 5px;"
                                            >
                                                <path
                                                    d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085zm-5.28 21.84l-.88.8-.88-.8h-.08C8.4 19.76 4 15.84 4 11.44l-.001-.082A5.76 5.76 0 0 1 9.928 5.6a6.542 6.542 0 0 1 4.865 2.232l.486.567h1.52l.48-.56a6.548 6.548 0 0 1 4.877-2.24l.084-.001a5.76 5.76 0 0 1 5.76 5.76l-.001.085c0 4.396-4.4 8.316-11.12 14.396z"
                                                ></path>
                                            </svg>
                                            <span class="mobile-text">좋아요</span>
                                        </a>
                                    </li>
                                    <li class="mobile-item">
                                        <a class="mobile-link" href="">
                                            <svg
                                                viewBox="0 0 40 40"
                                                focusable="false"
                                                role="presentation"
                                                class="bottom-icon"
                                                aria-hidden="true"
                                                style="width: 24px; height: 24px;"
                                            >
                                                <path
                                                    d="M20.27 22.3a9.43 9.43 0 1 0-9.42-9.42 9.43 9.43 0 0 0 9.42 9.42zm0-16.76a7.34 7.34 0 1 1-7.34 7.34 7.34 7.34 0 0 1 7.34-7.34zm0 20.05c-6.52 0-15.19 1.09-15.19 10.57h2.08c0-5.95 3.92-8.49 13.11-8.49s13.11 2.54 13.11 8.49h2.08c0-9.48-8.67-10.57-15.19-10.57z"
                                                ></path>
                                            </svg>
                                            <span class="mobile-text">마이원랩</span>
                                        </a>
                                    </li>
                                </ul>
                                <button class="search-field-container" type="button">
                                    <p>새로운 일상이 필요하신가요?</p>
                                    <svg
                                        viewBox="0 0 40 40"
                                        focusable="false"
                                        role="presentation"
                                        class="search-icon"
                                        aria-hidden="true"
                                        style="width: 24px; height: 24px;"
                                    >
                                        <path fill="none" d="M0 0h40v40H0z"></path>
                                        <path
                                            d="M29.2 27.91a14.38 14.38 0 1 0-1.42 1.4l7.16 7.15.07.08 1.41-1.41zM18.45 6a12.36 12.36 0 0 1 8.35 3.23 12.24 12.24 0 0 1 4 8.59A12.39 12.39 0 1 1 17.88 6z"
                                        ></path>
                                    </svg>
                                </button>
                                <div class="notification-container">
                                    <button class="notification-button-container">
                                        <svg
                                            viewBox="0 0 40 40"
                                            focusable="false"
                                            role="presentation"
                                            class="notificationn-icon"
                                            aria-hidden="true"
                                        >
                                            <path fill="none" d="M0 0h40v40H0z"></path>
                                            <path
                                                d="M36.78 32l-.89-1.56a16.92 16.92 0 0 1-2.18-8.68v-7.12A12.78 12.78 0 0 0 30 5.54a13.86 13.86 0 0 0-9.91-4 14.05 14.05 0 0 0-9.95 4 12.74 12.74 0 0 0-3.76 9.1v7.14a16.92 16.92 0 0 1-2.18 8.68L3.22 32h10.91a5.58 5.58 0 0 0 .2 2.8 5.75 5.75 0 0 0 4.44 3.86 5.52 5.52 0 0 0 1 .09 5.79 5.79 0 0 0 3.71-1.36 5.7 5.7 0 0 0 2-4.38 4.88 4.88 0 0 0-.11-1zM8.37 21.78v-7.14A10.66 10.66 0 0 1 11.52 7 11.81 11.81 0 0 1 20 3.66 11.92 11.92 0 0 1 28.48 7a10.65 10.65 0 0 1 3.14 7.62v7.14a19.52 19.52 0 0 0 1.67 8.16H6.71a19.52 19.52 0 0 0 1.66-8.14zM23.42 33a3.64 3.64 0 0 1-7.11 1.13 3.41 3.41 0 0 1 0-2.14h7a3.18 3.18 0 0 1 .11 1.01z"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
