<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <link rel="stylesheet" href="/staticfiles/css/mainpage-app-yujin/main-page-app.css" />
        <title>메인페이지-반응형</title>
    </head>
    <body>
        <div id="page-container">
            <main id="main-app">
                <div class="web-header">
                    <div class="web-header-mobile">
                        <header class="header-wrapper">
                            <div class="header-container" style="display: flex;"></div>
                        </header>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
