<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/staticfiles/css/one-lab-soyoung/one-lab-detail-n.css">
    <title>원랩 상세보기 new</title>
</head>
<body>
    <div id="page-container">
        <main id="main">
            <!-- 헤더 -->
            <div class="main-wrapper-content">
                <div class="main-wrapper-container">
                    <div class="banner-container">
                        <div class="banner-img" style="background-image: url('/templates/html/one-lab-soyoung/images/onelab4.png');"></div>
                            <!-- 공유하기 버튼 -->
                            <button type="button" class="wish-btn" style="right: 360px;">
                                <img src="/templates/html/one-lab-soyoung/images/share.png" style="width: 35px; height: 35px;" alt="">
                            </button>
                            <!-- 좋아요 버튼 -->
                            <button type="button" class="wish-btn like-btn">
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="wish-icon" aria-hidden="true">
                                    <path class="dislike-icon" d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                </svg>
                            </button>
                        <div class="banner-text">
                            <div class="banner-title-box">
                                <div class="banner-title-wrapper">
                                    <p class="banner-title">원랩 이름</p>
                                </div>
                            </div>
                            <!-- 인원 섹션 -->
                            <div class="count-person-area" style="min-width: 140px;">
                                <div class="count-person-icon" style="background-image: url('/templates/html/one-lab-soyoung/images/person-count.png');"></div>
                                <p class="count-person">07명 / 10명</p>
                            </div>

                            <div style="display: flex;">
                                <!-- 랩장 -->
                                <div class="lab-member-box-container" style="margin: 0 auto;">
                                    <div class="lab-member-box" style="margin-right: 30px;">
                                        <dl class="lab-member-detail">
                                            <!-- 대학 로고 -->
                                            <dd class="lab-member-university-icon">
                                                <i class="university-icon"></i>
                                            </dd>
                                            <dd class="member-name">
                                                <img src="/templates/html/one-lab-soyoung/images/crown-yellow.png" alt="">
                                                <strong>장 이름</strong>
                                            </dd>
                                            <dd class="member-info">
                                                랩장의 정보는 00이며, ㅁㅁ에요.
                                            </dd>
                                            <dd class="member-labs">
                                                <!-- <a href="" class="go-other-lab">다른 랩 보기</a> -->
                                                <ul class="other-lab-list">
                                                    <!-- li 클릭시 해당 원랩 상세페이지로 이동 -->
                                                    <a href="">
                                                        <li class="lab">
                                                            <div class="lab-img-area">
                                                                <img class="lab-img" src="/templates/html/share-soyoung/images/community-green.png" alt="">
                                                            </div>
                                                        </li>
                                                    </a>
                                                    <a href="">
                                                        <li class="lab">
                                                            <div class="lab-img-area">
                                                                <img class="lab-img" src="/templates/html/share-soyoung/images/community-green.png" alt="">
                                                            </div>
                                                        </li>
                                                    </a>
                                                    <a href="">
                                                        <li class="lab">
                                                            <div class="lab-img-area">
                                                                <img class="lab-img" src="/templates/html/share-soyoung/images/community-green.png" alt="">
                                                            </div>
                                                        </li>
                                                    </a>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                
                                <!-- 전체 랩원 섹션 -->
                                <div class="lab-member-info-container" style="margin: 0 auto;">
                                    <!-- <strong class="lab-member-info-sub-title">
                                        각 분야의 전문서비스로 메이커님의 고민을 함께 해결합니다
                                    </strong> -->
                                    <div class="lab-member-box-column">

                                        <!-- +버튼을 눌렀을 때 활성화 될 이전 버튼 -->
                                        <div class="lab-member-back-container">
                                            <div class="lab-member-back-box member-list">
                                                <dl class="lab-member-back-detail">
                                                    <dd class="lab-member-back-icon member">
                                                        <i class="back-icon member"></i>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <!-- <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div> -->

                                        <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="lab-member-box-container">
                                            <div class="lab-member-box member-list">
                                                <dl class="lab-member-detail">
                                                    <dd class="lab-member-university-icon member">
                                                        <i class="university-icon member"></i>
                                                    </dd>
                                                    <dd class="member-name member">
                                                        <strong>랩원 이름</strong>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <!-- 랩원이 10명 이상일 경우, 활성화 될 +버튼 -->
                                        <div class="lab-member-more-container">
                                            <div class="lab-member-more-box member-list">
                                                <dl class="lab-member-more-detail">
                                                    <dd class="lab-member-more-icon member">
                                                        <i class="plus-icon member"></i>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        

                                    </div>
                                </div>
                            </div>
                            
                            <div class="lab-detail-info-container">
                                <!-- 이미지 섹선 -->
                                <div class="lab-image-area">
                                    <div class="lab-image" style="background-image: url('https://cdn.wadiz.kr/ft/images/green001/2024/0214/20240214105208489_9089.png/wadiz/resize/2429/format/jpg/quality/85/');"></div>
                                </div>
                                <!-- 설명 글 섹션 -->
                                <div class="lab-discription-text-area">
                                    <strong class="lab-sub-title">라이프디자인 펀딩플랫폼, 와디즈</strong>
                                    <h2 class="lab-custom-title">누구나 새로운 도전을
                                        <br>시작할 수 있는 곳
                                    </h2>
                                    <p class="lab-custom-desc">
                                        와디즈는 새로운 생각을 현실로 만들기 위해 도전하는 메이커와 <br>
                                        그 도전을 응원하는 서포터가 모인 플랫폼입니다. <br>
                                        참신한 아이템으로 삶을 보다 편하게 만들어주고, <br>
                                        서로의 취향을 나누며 즐거움을 주고, <br>
                                        나만의 아이디어로 어제보다 나은 내일을 기대할 수 있는<br>
                                        다양한 사람들의 가치가 더 많은 사람들에게 닿을 수 있도록 와디즈는<br>
                                        계속해서 변화하고 함께 성장할 수 있는 환경을 만들어 가겠습니다.
                                    </p>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="apply-button-container">
                <div class="apply-button-wrapper">
                    <div class="apply-msg">지금 지원하고 자신만의 스펙을 쌓아보세요.</div>
                    <!-- 지원 전 버튼 -->
                    <div class="apply-button apply">원랩 지원하기</div>
                    <!-- 지원 후, 비활성화 된 버튼 -->
                    <div class="apply-button readonly">원랩 지원하기</div>
                    <!-- 지원 후, 신청 수락이후 url나오는 버튼 -->
                    <div class="apply-button participate">원랩 참가하기</div>
                </div>
            </div>
        </main>
    </div>

    <!-- 소통 url 모달 -->
    <div class="onelab-modal-url">
        <div class="onelab-modal-container">
            <div class="onelab-modal-container-inner">
                <div class="onelab-modal-box">
                    <div class="onelab-modal-box-inner">
                        <div class="onelab-modal-wrapper">
                            <p class="onelab-modal-title">원랩 참여하기</p>
                            <div class="onelab-modal-buttons">
                                <button type="button" class="onelab-modal-btn go-member-btn" style="width: 100%;">
                                    <span>
                                        <!-- 이 곳에 소통 url -->
                                        <a href="">naver.com</a>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="close-btn url-close">
                            <span>
                                <span class="close-icon">
                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="close-svg" aria-hidden="true">
                                        <path d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                                    </svg>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 지원할때 모달 -->
    <div class="onelab-modal-apply">
        <div class="onelab-modal-container">
            <div class="onelab-modal-container-inner">
                <div class="onelab-modal-box">
                    <div class="onelab-modal-box-inner">
                        <div class="onelab-modal-wrapper">
                            <p class="onelab-modal-title">원랩에 지원하시겠습니까?</p>
                            <div class="onelab-modal-buttons apply">
                                <button type="button" class="onelab-modal-btn go-member-btn" style="width: 100%;">
                                    <span>
                                        <span class="go-member-text">지원하기</span>
                                    </span>
                                </button>
                                <button type="button" class="onelab-modal-btn go-to-login-btn">
                                    <span>
                                        <span class="cancel-text">취소하기</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="close-btn apply-close">
                            <span>
                                <span class="close-icon">
                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="close-svg" aria-hidden="true">
                                        <path d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                                    </svg>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 지원하기 눌렀을 때 모달 -->
    <div class="onelab-modal-apply-ok">
        <div class="onelab-modal-container">
            <div class="onelab-modal-container-inner">
                <div class="onelab-modal-box">
                    <div class="onelab-modal-box-inner">
                        <div class="onelab-modal-wrapper">
                            <p class="onelab-modal-title">지원 완료 되었습니다.</p>
                            <p>원랩장의 수락 후, 알림을 통해 결과를 알려드리겠습니다.</p>
                        </div>
                        <button type="button" class="close-btn apply-ok-close">
                            <span>
                                <span class="close-icon">
                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="close-svg" aria-hidden="true">
                                        <path d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                                    </svg>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/staticfiles/js/one-lab-soyoung/one-lab-detail-n.js"></script>
</html>