<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/staticfiles/css/one-lab-soyoung/one-lab-detail.css">
    <link rel="shortcut icon" href="https://static.wadiz.kr/assets/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <title>와디즈 스토어</title>
</head>
<body>
    <div class="page-container">
        <main id="main-app">
            <!-- 헤더 -->
            <!-- <div class="web-header"></div>  -->
            <div class="main-wrapper-content">
                <section>
                    <div class="main-container">
                        <div class="detail-header-container">
                            <div class="detail-header-image-area">
                                <div class="detail-img"></div>

                                <!-- 상세 페이지 안에 슬라이드 배너가 숨겨져서 들어간것 같음(상의 필요) -->
                                <!-- <div class="slider-container">
                                    <div class="slider-list">
                                        <div class="slider">
                                            <button type="button" class="slider-arrow">Previous</button>
                                            <div class="slick-list" style="height: 470px;">
                                                <div class="slick-track" style="width: 11894px; opacity: 1;
                                                transform: translate3d(-626px, 0px, 0px);"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->    
                            </div>
                            <div class="detail-header-info-area">
                                <div class="detail-info-container">
                                    <div class="detail-info-header-container">
                                        <h2 class="detail-info-header-text-blind">스토어 스토리 상세페이지</h2>
                                        <div class="category-hashtag-info-wrapper">
                                            <div class="category-hashtag-info-header">
                                                <div class="category-hashtag-info-container">
                                                    <a href="" class="category-tag">
                                                        <span aria-label="카테고리">침실</span>
                                                    </a>
                                                    <div class="hashtag-info-container">
                                                        <a href="" class="hashtag-class">
                                                            <span>
                                                                <span class="button-child">
                                                                    <div class="hashtag-box">
                                                                        <span class="real-hashtag">#</span>
                                                                        <span class="hashtag-name">사계절이불</span>
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- width="24px" height="24px" -->
                                            
                                            <div class="share-btn-box">
                                                <button type="button" style="position: relative; border: none;">
                                                    <!-- <div style="position: absolute; visibility: hidden; left: -10px; top: -10px;" width="44px"; height="44px";></div> -->
                                                    <img src="images/share.png" class="share-img">
                                                </button>
                                            </div>
                                        </div>

                                        <div class="badge-container">
                                            <span class="wadiz-label-badge">wadiz Only</span>
                                        </div>
                                        <div class="info-title">
                                            <h3 class="info-title-text">
                                                세상 부드러운 촉감! 긴~밤을 책임져 줄 매력잠템![코코낸내이불]
                                            </h3>
                                        </div>
                                        <div class="info-participation-wrap">
                                            <div>
                                                <a href="" class="participation-rating">
                                                    <div class="rating-score-container">
                                                        <div class="rating-score-icon"></div>
                                                        <span class="rating-score">4.8</span>
                                                    </div>
                                                    <span class="participation-count">(100)</span>
                                                </a>
                                            </div>
                                            <div class="order-info">
                                                <span class="order-info-text">1,020명 참여</span>
                                                <div>
                                                    <button type="button" class="question-btn">
                                                        <span class="question-label"></span>
                                                        <span class="question-icon-wrap">
                                                            <!-- 도움말 아이콘 -->
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="buy-info">
                                            <div class="price-wrapper">
                                                <div class="price-area">
                                                    <span>109,000원</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <dl>
                                                <div class="product-term-box">
                                                    <dt class="delivery-text-box">배송</dt>
                                                    <dd class="delivery-info-box">
                                                        <div class="delivery-info-inner">
                                                            <div class="delivery-info-content">
                                                                <span aria-hidden="true"></span>
                                                                <ul class="delivery-info-list-box">
                                                                    <li>
                                                                        <div class="delivery-more-guide-box">
                                                                            <button type="button" class="delivery-guide-btn">
                                                                                구매 후 7일 이내 발송(주말, 공휴일 제외)
                                                                            </button>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="delivery-ship-container">
                                                                            <span>무료배송</span>
                                                                            <span>(제주/도서산간 4,000원)</span>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>