<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://static.wadiz.kr/assets/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/staticfiles/css/one-lab-soyoung/one-lab-write-page.css">
    <title>원랩 글쓰기</title>
</head>
<body>
    <div id="root">
        <div id="layout-container">
            <div class="layout-main">
                <div class="sidebar-layout-contents">
                    <div class="sidebar-reword-info-container">
                        <div class="sidebar-reward-info-flag-group">
                            <span class="sidebar-reward-info-flag1">프로젝트</span>
                            <span class="sidebar-reward-info-flag2">작성 중</span>
                        </div>
                        <a href="" class="sidebar-reward-info-project-name" target="_blank">
                            익명이의<br>멋진 프로젝트
                        </a>
                        <button class="project-number-box" type="button">
                            <span>
                                <span class="project-number-text">
                                    프로젝트 번호 272066
                                </span>
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="down-icon-svg" aria-hidden="true" style="width: 20px; height: 20px;">
                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <nav class="sidebar-menu-list-container">
                        <div class="sidebar-menu-list-margin"></div>
                        <ul>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link active">프로젝트 관리
                                    <button type="button">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="sidebar-menu-open-icon active" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z"></path>
                                        </svg>
                                    </button>
                                    <div class="sidebar-menu-help-floating"></div>
                                </a>
                                <ul class="sidebar-reward-sublist-container">
                                    <li>
                                        <a href="" class="sidebar-sublist-nav-link">요금제 선택</a>
                                    </li>
                                    <li>
                                        <a href="/templates/html/share-soyoung/share-want.html" class="sidebar-sublist-nav-link">프로젝트 정보</a>
                                    </li>
                                    <li>
                                        <a href="" class="sidebar-sublist-nav-link">기본 정보</a>
                                    </li>
                                    <li>
                                        <a href="" class="sidebar-sublist-nav-link">스토리 작성</a>
                                    </li>
                                    <li>
                                        <a href="" class="sidebar-sublist-nav-link">리워드 설계</a>
                                    </li>
                                    <li>
                                        <a href="" class="sidebar-sublist-nav-link">정책</a>
                                    </li>
                                    <li>
                                        <a href="/templates/html/one-lab/one-lab-write-page.html" class="sidebar-sublist-nav-link sublist-active">메이커 정보</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link">정산 정보
                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="sidebar-menu-open-icon" aria-hidden="true">
                                            <path d="M24 2.4c7.29 0 13.2 5.91 13.2 13.2v3.6H42v26.4H6V19.2h4.8v-3.6c0-7.29 5.91-13.2 13.2-13.2zm15.6 19.2H8.4v21.6h31.2V21.6zm-14.4 7.2V36h-2.4v-7.2h2.4zM24 4.8c-5.965 0-10.8 4.835-10.8 10.8v3.6h21.6v-3.6c0-5.965-4.835-10.8-10.8-10.8z"></path>
                                        </svg>
                                    <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link">정산 내역
                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="sidebar-menu-open-icon" aria-hidden="true">
                                            <path d="M24 2.4c7.29 0 13.2 5.91 13.2 13.2v3.6H42v26.4H6V19.2h4.8v-3.6c0-7.29 5.91-13.2 13.2-13.2zm15.6 19.2H8.4v21.6h31.2V21.6zm-14.4 7.2V36h-2.4v-7.2h2.4zM24 4.8c-5.965 0-10.8 4.835-10.8 10.8v3.6h21.6v-3.6c0-5.965-4.835-10.8-10.8-10.8z"></path>
                                        </svg>
                                    <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link">알림
                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="sidebar-menu-open-icon" aria-hidden="true">
                                            <path d="M24 2.4c7.29 0 13.2 5.91 13.2 13.2v3.6H42v26.4H6V19.2h4.8v-3.6c0-7.29 5.91-13.2 13.2-13.2zm15.6 19.2H8.4v21.6h31.2V21.6zm-14.4 7.2V36h-2.4v-7.2h2.4zM24 4.8c-5.965 0-10.8 4.835-10.8 10.8v3.6h21.6v-3.6c0-5.965-4.835-10.8-10.8-10.8z"></path>
                                        </svg>
                                    <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link">새소식
                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="sidebar-menu-open-icon" aria-hidden="true">
                                            <path d="M24 2.4c7.29 0 13.2 5.91 13.2 13.2v3.6H42v26.4H6V19.2h4.8v-3.6c0-7.29 5.91-13.2 13.2-13.2zm15.6 19.2H8.4v21.6h31.2V21.6zm-14.4 7.2V36h-2.4v-7.2h2.4zM24 4.8c-5.965 0-10.8 4.835-10.8 10.8v3.6h21.6v-3.6c0-5.965-4.835-10.8-10.8-10.8z"></path>
                                        </svg>
                                    <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link">오픈예정 현황
                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="sidebar-menu-open-icon" aria-hidden="true">
                                            <path d="M24 2.4c7.29 0 13.2 5.91 13.2 13.2v3.6H42v26.4H6V19.2h4.8v-3.6c0-7.29 5.91-13.2 13.2-13.2zm15.6 19.2H8.4v21.6h31.2V21.6zm-14.4 7.2V36h-2.4v-7.2h2.4zM24 4.8c-5.965 0-10.8 4.835-10.8 10.8v3.6h21.6v-3.6c0-5.965-4.835-10.8-10.8-10.8z"></path>
                                        </svg>
                                    <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link">프로젝트 현황
                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="sidebar-menu-open-icon" aria-hidden="true">
                                            <path d="M24 2.4c7.29 0 13.2 5.91 13.2 13.2v3.6H42v26.4H6V19.2h4.8v-3.6c0-7.29 5.91-13.2 13.2-13.2zm15.6 19.2H8.4v21.6h31.2V21.6zm-14.4 7.2V36h-2.4v-7.2h2.4zM24 4.8c-5.965 0-10.8 4.835-10.8 10.8v3.6h21.6v-3.6c0-5.965-4.835-10.8-10.8-10.8z"></path>
                                        </svg>
                                    <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link">결제 현황
                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="sidebar-menu-open-icon" aria-hidden="true">
                                            <path d="M24 2.4c7.29 0 13.2 5.91 13.2 13.2v3.6H42v26.4H6V19.2h4.8v-3.6c0-7.29 5.91-13.2 13.2-13.2zm15.6 19.2H8.4v21.6h31.2V21.6zm-14.4 7.2V36h-2.4v-7.2h2.4zM24 4.8c-5.965 0-10.8 4.835-10.8 10.8v3.6h21.6v-3.6c0-5.965-4.835-10.8-10.8-10.8z"></path>
                                        </svg>
                                    <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link">발송. 환불 관리
                                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="sidebar-menu-open-icon" aria-hidden="true">
                                            <path d="M24 2.4c7.29 0 13.2 5.91 13.2 13.2v3.6H42v26.4H6V19.2h4.8v-3.6c0-7.29 5.91-13.2 13.2-13.2zm15.6 19.2H8.4v21.6h31.2V21.6zm-14.4 7.2V36h-2.4v-7.2h2.4zM24 4.8c-5.965 0-10.8 4.835-10.8 10.8v3.6h21.6v-3.6c0-5.965-4.835-10.8-10.8-10.8z"></path>
                                        </svg>
                                    <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link can-open">
                                    광고
                                </a>
                                <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link can-open">
                                    콘텐츠 제작
                                </a>
                                <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link can-open">
                                    QR 홍보 이미지 제작
                                </a>
                                <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link can-open">
                                    메이커 서비스
                                </a>
                                <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                            </li>
                            <li>
                                <a href="" class="sidebar-menu-item-nav-link can-open">
                                    자료 및 도움말
                                </a>
                                <div class="sidebar-menu-help-floating">프로젝트 제출 후 확인할 수 있어요</div>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div id="layout-contents" class="layout-contents">
                    <section class="page-container">
                        <span class="blind-text-hidden">사이트 이동 경로</span>
                        <ol class="current-page-position-list">
                            <li class="page-position-item">프로젝트 관리</li>
                            <li class="page-position-item">메이커 정보</li>
                        </ol>
                        <h2 class="page-title">메이커 정보</h2>
                        <div class="page-guide">
                            <button class="banner-link-button-container" type="button">
                                <div class="banner-link-button-icon">
                                    <i class="banner-guide-icon"></i>
                                </div>
                                <div class="banner-link-button-content">
                                    <p class="banner-link-button-description">다른 메이커들 다 본다는</p>
                                    <strong class="banner-link-button-title">필수 가이드 모음집</strong>
                                </div>
                            </button>
                            <button type="button" class="banner-link-button-container banner-guide-button">
                                <div class="banner-link-button-icon">
                                    <i class="banner-guide-gpt-icon"></i>
                                </div>
                                <div class="banner-link-button-content">
                                    <p class="banner-link-button-content">
                                        <p class="banner-link-button-description">궁금한 모든 것을 물어보세요</p>
                                        <strong class="banner-link-button-title">AI 어드바이저</strong>
                                    </p>
                                </div>
                            </button>
                        </div>
                        
                        <div class="page-content">
                            <nav class="project-navbar-container">
                                <div>
                                    <h1 class="nav-logo">
                                        <span class="blind-text-hidden">메이커 스튜디오</span>
                                    </h1>
                                </div>
                                <div class="project-navbar-maker">
                                    <div class="profile-img">
                                        <span></span>
                                    </div>
                                    <!-- 회원 이름 -->
                                    <div>임소영</div>
                                </div>
                                <div class="project-navbar-btn-group">
                                    <div class="preview-btn-container">
                                        <button type="button" class="preview-btn">
                                            <span>
                                                <span class="preview-btn-text">미리 보기</span>
                                            </span>
                                        </button>
                                    </div>
                                    <button type="button" class="pre-save-btn">
                                        <span>
                                            <span class="pre-save-btn-text">임시 저장</span>
                                        </span>
                                    </button>
                                    <div class="announce-button-container">
                                        <img src="https://static.wadiz.kr/studio/funding/static/media/announcement.56f4b8e3.svg" alt="" class="announce-button-icon">
                                        <span class="badge-container"></span>
                                        <div class="announce-pop-over-container">
                                            <div class="announce-list-container">
                                                <strong class="announce-list-title">안내</strong>
                                                <ul class="announce-list">
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                            <span class="important-badge-container">
                                                                <span class="important-text-badge">중요</span>
                                                            </span>
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                서비스
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 24일</div>
                                                            </div>
                                                            <div class="announce-list-item-title important">
                                                                프로젝트 카테고리 확장 및 기능 개편
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                            <span class="important-badge-container">
                                                                <span class="important-text-badge">중요</span>
                                                            </span>
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                서비스
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 24일</div>
                                                            </div>
                                                            <div class="announce-list-item-title important">
                                                                펀딩.프리오더 요금제 서비스 개편
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                정책
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 3일</div>
                                                            </div>
                                                            <div class="announce-list-item-title">
                                                                결제일 및 환불 정책 개편 안내
                                                            </div>
                                                        </div>
                                                    </li>
                                                    
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                서비스
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 3일</div>
                                                            </div>
                                                            <div class="announce-list-item-title">
                                                                서포터 안심번호 서비스 도입
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                서비스
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 3일</div>
                                                            </div>
                                                            <div class="announce-list-item-title">
                                                                '오늘 데이터 한번에 보기' 오픈
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                배송
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 3일</div>
                                                            </div>
                                                            <div class="announce-list-item-title">
                                                                추석 연휴 배송정보 사전 제공 안내
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                정책
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 3일</div>
                                                            </div>
                                                            <div class="announce-list-item-title">
                                                                펀딩/프리오더 요금제 개편 안내
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                서비스
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 3일</div>
                                                            </div>
                                                            <div class="announce-list-item-title">
                                                                새소식 알림 서비스 오류 해결 안내
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="announce-list-item">
                                                        <div class="announce-list-item-badge-area">
                                                        </div>
                                                        <div class="announce-list-item-content">
                                                            <div class="announce-list-item-info">
                                                                <div class="annouce-list-item-header">
                                                                정책
                                                                </div>
                                                                <div class="annonce-list-item-register-date">1월 3일</div>
                                                            </div>
                                                            <div class="announce-list-item-title">
                                                                프리오더 서비스 정책 변경 안내
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="announce-detail-drawer-container">
                                                    <div class="announce-detail-drawer-btn-group">
                                                        <button class="announce-detail-drawer-back-btn" type="button">
                                                            <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="announce-drawer-icon" aria-hidden="true" style="width: 24px; height: 24px;">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="exit-button" type="button">
                                        <span>
                                            <span class="exit-button-text">나가기</span>
                                        </span>
                                    </button>
                                </div>
                            </nav>
                            <form action="">
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header">
                                        <h3 class="section-title">메이커명
                                            <span class="blind-text-hidden">필수</span>
                                        </h3>
                                    </div>
                                    <div class="section-description">
                                        <p>법인 사업자는 법인등기부상 법인명 / 개인 사업자는 주민등록상 성명 또는 상호 / 개인은 주민등록상 성명을 입력해 주세요.</p>
                                    </div>
                                    <div class="section-content">
                                        <div class="text-field">
                                            <input type="text" name="" id="" class="maker-input input-maker-name" placeholder="메이커명 입력" value="임소영">
                                        </div>
                                        <em class="helper-msg">61자 남음</em>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title">메이커 프로필 이미지
                                            <span class="blind-text-hidden">필수</span>
                                        </h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="make-profile-img-container">
                                            <div class="img-form-field">
                                                <div class="img-form-field-btn-wrapper">
                                                    <label for="" class="img-file-btn-label">
                                                        <button class="img-file-btn" type="button">
                                                            <i class="icon-camera"></i>
                                                            등록하기
                                                        </button>
                                                        <div class="img-file-btn-input">
                                                            <input accept="image/jpg,image/jpeg,image/png" name="uploadFile" placeholder="" type="file" value="">
                                                        </div>
                                                    </label>
                                                    <em class="helper error"></em>
                                                    <em class="helper img-form-field-helper">3MB 이하의 JPG, JPEG, PNG 파일</em>
                                                    <em class="helper img-form-field-helper">해상도 300x300 픽셀 이상</em>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header">
                                        <h3 class="section-title member">함께하는 멤버</h3>
                                    </div>
                                    <div class="section-description">
                                        <p>와디즈 회원으로 가입된 팀원이 있다면 팀원의 와디즈 계정을 추가해 주세요. 서포터님들이 메이커 정보에서 함께 확인할 수 있어 프로젝트의 신뢰를 높일 수 있어요.</p>
                                    </div>
                                    <div class="section-content">
                                        <div class="join-member-field">
                                            <div class="join-member-text-field">
                                                <label for=""></label>
                                                <div class="text-field-box">
                                                    <input type="text" class="input-member-email" placeholder="멤버 이메일 입력">
                                                </div>
                                                <em class="helper-message-email" style="display: none;">유효한 이메일 주소를 입력해주세요</em>
                                            </div>
                                            <button class="insert-btn" type="button">
                                                <span>
                                                    <span class="insert-btn-text">추가</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title">문의 이메일
                                            <span class="blind-text-hidden">필수</span>
                                        </h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="text-field">
                                            <input type="text" name="" id="" class="maker-input input-email" placeholder="이메일 입력" value="">
                                        </div>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title">문의 전화번호
                                            <span class="blind-text-hidden">필수</span>
                                        </h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="text-field">
                                            <label for=""></label>
                                            <input type="text" name="" id="" class="maker-input input-phone" placeholder="전화번호 입력" value="">
                                        </div>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title member">카카오톡 채널</h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="text-field">
                                            <input type="text" name="" id="" class="maker-input input-id" placeholder="검색용 아이디 입력" value="">
                                        </div>
                                    </div>
                                    <div class="open-link-fields">
                                        <div class="open-link-field">
                                            <div class="url-field">
                                                <label for=""></label>
                                                <div class="text-field">
                                                    <input type="text" name="" id="" class="maker-input input-url" placeholder="홈페이지 URL 입력" value="">
                                                </div>
                                            </div>
                                        <button class="go-link-btn" type="button" style="min-width: 48px; height: 48px;">
                                            <span>
                                                <span class="go-link-btn-img">
                                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                        <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                        <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </button>
                                        <a href="" class="go-link-btn" style="min-width: 48px; height: 48px; display: none;">
                                            <span>
                                                <span class="go-link-btn-img">
                                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                        <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                        <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title member">홈페이지</h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="open-link-fields">
                                            <div class="open-link-field">
                                                <div class="url-field">
                                                    <label for=""></label>
                                                    <div class="text-field">
                                                        <input type="text" name="" id="" class="maker-input input-url" placeholder="홈페이지 URL 입력" value="">
                                                    </div>
                                                </div>
                                                <button class="go-link-btn" type="button" style="min-width: 48px; height: 48px;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </button>
                                                <a href="" class="go-link-btn" style="min-width: 48px; height: 48px; display: none;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="open-link-fields">
                                            <div class="open-link-field">
                                                <div class="url-field">
                                                    <label for=""></label>
                                                    <div class="text-field">
                                                        <input type="text" name="" id="" class="maker-input input-url" placeholder="홈페이지 URL 입력" value="">
                                                    </div>
                                                </div>
                                                <button class="go-link-btn" type="button" style="min-width: 48px; height: 48px;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </button>
                                                <a href="" class="go-link-btn" style="min-width: 48px; height: 48px; display: none;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title member">SNS</h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="open-link-fields">
                                            <div class="open-link-field">
                                                <div class="url-field">
                                                    <label for=""></label>
                                                    <div class="text-field">
                                                        <input type="text" name="" id="" class="maker-input input-url sns" placeholder="https://www.facebook.com/" value="">
                                                    </div>
                                                </div>
                                                <a href="" class="go-link-btn" style="min-width: 48px; height: 48px;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="open-link-fields">
                                            <div class="open-link-field">
                                                <div class="url-field">
                                                    <label for=""></label>
                                                    <div class="text-field">
                                                        <input type="text" name="" id="" class="maker-input input-url sns" placeholder="https://www.twitter.com/" value="" aria-invalid="false">
                                                    </div>
                                                </div>
                                                <a href="" class="go-link-btn" style="min-width: 48px; height: 48px;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="open-link-fields">
                                            <div class="open-link-field">
                                                <div class="url-field">
                                                    <label for=""></label>
                                                    <div class="text-field">
                                                        <input type="text" name="" id="" class="maker-input input-url sns" placeholder="https://www.instagram.com/" value="">
                                                    </div>
                                                </div>
                                                <a href="" class="go-link-btn" style="min-width: 48px; height: 48px;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="maker-info-container-btn-wrapper">
                                    <button class="save-btn">
                                        <span>
                                            <span class="save-btn-text">저장하기</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        
                    </section>
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/staticfiles/js/one-lab-list/one-lab-write-page.js"></script>
</html>