<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="/staticfiles/css/pay-list-soyoung/pay-list-detail.css">
    <title>결제 상세내역</title>
</head>
<body>
    <!-- 헤더 -->
    <div class="main-wrapper-content">
        <div class="order-detail-page-container">
            <div>
                <div class="order-detail-page-inner">
                    <div class="order-card-info-area">
                        <!-- 주문번호 및 결제 시간 -->
                        <div class="detail-header-card-item">
                            <div class="detail-header-etc-area">
                                <span>주문번호 240206-105934-0001</span>
                                <span>2024-02-06-11:00 구매</span>
                            </div>
                            <!-- 결제한 상품 -->
                            <div class="detail-header-card-content">
                                <div class="detail-header-card-title-area">
                                    <a href="" class="detail-header-card-title">[100 포인트 충전!]</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 결제 상태 -->
                    <div class="state-msg-box-container">
                        <div>
                            <span class="badge-container">
                                <span class="badge">결제 완료</span>
                            </span>
                        </div>
                        <div class="state-msg-box">
                            <span>충전이 완료되었어요.</span>
                        </div>
                        <div class="state-msg-box-footer"></div>
                    </div>

                    <!-- 결제 정보 -->
                    <div>
                        <div>
                            <div class="payment-info-header">
                                <h3>결제 정보</h3>
                                <p class="print-receipt">영수증 출력</p>
                            </div>
                            <div class="value-list-container">
                                <div class="value-list-wrapper">
                                    <dl>
                                        <dt class="price">
                                            <span>상품 금액</span>
                                        </dt>
                                        <dd class="value-text price-value">
                                            <span>10,000 원</span>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="total-price-box">
                                    <dl class="value-list-strong">
                                        <dt class="total-price">
                                            <span>최종 결제 금액</span>
                                        </dt>
                                        <dd class="value-text total-price-value">10,000 원</dd>
                                    </dl>
                                    <dl>
                                        <dt class="how-to-purchase">
                                            <span>결제 수단</span>
                                        </dt>
                                        <dd class="value-text purchase-value">
                                            <span>신용(체크) 카드</span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt class="card-info">
                                            <span>결제 카드</span>
                                        </dt>
                                        <dd class="value-text card-info-value">
                                            <span>신한 / 542879****</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <!-- 상품 정보 -->
                        <div>
                            <h3>상품 정보</h3>
                        </div>
                        <div class="value-list-container">
                            <div class="order-card-container">
                                <div class="order-card-content">
                                    <!-- 상품명 -->
                                    <span class="order-card-title">100 포인트 충전</span>
                                    <!-- 상품개수 -->
                                    <span class="order-card-option">1개</span>
                                    <!-- 상품가격 -->
                                    <span class="order-card-price">10,000원</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 판매자 정보 -->
                    <div>
                        <h3>판매자 정보</h3>
                        <div class="value-list-container">
                            <div class="value-list-wrapper seller">
                                <dl>
                                    <dt>
                                        <span>판매자명</span>
                                    </dt>
                                    <dd class="value-text">
                                        <span>원랩</span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <hr class="order-detail-page-space"> -->
        </div>
        <!-- 푸터 -->
    </div>
</body>
</html>