@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
html {
    font-family: Pretendard Variable,pretendard,-apple-system,blinkmacsystemfont,
    system-ui,roboto,Helvetica Neue,
    Segoe UI,Apple SD Gothic Neo,Noto Sans KR,
    Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,
    Segoe UI Symbol,sans-serif;
}

* {
    box-sizing: border-box;
}

div {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

main {
    display: block;
}

header {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.web-header {
    z-index: 1201;
    top: 0;
    position: sticky;
    transition: top .25s;
    width: 100%;
}

.header-wrapper {
    position: relative;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
    height: 56px;
    text-align: center;
}

.header-container {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1440px;
    height: 100%;
}