<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/staticfiles/css/main-yujin/main-place-share-detail-wooram.css" />
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
        <link rel="icon" type="image/png" sizes="16x16" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png" />
        <title>장소 공유 상세페이지</title>
    </head>
    <body>
        <!-- 헤더 -->
        <form method="get" id="forward-form">
            <input type="hidden" name="returnURL" id="returnURL" />
        </form>
        <input type="hidden" name="" id="session-login-check" value="true" />
        <div id="new-container">
            <div id="board-wrap">
                <div class="borad-wrap-inner">
                    <div class="board-detail-content">
                        <div class="article-top">
                            <p class="title">장소 공유 상세페이지, “중소상공인 마케팅 지원” SNS 타깃 광고 세미나 2월 1일 개최</p>
                            <div class="lab-member-check-in">
                                <a href="/templates/html/one-lab-soyoung/one-lab-write-page.html" class="check-in-btn">랩원 등록하기</a>
                            </div>
                            <div class="info">
                                <em class="user-img" style="background-image: url(https://static.wadiz.kr/assets/icon/apple-touch-icon.png)"></em>
                                <span class="user-info">
                                    와디즈<br />
                                    2024.01.19
                                </span>
                            </div>
                        </div>
                        <div class="inner-contents">
                            <h2>장소 공유 상세페이지, “중소상공인 마케팅 지원” SNS 타깃 광고 세미나 2월 1일 개최</h2>
                            <h3>
                                <br />
                                <br />
                                - 장소는 공유, 스타트업 및 중소상공인 대상 ‘부스팅 세미나’ 공동 개최
                                <br />
                                - 2월 1일 오후 2시 온오프라인 동시 진행, 1월 29일까지 온라인 참가 신청 접수
                                <br />
                                - 광고 성과 증대 방안, 참신한 광고 소재 제작 노하우, 성공 사례 발표 등 마케팅 핵심 전략 공유
                            </h3>
                            <p>
                                <br />
                                <img src="https://cdn.wadiz.kr/ft/images/green001/2024/0119/20240119172229229_80.png/wadiz/format/jpg/quality/80" class="inner-contents-img" />
                                라이프디자인 펀딩플랫폼 와디즈가 메타와 손잡고 중소상공인 등 메이커 대상 SNS 타깃 광고 세미나를 진행한다.
                            </p>
                            <p>
                                <br />
                                이번 행사는 ‘부스팅 세미나(BOOSTING SEMINAR)’를 주제로, 메이커들의 마케팅 성과를 극대화하는 타깃 광고 전략을 공유한다. 마케팅에 어려움을 겪는 스타트업 및 중소브랜드 등 메이커의 성장을 지원하기 위해 마련된 자리로, 오는 2월 1일 오후 2시 메타코리아 본사에서
                                온오프라인으로 동시 진행된다.
                                <br />
                                <br />
                                온라인으로 세미나 참가를 희망할 경우 1월 29일까지 와디즈 메이커센터 홈페이지를 통해 간단한 신청서를 접수하면 누구나 무료로 참가할 수 있다.<br /><br />이번 세미나에서는 메타코리아와 와디즈 관계자가 ▲광고 캠페인 성과 증대 방안 ▲참신한 소재 제작 노하우 ▲ 성공 사례 발표
                                등 프로젝트 성과를 극대화하는 데이터 마케팅의 핵심 전략을 공유한다. &nbsp;
                                <br />
                                <br />
                                한편, 와디즈는 지난해 1월 메이커가 직접 SNS 타깃 광고를 진행할 수 있는 ‘와디즈 비즈센터’를 오픈해 작년 타깃 광고를 통한 ‘알림신청’과 ‘펀딩 결제 전환’이 300만 건을 돌파하는 성과를 거뒀다. 특히, 5천만 원 이상의 펀딩을 달성한 메이커의 90%는 와디즈 비즈센터의 타깃 광고를
                                활용해 실질적인 도움을 받는 것으로 나타났다.
                                <br />
                                <br />
                                와디즈 관계자는 “이번 행사는 작년 8월 메타와 공동 개최한 광고 세미나에 이어 더욱 심화한 마케팅 전략을 공유할 수 있는 자리로 준비했다”며 “채널별 마케팅 전략을 통해 프로젝트의 성과를 높이고자 하는 스타트업 및 중소상공인의 많은 참여를 바란다”고 밝혔다.
                                <br /><br /><br /><br />
                            </p>
                        </div>
                        <div class="article-attached">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <div class="community-detail-bottom">
                    <div class="community-share-area">
                        <button type="button" class="btn-like">
                            <span id="like-count">0</span>
                        </button>
                        <div class="btn-share">
                            <button class="kakao"></button>
                            <button class="facebook"></button>
                            <button class="twitter"></button>
                        </div>
                    </div>
                </div>
                <div class="board-detail-bottom">
                    <div class="board-comment">
                        <p class="comment-num">
                            <em>보도자료</em>
                            말머리의 다른 게시글
                        </p>
                        <div class="board-list">
                            <ul>
                                <li>
                                    <a href="">
                                        <p class="title">
                                            <em class="category">보도자료</em>
                                            성수동에 '와디즈 플래그십 스토어' 떳다... 공간 와디즈 새 단장
                                        </p>
                                        <p class="info">
                                            <span class="date">와디즈 2024.02.07</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="board-detail-btn-wrap">
                        <a href="/templates/html/one-lab/one-lab-list-web.html" class="go-list-btn">목록으로 돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="articleUrl" value="" />
        <!-- 푸터 자리 -->
        <div class="floating-buttons-container">
            <button type="button" class="float-top-btn">
                <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-up-arrow-svg" aria-hidden="true">
                    <path d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"></path>
                </svg>
            </button>
        </div>
    </body>
    <script src="/staticfiles/js/main-yujin/main-place-share-detail-wooram.js"></script>
</html>
