<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/staticfiles/css/school-wooram/contest-write.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png">
    <title>공모전 작성</title>
</head>
<body class="react-modal-body-open" aria-hidden="true">
    <div id="root">
        <div id="app-layout-container" class="app-layout-container">
            <div class="appLayout-main">

                <!-- 오른쪽 레이아웃 -->
                <div id="app-layout-contents" class="app-layout-contents" style="padding: 13px 37px 40px;">
                    <div id="container" class="contents-layout-container">
                        <div class="funding-story-container-container">
                            
                            <!-- 프로젝트 관리 > 스토리 작성 레이아웃 -->
                            <ol class="breadcrumb-container">
                                <li class="breadcrumb-item">
                                    프로젝트 관리
                                </li>
                                <li class="breadcrumb-item">공모전 글쓰기</li>
                            </ol>

                            <!-- 네이게이션 레이아웃 -->
                            <nav class="detail-navbar-container">
                                <div class="app-navbar-container">
                                    <div style="background: url('https://static.wadiz.kr/studio/funding/static/media/wadiz-logo.549edcd7.svg') 50% center / contain no-repeat; width: 129px; height: 48px; cursor: pointer;"></div>
                                    <div class="app-navbar-maker">
                                        <div class="avatar-avatar avatar_xs">
                                            <span></span>
                                        </div>
                                        <div>프로필</div>
                                    </div>
                                    <div class="appNavbar-button-group">
                                        <div class="preview-button-container">
                                            <button class="button-button button-primary button-md button-circular" type="button">
                                                <span>
                                                    <span class="button-children">미리 보기</span>
                                                </span>
                                            </button>
                                        </div>
                                        <button class="button-button button-primary button-contained button-md button-circular" type="button">
                                            <span>
                                                <span class="button-children">임시 저장</span>
                                            </span>
                                        </button>
                                        <div class="announcement-button-container" role="button">
                                            <img class="announcement-button-icon" src="https://static.wadiz.kr/studio/funding/static/media/announcement.56f4b8e3.svg" alt aria-hidden="true">
                                            <span class="badge-container announcement-button-badge"></span>
                                            <div class="announcement-popover-container">
                                                <div class="announcement-list-container announcement-popover-list">
                                                    <h2 class="announcement-list-title">안내</h2>
                                                    <ul class="announcement-list-list">
                                                        <li class="announcement-list-item-container">
                                                            <div class="announcement-list-item-badge-area">
                                                                <span class="badge-container badge-visible">
                                                                    <span class="badge-badge badge-label badge-md badge-info badge-tertiary"></span>
                                                                </span>
                                                            </div>
                                                            <div class="announcement-list-item-content">
                                                                <div class="announcement-list-item-info">
                                                                    <div class="announcement-list-item-header">서비스</div>
                                                                    <div class="announcement-list-item-registered-date">7월 12일</div>
                                                                </div>
                                                                <div class="announcement-list-item-title announcement-list-item-bold">서포터 안심번호 서비스 도입</div>
                                                            </div>
                                                        </li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <div class="announcement-detail-drawer-container announcement-popover-drawer">
                                                        <div class="announcement-detail-drawer-button-group">
                                                            <button class="announcement-detail-drawer-back-button" type="button">
                                                                <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="with-icon announcement-detail-drawer-icon" aria-hidden="true" style="width: 24px; height: 24px;">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z"></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="button-button button-tertiary-grey button-text button-md" type="button">
                                            <span>
                                                <span class="button-children">나가기</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </nav>

                            <!-- 스토리 작성 레이아웃 -->
                            <div class="header-layout-container">
                                <div class="header-layout-contents">
                                    <h2 class="fundingStory-container-title">공모전 글쓰기</h2>
                                    <p class="funding-story-container-description">메이커님의 프로젝트를 소개해 주세요.</p>
                                </div>
                                
                            </div>
                            <form class="wz form funding-story-form-container-form form-form">
                                <div class="loader-loader form-loader"></div>
                                
                                <!-- 소개 영상 사진 등록 레이아웃 -->
                                <section class="section-container">
                                    <div style="max-width: 630px;">
                                        <div class="section-header">
                                            <h2 class="section-title section-is-required">
                                                소개 영상·사진 등록
                                            </h2>
                                            <div class="section-guide"></div>
                                        </div>
                                        <div class="section-description">프로젝트의 맨 위에서 가장 먼저 보여 주고 싶은 영상이나 사진을 등록해 주세요.</div>
                                        <div class="section-content">
                                            <div class="story-video-or-image-field-container">
                                                <label class="wz radio-radio radio">
                                                    <input name="representVisual" type="radio">
                                                    <div>소개 사진</div>
                                                </label>
                                                <div class="field form-field required image-form-field story-image-field">
                                                    <div class="image-form-field-button-wrapper">
                                                        <label class="wz label image-file-button-label label-label">
                                                            <button type="button" class="wz button gray image-file-button-button">
                                                                <i class="icon-camera-o" aria-hidden="true"></i>
                                                                등록하기
                                                            </button>

                                                            <div class="wrap">
                                                                <label for="attach">
                                                                    <div class="image"></div>
                                                                </label>
                                                                <div class="cancel"></div>
                                                            </div>
                                                            <div class="wz input right image-file-button-input">
                                                              
                                                                
                                                                <input id="attach" accept="image/JPG,image/JPEG,image/GIF,image/PNG" placeholder name="uploadFile" type="file" value>
                                                            </div>
                                                        </label>
                                                        <em class="helper error"></em>
                                                        <em class="helper image-form-field-helper">2MB 이하의 JPG, JPEG, GIF, PNG 파일</em>
                                                        <em class="helper image-form-field-helper">해상도 630x400 픽셀 이상</em>
                                                        <em class="helper image-form-field-helper">여러 장 등록돼요.</em>
                                                    </div>
                                                </div>
                                                <label class="wz radio-radio radio">
                                                    <input name="representVisual" type="radio">
                                                    <div>파일 첨부</div>
                                                </label>
                                                <div class="field form-field required image-form-field story-image-field">
                                                    <div class="image-form-field-button-wrapper">
                                                        <label class="wz label image-file-button-label label-label">
                                                            

                                                              
                                                                
                                                                <input id="attach" accept="image/JPG,image/JPEG,image/GIF,image/PNG" placeholder name="uploadFile" type="file" value>
                                                            </div>
                                                        </label>
                                                        <em class="helper error"></em>
                                                        <em class="helper image-form-field-helper">파일 선택</em>
                                                        <em class="helper image-form-field-helper">여러 장 등록돼요.</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </section>

                                <!-- 프로젝트 요약 레이아웃 -->
                                <section class="section-container">
                                    <div style="max-width: 630px;">
                                        <div class="section-header">
                                            <h2 class="section-title section-is-required">프로젝트 요약</h2>
                                            <div class="section-guide"></div>
                                        </div>
                                        <div class="section-description">소개 영상이나 사진과 함께 보이는 글이에요. 프로젝트를 쉽고 간결하게 소개해 주세요.</div>
                                        <div class="section-content">
                                            <div class="story-summary-field-container">
                                                <div class="field form-field form-field-textarea-field">
                                                    <div class="wide column-2"></div>
                                                    <div class="wide column-4">
                                                        <div class="wz input">
                                                            <textarea placeholder="내용 입력" helper="[object Object]" maxlength="300" name="storyInfo.coreMessage" rows="15"></textarea>
                                                        </div>
                                                        <em class="helper form-field-textarea-helper">300자 남음</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-guide-message">
                                        <h4>이것만은 알아 주었으면 좋겠어요!</h4>
                                        <p>서포터님들이 꼭 알아 주었으면 하는 리워드/프로젝트의 매력 포인트가 있다면 적어 주세요.</p>
                                    </div>
                                </section>

                                <!-- 맨 밑 버튼 레이아웃 -->
                                <button class="button-button button-primary button-contained button-lg" type="button" style="width: 472px; max-width: 100%;">
                                    <span>
                                        <span class="button-children">저장하기</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- 오른쪽 채널 토크 레이아웃 -->
                    <div class="channel-talk-container">
                        <button type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast-toast">
            <div class="toast-content"></div>
        </div>
    </div>
</body>
<script src="/staticfiles/js/school-wooram/contest-write.js"></script>
</html>