<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/staticfiles/css/school-wooram/exhibit-detail.css" />
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
        <link rel="icon" type="image/png" sizes="16x16" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png" />
        <title>공모전 상세페이지</title>
    </head>

    <body>
        <div id="page-container">
            <main id="main-app" style="visibility: visible">
                <div></div>
                <!-- 메인 바디쪽 -->
                <div class="main-wrapper-content">
                    <section>
                        <div class="main-container-root">
                            <div class="detail-header-container">
                                <div class="detail-header-detail-info-area">
                                    <div class="detail-info-container">
                                        <div class="detail-infoHeader-container">
                                            <h2 class="detail-info-header-text-blind">스토어 스토리 상세페이지</h2>

                                            <div>
                                                <div id="move_button">
                                                    <div class="FloatingButton_button"></div>
                                                </div>
                                            </div>
                                            <div class="DetailInfoHeader_badgeContainer"></div>
                                            <div class="DetailInfoHeader_titleInfo">
                                                <h1 class="DetailInfoHeader_title">공모전 상세페이지</h1>
                                            </div>
                                            <div class="DetailInfoHeader_participationInfo">
                                                <!-- <div>
                                                    <a class="DetailInfoHeader_rating" href="https://www.wadiz.kr/web/store/detail/599/satisfaction">
                                                        <div class="RatingScore_smTitle">
                                                            <div class="RatingScore_icon"></div>
                                                            <span class="RatingScore_score">4.6</span>
                                                        </div>
                                                        <span class="DetailInfoHeader_count">(215)</span>
                                                    </a>
                                                </div> -->
                                                <div class="DetailInfoHeader_orderInfo">
                                                    <span class="DetailInfoHeader_text">날짜: </span>
                                                    2024년 12월 23일
                                                    <div>
                                                        <button type="button" class="Tooltip_button" aria-describedby="Tooltip_1">
                                                            <span class="Tooltip_label"></span>
                                                            <span class="Tooltip_helpIconWrap">
                                                                <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="with-icon-icon Tooltip_helpOutlineIcon" aria-hidden="true">
                                                                    <path fill="none" d="M0 0h40v40H0z"></path>
                                                                    <path d="M20 39a19 19 0 1 1 19-19 19.06 19.06 0 0 1-19 19zm0-36a17 17 0 1 0 17 17A17 17 0 0 0 20 3z"></path>
                                                                    <path
                                                                        d="M24.34 10A5.75 5.75 0 0 0 20 8.33a5.7 5.7 0 0 0-6 6h2a3.7 3.7 0 0 1 4-4 3.7 3.7 0 0 1 4 4A4.29 4.29 0 0 1 22 18l-.7.6a6.51 6.51 0 0 0-2.3 5.7h2c0-1.9 0-2.6 1.7-4.3l.6-.5a6.28 6.28 0 0 0 2.7-5.2 5.73 5.73 0 0 0-1.66-4.3zM20 26.87a1.8 1.8 0 1 0 0 3.6 1.8 1.8 0 1 0 0-3.6z"
                                                                    ></path>
                                                                </svg>
                                                                <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="with-icon-icon Tooltip_helpIcon" aria-hidden="true">
                                                                    <path fill="none" d="M0 0h40v40H0z"></path>
                                                                    <path
                                                                        d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm0 29.5a1.8 1.8 0 1 1 1.8-1.79 1.8 1.8 0 0 1-1.8 1.75zm6-16.13a6.28 6.28 0 0 1-2.7 5.2l-.6.5c-1.7 1.7-1.7 2.4-1.7 4.3h-2a6.51 6.51 0 0 1 2.3-5.7L22 18a4.29 4.29 0 0 0 2-3.7 3.7 3.7 0 0 0-4-4 3.7 3.7 0 0 0-4 4h-2a5.7 5.7 0 0 1 6-6 5.7 5.7 0 0 1 6 6z"
                                                                    ></path>
                                                                </svg>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 파일 출력 쪽 -->
                                            <div class="detail-info-header-product-info header-containers">
                                                <dl>
                                                    <div class="detail-info-header-app-coupon-banner">
                                                        <a href="www.naver.com" class="available-coupon-button-button">
                                                            <input type="file" style="display: none" />바로 사용 가능한 할인 쿠폰 보기
                                                            <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="with-icon-icon available-coupon-button-icon">
                                                                <path d="M40.8 43.2H7.2v-2.4h33.6v2.4zm-5.28-22.08L25.2 31.44V4.8h-2.4v26.64L12.48 21.12 10.8 22.8 24 36l13.2-13.2-1.68-1.68z"></path>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div></div>
                                                    <div></div>
                                                </dl>
                                            </div>
                                            <!-- 배송 혜택 부분 -->
                                            <div class="DetailInfoHeader_productInfo DetailInfoHeader_productInfoDivider">
                                                <dl>
                                                    <div class="DetailInfoHeader_termsBox">
                                                        <dt class="DetailInfoHeader_terms">학교 입력</dt>
                                                        <dd class="DetailInfoHeader_termsDescription">
                                                            <div class="DeliveryInfoField_container">
                                                                <div class="DeliveryInfoField_deliveryContent">
                                                                    <span aria-hidden="true"></span>
                                                                    <!-- class="DeliveryInfoField_deliveryDesc" -->
                                                                    <ul class="">
                                                                        <li>학교 이름 (관리자면 admin)</li>
                                                                        <!-- <li>
                                                                            <div class="DetailInfoHeader_shippingChargeContainer">
                                                                                <span class="DetailInfoHeader_shippingChargeText">배송비</span>
                                                                                <span>3,500원</span>
                                                                            </div>
                                                                        </li> -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </dd>
                                                    </div>
                                                    <div class="DetailInfoHeader_termsBox">
                                                        <dt class="DetailInfoHeader_terms">신청인원</dt>
                                                        <dd class="DetailInfoHeader_termsDescription">
                                                            <div class="SupporterClubSubscriptionBanner_supporterClub">
                                                                <div class="DetailInfoHeader_orderInfo">
                                                                    <span class="DetailInfoHeader_texts">1,631</span>
                                                                    명 참여
                                                                </div>
                                                            </div>
                                                        </dd>
                                                    </div>
                                                </dl>
                                            </div>
                                            <!-- 팝업 베너쪽 -->
                                            <div class="PopBanner_container">
                                                <div class="PopBanner_header">
                                                    <button type="button" aria-label="배너 닫기">
                                                        <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="with-icon-icon" aria-hidden="true" style="width: 16px; height: 16px">
                                                            <path d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <img src class="PopBanner_banner" alt="" />
                                            </div>
                                        </div>

                                        <!-- 재입고 알림신청 쪽 -->
                                        <div class="ProductBuyInfo_container">
                                            <div class="ProductFloatButton_container">
                                                <div class="ProductFloatButton_wishButtonBox">
                                                    <button aria-label="찜하기 버튼" aria-pressed="false" class="Button_button ProductFloatButton_wishButton like_btn" type="button">
                                                        <span>
                                                            <span class="Button_children">
                                                                <div>
                                                                    <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="with-icon-icon" aria-hidden="true" style="width: 24px; height: 24px">
                                                                        <path
                                                                            d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"
                                                                        ></path>
                                                                    </svg>
                                                                    <span class="ProductFloatButton_count">1,006</span>
                                                                </div>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>
                                                <button class="Button_button Button_primary">
                                                    <span>
                                                        <span class="Button_children">
                                                            <span>재입고 알림 신청</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                        <!-- 이전 펀딩 정보 쪽 -->

                                        <!-- 엔드식스 주식회사 쪽 -->

                                        <!-- <dl class="SpaceLocationSection_address">
                                            <dt>
                                                <strong>•주소</strong>
                                            </dt>
                                            <dd>서울 강남구 테헤란로26길 12</dd>
                                        </dl>
                                        <dl class="SpaceLocationSection_openHour">
                                            <dt>
                                                <strong>•운영시간</strong>
                                            </dt>
                                            <dd>
                                                <a href="" target="_blank" rel="noopener nofollow noreferrer">공간 와디즈 인스타그램</a>
                                                을 참고해 주세요.
                                            </dd>
                                        </dl>
                                        <div class="SpaceLocationSection_parking">
                                            * 공간 와디즈 내에는 주차 공간이 마련되어 있지 않아요.
                                            <br />
                                            &nbsp;&nbsp;주차장 앱 또는 포털 서비스 지도 검색을 통해
                                            <br />
                                            &nbsp;&nbsp;주변 주차장을 이용해 주시길 바랍니다.
                                        </div> -->
                                    </div>
                                    <div class="DetailInfo_observer"></div>
                                    <div class="detail-header-detail-image-area">
                                        <div class="store-slider-container">
                                            <div class="store-slider-slick-list">
                                                <div class="slick-slider">
                                                    <!-- <img class="prod-image-detail" src="https://cdn2.wadiz.kr/2021/11/16/413d671e-223d-4ebc-85b2-62088b6bc68d.jpg/wadiz/resize/1200/format/jpg/quality/80/" alt="" /> -->
                                                    <div class="slick-list" style="height: 480px">
                                                        <div class="slick-track" style="width: 4382px; opacity: 1; transform: translate3d(-626px, 0px, 0px)">
                                                            <div class="slick-slide slick-cloned" aria-hidden="true" style="width: 626px">
                                                                <div>
                                                                    <div style="width: 100%; display: inline-block">
                                                                        <div class="store-slider-slick-background-image" style="background-image: url('https://cdn2.wadiz.kr/2021/11/16/413d671e-223d-4ebc-85b2-62088b6bc68d.jpg/wadiz/resize/1200/format/jpg/quality/80/')"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slick-slide slick-active slick-current" id="big" aria-hidden="false" style="outline: none; width: 626px">
                                                                <div>
                                                                    <div style="width: 100%; max-height: 100%; display: inline-block">
                                                                        <!-- <div class="store-slider-slick-background-image" style="background-image: url('https://cdn2.wadiz.kr/2021/11/16/002723b4-8fd1-406d-90e7-de50140f187a.jpg/wadiz/resize/1200/format/jpg/quality/80/')"></div> -->
                                                                        <img
                                                                            class="cover-img"
                                                                            src="https://thumbnail8.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/2021/10/27/15/7/e2b58f6b-32ca-4644-bdd1-f23b88c2793a.jpg"
                                                                            id="big-img"
                                                                            style="margin-top: 35px"
                                                                            width="70%"
                                                                            height="100%"
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 미리보기 쪽 -->
                                        <div class="prod-image" style="margin-top: 30px; margin-left: 171px">
                                            <div class="prod-image-item">
                                                <img src="https://thumbnail8.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/2021/10/27/15/7/e2b58f6b-32ca-4644-bdd1-f23b88c2793a.jpg" alt="" class="lazy-load-img" />
                                            </div>
                                            <div class="prod-image-item line-space">
                                                <img src="https://thumbnail7.coupangcdn.com/thumbnails/remote/492x492ex/image/rs_quotation_api/lc5yjv3e/1c7c979713984fcbb905ad1513699a1e.jpg" alt="" class="lazy-load-img" />
                                            </div>
                                            <div class="prod-image-item line-space">
                                                <img src="https://thumbnail8.coupangcdn.com/thumbnails/remote/492x492ex/image/rs_quotation_api/cefia6z1/f5864c8c18824aa29f40f62152a769fa.jpg" alt="" class="lazy-load-img" />
                                            </div>
                                            <div class="prod-image-item line-space">
                                                <img src="/staticfiles/images/likes.png" alt="" class="lazy-load-img" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 왼쪽 맨위 그림 쪽 -->

                                <!-- 오른쪽 글씨 쪽 -->
                            </div>
                        </div>

                        <!-- 밑에꺼 쪽 -->
                    </section>
                    <footer></footer>
                </div>
                <div></div>
            </main>
        </div>
    </body>
    <script src="/staticfiles/js/school-wooram/exhibit-detail.js"></script>
</html>
