<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/staticfiles/css/school-wooram/place-share-list.css" />
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
        <link rel="icon" type="image/png" sizes="16x16" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png" />
        <title>장소 공유 목록</title>
    </head>

    <body>
        <div id="page-container">
            <main id="main-app">
                <div></div>
                <div class="ain-wrapper-content">
                    <div></div>
                    <div class="desktop-search-result-container">
                        <!-- 검색결과 쪽 -->
                        <div class="desktop-search-result-head-container">
                            <div class="desktop-search-result-keyword">장소공유</div>
                            <h2>목록</h2>
                            <div class="desktop-search-result-number">39</div>
                            <div class="desktop-search-result-unit">개</div>
                            <!-- <div class="related-keywords-container">
                                <span class="related-keywords-title">연관검색어</span>
                                <p class="related-keywords">
                                    <button class="Button-button Button_text Button_sm" type="button">
                                        <span>
                                            <span class="Button_children">시모먼트</span>
                                        </span>
                                    </button>
                                    <button class="button-button Button_text Button_sm" type="button">
                                        <span>
                                            <span class="Button_children">레티날</span>
                                        </span>
                                    </button>
                                    <button class="button-button Button_text Button_sm" type="button">
                                        <span>
                                            <span class="Button_children">레티놀</span>
                                        </span>
                                    </button>
                                </p>
                            </div> -->
                            <hr />
                        </div>

                        <!-- 전체 펀딩 오픈예정 쪽 -->
                        <div class="DesktopSearchResult_tabContainer">
                            <ul class="SearchResultTabs_tabContainer">
                                <button type="button" class="Tab_tab Tab_first Tab_active Tab_rectangle Tab_sm">
                                    <span>전체</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>서울</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>경기</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>인천</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>울산</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>대구</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>광주</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>대전</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>부산</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>제주</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm tab_end">
                                    <span>글 쓰기</span>
                                </button>
                            </ul>
                        </div>

                        <!-- 목록 쪽 -->
                        <div class="SearchResult_container">
                            <!-- ad banner쪽 -->
                            <div class="AdBanner_container">
                                <div class="banner_eventBanner" style="background-color: rgb(210, 217, 222)">
                                    <div class="banner_adBadge">AD</div>
                                    <a href="https://www.wadiz.kr/web/campaign/detail/230063?acid=10047924&_refer_section_st=SPA_1" class="banner_link">
                                        <div class="banner_inner">
                                            <div class="banner_contents" style="background-image: url('https://cdn1.wadiz.kr/images/20240131/1706693471860.png/wadiz/optimize')">
                                                <div class="banner_text">
                                                    <p>9가지 솔루션 제공으로</p>
                                                    <strong>편안한 무중력 쿠셔닝슈즈</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- 목록 페이지 쪽 -->
                            <div class="search-result-card-container">
                                <div class="css-dlxsy">
                                    <div class="css-uhtu">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper" style="display: flex; flex-wrap: wrap">
                                                <div class="swiper-slide swiper-slide-active">
                                                    <div class="css-main">
                                                        <div class="css-margin">
                                                            <div class="css-ivory">
                                                                <div></div>
                                                                <div class="css-quwc">
                                                                    <svg height="10" width="5" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M0.5 8.75L4.25 5L0.5 1.25" stroke-linecap="round"></path>
                                                                    </svg>
                                                                </div>
                                                                <div></div>
                                                            </div>

                                                            <div class="mappins">
                                                                <img src="/staticfiles/images/mappin.png" class="mapping" alt="" />
                                                                서울 특별시 강남구
                                                            </div>
                                                            <div class="css-event">
                                                                <div class="css-import">최신</div>
                                                                <div class="css-just">인기</div>
                                                            </div>
                                                        </div>
                                                        <div class="css-picture"></div>

                                                        <div class="css-write">
                                                            <div class="LinesEllipsis" style="margin-top: 10px">[첫펀딩 프로모션] 와디즈가 처음이라면 최대 52% 혜택 받고 시작하세요!</div>
                                                        </div>
                                                        <div class="css-detail">
                                                            <div class="LinesEllipsis">상세페이지 제작부터 컬렉션 노출까지 지원해드려요</div>
                                                        </div>
                                                        <div class="css-date">2024.02.05&nbsp;</div>
                                                        <!-- 찜하기 버튼 쪽 -->
                                                        <button type="button" class="wish-button-button" id="like">
                                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide swiper-slide-active">
                                                    <div class="css-main">
                                                        <div class="css-margin">
                                                            <div class="css-ivory">
                                                                <div></div>
                                                                <div class="css-quwc">
                                                                    <svg height="10" width="5" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M0.5 8.75L4.25 5L0.5 1.25" stroke-linecap="round"></path>
                                                                    </svg>
                                                                </div>
                                                                <div></div>
                                                            </div>

                                                            <div class="mappins">
                                                                <img src="/staticfiles/images/mappin.png" class="mapping" alt="" />
                                                                서울 특별시 강남구
                                                            </div>
                                                            <div class="css-event">
                                                                <div class="css-import">최신</div>
                                                                <div class="css-just">인기</div>
                                                            </div>
                                                        </div>
                                                        <div class="css-picture"></div>

                                                        <div class="css-write">
                                                            <div class="LinesEllipsis" style="margin-top: 10px">[첫펀딩 프로모션] 와디즈가 처음이라면 최대 52% 혜택 받고 시작하세요!</div>
                                                        </div>
                                                        <div class="css-detail">
                                                            <div class="LinesEllipsis">상세페이지 제작부터 컬렉션 노출까지 지원해드려요</div>
                                                        </div>
                                                        <div class="css-date">2024.02.05&nbsp;</div>
                                                        <!-- 찜하기 버튼 쪽 -->
                                                        <button type="button" class="wish-button-button" id="like">
                                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide swiper-slide-active">
                                                    <div class="css-main">
                                                        <div class="css-margin">
                                                            <div class="css-ivory">
                                                                <div></div>
                                                                <div class="css-quwc">
                                                                    <svg height="10" width="5" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M0.5 8.75L4.25 5L0.5 1.25" stroke-linecap="round"></path>
                                                                    </svg>
                                                                </div>
                                                                <div></div>
                                                            </div>

                                                            <div class="mappins">
                                                                <img src="/staticfiles/images/mappin.png" class="mapping" alt="" />
                                                                서울 특별시 강남구
                                                            </div>
                                                            <div class="css-event">
                                                                <div class="css-import">최신</div>
                                                                <div class="css-just">인기</div>
                                                            </div>
                                                        </div>
                                                        <div class="css-picture"></div>

                                                        <div class="css-write">
                                                            <div class="LinesEllipsis" style="margin-top: 10px">[첫펀딩 프로모션] 와디즈가 처음이라면 최대 52% 혜택 받고 시작하세요!</div>
                                                        </div>
                                                        <div class="css-detail">
                                                            <div class="LinesEllipsis">상세페이지 제작부터 컬렉션 노출까지 지원해드려요</div>
                                                        </div>
                                                        <div class="css-date">2024.02.05&nbsp;</div>
                                                        <!-- 찜하기 버튼 쪽 -->
                                                        <button type="button" class="wish-button-button" id="like">
                                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide swiper-slide-active">
                                                    <div class="css-main">
                                                        <div class="css-margin">
                                                            <div class="css-ivory">
                                                                <div></div>
                                                                <div class="css-quwc">
                                                                    <svg height="10" width="5" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M0.5 8.75L4.25 5L0.5 1.25" stroke-linecap="round"></path>
                                                                    </svg>
                                                                </div>
                                                                <div></div>
                                                            </div>

                                                            <div class="mappins">
                                                                <img src="/staticfiles/images/mappin.png" class="mapping" alt="" />
                                                                서울 특별시 강남구
                                                            </div>
                                                            <div class="css-event">
                                                                <div class="css-import">최신</div>
                                                                <div class="css-just">인기</div>
                                                            </div>
                                                        </div>
                                                        <div class="css-picture"></div>

                                                        <div class="css-write">
                                                            <div class="LinesEllipsis" style="margin-top: 10px">[첫펀딩 프로모션] 와디즈가 처음이라면 최대 52% 혜택 받고 시작하세요!</div>
                                                        </div>
                                                        <div class="css-detail">
                                                            <div class="LinesEllipsis">상세페이지 제작부터 컬렉션 노출까지 지원해드려요</div>
                                                        </div>
                                                        <div class="css-date">2024.02.05&nbsp;</div>
                                                        <!-- 찜하기 버튼 쪽 -->
                                                        <button type="button" class="wish-button-button" id="like">
                                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div></div>
            </main>
        </div>
    </body>
    <script src="/staticfiles/js/school-wooram/place-share-list.js"></script>
</html>
