<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/staticfiles/css/school-wooram/school-place-write-second.css">
    <title>장소등록 글쓰기/두번쨰</title>
</head>
<body>
    <div id="root">
        <div id="layout-container">
            <div class="layout-main">
                <!-- 왼쪽 사이드바 -->
                <div class="sidebar-layout-contents">
                    <div class="sidebar-reword-info-container">
                        <div class="sidebar-reward-info-flag-group">
                            <span class="sidebar-reward-info-flag1">프로젝트</span>
                            <span class="sidebar-reward-info-flag2">작성 중</span>
                        </div>
                        <a href="" class="sidebar-reward-info-project-name" target="_blank">
                            익명이의<br>멋진 프로젝트
                        </a>
                        <button class="project-number-box" type="button">
                            <span>
                                <span class="project-number-text">
                                    프로젝트 번호 272066
                                </span>
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="down-icon-svg" aria-hidden="true" style="width: 20px; height: 20px;">
                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <nav class="sidebar-menu-list-container">
                        <div class="sidebar-menu-list-margin"></div>
                        <ul>
                            <li>
                                <a href="/templates/html/share-soyoung/share-want.html" class="sidebar-menu-item-nav-link">
                                    자료 요청/공유 글작성
                                </a>
                            </li>
                            <li>
                                <a href="/templates/html/community-soyoung/community-write.html" class="sidebar-menu-item-nav-link">
                                    커뮤니티 글 작성
                                </a>
                            </li>
                            <li>
                                <a href="/templates/html/one-lab-soyoung/one-lab-write-page.html" class="sidebar-menu-item-nav-link  active">
                                    원랩 글 작성
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- 페이지 루트 -->
                <div id="layout-contents" class="layout-contents">
                    <section class="page-container">
                        <span class="blind-text-hidden">사이트 이동 경로</span>
                        <ol class="current-page-position-list">
                            <li class="page-position-item">프로젝트 관리</li>
                            <li class="page-position-item">원랩 장소등록/글쓰기 두번째</li>
                        </ol>
                        <h2 class="page-title">원랩 장소등록/글쓰기 두번째</h2>
                        <div class="page-guide">
                            <button class="banner-link-button-container" type="button">
                                <div class="banner-link-button-icon">
                                    <i class="banner-guide-icon"></i>
                                </div>
                                <div class="banner-link-button-content">
                                    <p class="banner-link-button-description">다른 메이커들 다 본다는</p>
                                    <strong class="banner-link-button-title">필수 가이드 모음집</strong>
                                </div>
                            </button>
                            <button type="button" class="banner-link-button-container banner-guide-button">
                                <div class="banner-link-button-icon">
                                    <i class="banner-guide-gpt-icon"></i>
                                </div>
                                <div class="banner-link-button-content">
                                    <p class="banner-link-button-content">
                                        <p class="banner-link-button-description">궁금한 모든 것을 물어보세요</p>
                                        <strong class="banner-link-button-title">AI 어드바이저</strong>
                                    </p>
                                </div>
                            </button>
                        </div>
                        
                        <!-- 헤더 navigation -->
                        <div class="page-content">
                            <nav class="project-navbar-container">
                                <div>
                                    <h1 class="nav-logo">
                                        <!-- <span class="blind-text-hidden">메이커 스튜디오</span> -->
                                    </h1>
                                </div>
                                <div class="project-navbar-maker">
                                    <div class="profile-img">
                                        <span></span>
                                    </div>
                                    <!-- 회원 이름 -->
                                    <div>익명이</div>
                                </div>
                                <div class="project-navbar-btn-group">
                                    <div class="preview-btn-container">
                                        <button type="button" class="preview-btn">
                                            <span>
                                                <span class="preview-btn-text">미리 보기</span>
                                            </span>
                                        </button>
                                    </div>
                                    <button type="button" class="pre-save-btn">
                                        <span>
                                            <span class="pre-save-btn-text">임시 저장</span>
                                        </span>
                                    </button>
                                    <div class="announce-button-container">
                                        <!-- 이미지 태그에 쪽지 아이콘 -->
                                        <img src="" alt="" class="announce-button-icon">
                                        <!-- a태그 클릭시 쪽지함으로 이동 -->
                                        <a href=""></a>
                                        
                                    </div>
                                    <button class="exit-button" type="button">
                                        <span>
                                            <span class="exit-button-text">나가기</span>
                                        </span>
                                    </button>
                                </div>
                            </nav>

                            <!-- 저장버튼 클릭시 전송될 form -->
                            <form action="">
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header">
                                        <h3 class="section-title">제목
                                            <span class="blind-text-hidden">필수</span>
                                        </h3>
                                    </div>
                                    <div class="section-description">
                                        <p>랩원 모집글의 제목을 입력해 주세요.</p>
                                    </div>
                                    <div class="section-content">
                                        <div class="text-field">
                                            <input type="text" name="" id="title-input" class="maker-input input-maker-name" placeholder="제목 입력">
                                        </div>
                                        <em class="helper-msg">30자 남음</em>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title">첨부파일
                                            <span class="blind-text-hidden">필수</span>
                                        </h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="make-profile-img-container">
                                            <div class="img-form-field">
                                                <div class="img-form-field-btn-wrapper">
                                                    <label for="" class="img-file-btn-label">
                                                        <button class="img-file-btn" type="button">
                                                            <i class="icon-camera"></i>
                                                            등록하기
                                                        </button>
                                                        <div class="img-file-btn-input">
                                                            <input class="file" accept="image/jpg,image/jpeg,image/png" name="uploadFile" placeholder="" type="file" value="">
                                                        </div>
                                                    </label>
                                                    <em class="helper error"></em>
                                                    <em class="helper img-form-field-helper">3MB 이하의 JPG, JPEG, PNG 파일</em>
                                                    <em class="helper img-form-field-helper">해상도 300x300 픽셀 이상</em>
                                                </div>
                                                <div class="prev-img-field" style="width: 100px; display: none; position: relative;">
                                                    <img class="preview-img" src="" alt="이미지 미리보기">
                                                    <button class="close-btn" type="button">&times;</button> <!-- x 버튼 추가 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- 랩원 등록 시, 랩원 계정 추가하는 섹션 -->
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header">
                                        <h3 class="section-title member">함께하는 멤버</h3>
                                    </div>
                                    <div class="section-description">
                                        <p>원랩으로 함께 하게 될 팀원이 있다면 팀원의 계정을 추가해 주세요. 장소 대여 시에 편리하게 서비스를 이용할 수 있어요.</p>
                                    </div>
                                    <div class="section-content">
                                        <div class="join-member-field">
                                            <div class="join-member-text-field">
                                                <label for=""></label>
                                                <div class="text-field-box">
                                                    <input type="text" class="input-member-email" placeholder="멤버 이메일 입력">
                                                </div>
                                                <em class="helper-message-email" style="display: none;">유효한 이메일 주소를 입력해주세요.</em>
                                            </div>
                                            <button class="insert-btn" type="button">
                                                <span>
                                                    <span class="insert-btn-text">추가</span>
                                                </span>
                                            </button>
                                        </div>
                                        <!-- 추가 버튼 클릭하면 input태그의 value값이 list로 추가됨(x버튼도 함께)  -->
                                        <div class="join-member-emails-list">
                                            <!-- <div class="join-member-emails-badge">
                                                <span>wmoon0023@gmail.com</span>
                                                <button type="button" class="join-member-emails-remove-btn">
                                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="remove-btn-svg" aria-hidden="true">
                                                        <path d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                                                    </svg>
                                                </button>
                                            </div> -->
                                        </div>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title">문의 이메일
                                            <span class="blind-text-hidden">필수</span>
                                        </h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="text-field">
                                            <input type="text" name="" id="" class="maker-input input-email" placeholder="이메일 입력" value="">
                                        </div>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title">문의 전화번호
                                            <span class="blind-text-hidden">필수</span>
                                        </h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="text-field">
                                            <label for=""></label>
                                            <input type="text" name="" id="" class="maker-input input-phone" placeholder="전화번호 입력" value="">
                                        </div>
                                    </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title member">카카오톡 채널</h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="text-field">
                                            <input type="text" name="" id="" class="maker-input input-id" placeholder="검색용 아이디 입력" value="">
                                        </div>
                                    </div>
                                    <div class="open-link-fields">
                                        <div class="open-link-field">
                                            <div class="url-field">
                                                <label for=""></label>
                                                <div class="text-field">
                                                    <input type="text" name="" id="" class="maker-input input-url" placeholder="홈페이지 URL 입력" value="">
                                                </div>
                                            </div>
                                        <button class="go-link-btn" type="button" style="min-width: 48px; height: 48px;">
                                            <span>
                                                <span class="go-link-btn-img">
                                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                        <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                        <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </button>
                                        <a href="" class="go-link-btn" style="min-width: 48px; height: 48px; display: none;">
                                            <span>
                                                <span class="go-link-btn-img">
                                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                        <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                        <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                </section>
                                <section class="section-container" style="max-width: 630px;">
                                    <div class="section-header profile">
                                        <h3 class="section-title member">SNS</h3>
                                    </div>
                                    <div class="section-content">
                                        <div class="open-link-fields">
                                            <div class="open-link-field">
                                                <div class="url-field">
                                                    <label for=""></label>
                                                    <div class="text-field">
                                                        <input type="text" name="" id="" class="maker-input input-url sns" placeholder="https://www.facebook.com/" value="">
                                                    </div>
                                                </div>
                                                <a href="" class="go-link-btn" style="min-width: 48px; height: 48px;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="open-link-fields">
                                            <div class="open-link-field">
                                                <div class="url-field">
                                                    <label for=""></label>
                                                    <div class="text-field">
                                                        <input type="text" name="" id="" class="maker-input input-url sns" placeholder="https://www.twitter.com/" value="" aria-invalid="false">
                                                    </div>
                                                </div>
                                                <a href="" class="go-link-btn" style="min-width: 48px; height: 48px;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="open-link-fields">
                                            <div class="open-link-field">
                                                <div class="url-field">
                                                    <label for=""></label>
                                                    <div class="text-field">
                                                        <input type="text" name="" id="" class="maker-input input-url sns" placeholder="https://www.instagram.com/" value="">
                                                    </div>
                                                </div>
                                                <a href="" class="go-link-btn" style="min-width: 48px; height: 48px;">
                                                    <span>
                                                        <span class="go-link-btn-img">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="go-link-btn-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                                <path d="M31.42 35.84h-27V8.4h14.76v-2H2.42v31.44h31V22.55h-2v13.29z"></path>
                                                                <path d="M37.32 15.41l-.01-13-12.99.01v2l9.72-.01-18.19 19.42 1.46 1.37 18-19.22.01 9.43h2z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="maker-info-container-btn-wrapper">
                                    <button class="save-btn">
                                        <span>
                                            <span class="save-btn-text">저장하기</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/staticfiles/js/school-wooram/school-place-write-second.js"></script>
</html>