<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/staticfiles/css/school-wooram/school-place-list.css" />
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
        <link rel="icon" type="image/png" sizes="16x16" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png" />
        <title>학교 장소 목록</title>
    </head>

    <body>
        <div id="page-container">
            <main id="main-app">
                <div></div>
                <div class="MainWrapper_content">
                    <div></div>
                    <div class="DesktopSearchResult_container">
                        <!-- 검색결과 쪽 -->
                        <div class="DesktopSearchResult_headContainer">
                            <div class="DesktopSearchResult_keyword">학교장소</div>
                            <h2>목록</h2>
                            <div class="DesktopSearchResult_number">39</div>
                            <div class="DesktopSearchResult_unit">개</div>
                            <div class="RelatedKeywords_container"></div>
                            <hr />
                        </div>

                        <!-- 전체 펀딩 오픈예정 쪽 -->
                        <div class="DesktopSearchResult_tabContainer">
                            <ul class="SearchResultTabs_tabContainer">
                                <button type="button" class="Tab_tab Tab_first Tab_active Tab_rectangle Tab_sm">
                                    <span>전체</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm">
                                    <span>좋아요</span>
                                </button>
                                <button type="button" class="Tab_tab Tab_first Tab_rectangle Tab_sm tab_end">
                                    <span>글 작성</span>
                                </button>
                            </ul>
                        </div>

                        <!-- 목록 쪽 -->
                        <div class="SearchResult_container">
                            <!-- ad banner쪽 -->
                            <div class="AdBanner_container">
                                <div class="banner_eventBanner" style="background-color: rgb(210, 217, 222)">
                                    <div class="banner_adBadge">AD</div>
                                    <a href="https://www.wadiz.kr/web/campaign/detail/230063?acid=10047924&_refer_section_st=SPA_1" class="banner_link">
                                        <div class="banner_inner">
                                            <div class="banner_contents" style="background-image: url('https://cdn1.wadiz.kr/images/20240131/1706693471860.png/wadiz/optimize')">
                                                <div class="banner_text">
                                                    <p>9가지 솔루션 제공으로</p>
                                                    <strong>편안한 무중력 쿠셔닝슈즈</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- 목록 페이지 쪽 -->
                            <div class="SearchResult_cardContainer">
                                <div class="TableLayout_container SearchResult_table" style="grid-template-columns: repeat(4, calc(25% - 18px)); gap: 24px">
                                    <div class="HomeVerticalCard_container">
                                        <a class="HomeVerticalCard_content" href="https://www.wadiz.kr/web/store/detail/599">
                                            <div class="HomeVerticalCard_thumbnailBox" style="padding-top: 56.25%">
                                                <div class="HomeVerticalCard_thumbnailWrap">
                                                    <div class="ThumbnailImage_container HomeVerticalCard_thumbnail">
                                                        <img class="ThumbnailImage_img" src="https://cdn2.wadiz.kr/2021/11/16/9316e0ac-0be7-467e-8bf4-816f5a81803c.jpg/wadiz/resize/300/format/jpg/quality/85/" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 이미지 아래 글씨쪽 -->
                                            <div class="HomeVerticalCard_infoBox HomeVerticalCard_isStore">
                                                <div class="HomeVerticalCard_info">
                                                    <div class="PriceInfoWrapper_container">
                                                        <span>14,600원</span>
                                                    </div>
                                                    <strong class="Title_title">[누적 11,600%] 진짜 그릭요거트, 그릭오</strong>
                                                    <p class="HomeVerticalCard_makerNameWrapper">앤드식스주식회사</p>
                                                </div>
                                                <div class="HomeVerticalCard_badgeGroup">
                                                    <div class="StoreRatingWrapper_ratingWrapper">
                                                        <div class="RatingScore_container">
                                                            <div class="RatingScore_icon"></div>
                                                            <span class="RatingScore_score">4.5</span>
                                                        </div>
                                                        <em class="StoreRatingWrapper_count">(147)</em>
                                                    </div>
                                                    <div class="StoreBadgeGroup_container"></div>
                                                </div>
                                            </div>
                                            <div class="CardSpinner_container">
                                                <div class="CardSpinner_loader" style="width: 32px; height: 32px">
                                                    <svg viewBox="25 25 50 50" aria-label="Loading">
                                                        <g class="Loader_circular">
                                                            <circle class="Loader_path"></circle>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- 찜하기 버튼 쪽 -->
                                        <button type="button" class="WishButton_button" id="like">
                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="HomeVerticalCard_container">
                                        <a class="HomeVerticalCard_content" href="https://www.wadiz.kr/web/store/detail/599">
                                            <div class="HomeVerticalCard_thumbnailBox" style="padding-top: 56.25%">
                                                <div class="HomeVerticalCard_thumbnailWrap">
                                                    <div class="ThumbnailImage_container HomeVerticalCard_thumbnail">
                                                        <img class="ThumbnailImage_img" src="https://cdn2.wadiz.kr/2021/11/16/9316e0ac-0be7-467e-8bf4-816f5a81803c.jpg/wadiz/resize/300/format/jpg/quality/85/" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 이미지 아래 글씨쪽 -->
                                            <div class="HomeVerticalCard_infoBox HomeVerticalCard_isStore">
                                                <div class="HomeVerticalCard_info">
                                                    <div class="PriceInfoWrapper_container">
                                                        <span>14,600원</span>
                                                    </div>
                                                    <strong class="Title_title">[누적 11,600%] 진짜 그릭요거트, 그릭오</strong>
                                                    <p class="HomeVerticalCard_makerNameWrapper">앤드식스주식회사</p>
                                                </div>
                                                <div class="HomeVerticalCard_badgeGroup">
                                                    <div class="StoreRatingWrapper_ratingWrapper">
                                                        <div class="RatingScore_container">
                                                            <div class="RatingScore_icon"></div>
                                                            <span class="RatingScore_score">4.5</span>
                                                        </div>
                                                        <em class="StoreRatingWrapper_count">(147)</em>
                                                    </div>
                                                    <div class="StoreBadgeGroup_container"></div>
                                                </div>
                                            </div>
                                            <div class="CardSpinner_container">
                                                <div class="CardSpinner_loader" style="width: 32px; height: 32px">
                                                    <svg viewBox="25 25 50 50" aria-label="Loading">
                                                        <g class="Loader_circular">
                                                            <circle class="Loader_path"></circle>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- 찜하기 버튼 쪽 -->
                                        <button type="button" class="WishButton_button">
                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="HomeVerticalCard_container">
                                        <a class="HomeVerticalCard_content" href="https://www.wadiz.kr/web/store/detail/599">
                                            <div class="HomeVerticalCard_thumbnailBox" style="padding-top: 56.25%">
                                                <div class="HomeVerticalCard_thumbnailWrap">
                                                    <div class="ThumbnailImage_container HomeVerticalCard_thumbnail">
                                                        <img class="ThumbnailImage_img" src="https://cdn2.wadiz.kr/2021/11/16/9316e0ac-0be7-467e-8bf4-816f5a81803c.jpg/wadiz/resize/300/format/jpg/quality/85/" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 이미지 아래 글씨쪽 -->
                                            <div class="HomeVerticalCard_infoBox HomeVerticalCard_isStore">
                                                <div class="HomeVerticalCard_info">
                                                    <div class="PriceInfoWrapper_container">
                                                        <span>14,600원</span>
                                                    </div>
                                                    <strong class="Title_title">[누적 11,600%] 진짜 그릭요거트, 그릭오</strong>
                                                    <p class="HomeVerticalCard_makerNameWrapper">앤드식스주식회사</p>
                                                </div>
                                                <div class="HomeVerticalCard_badgeGroup">
                                                    <div class="StoreRatingWrapper_ratingWrapper">
                                                        <div class="RatingScore_container">
                                                            <div class="RatingScore_icon"></div>
                                                            <span class="RatingScore_score">4.5</span>
                                                        </div>
                                                        <em class="StoreRatingWrapper_count">(147)</em>
                                                    </div>
                                                    <div class="StoreBadgeGroup_container"></div>
                                                </div>
                                            </div>
                                            <div class="CardSpinner_container">
                                                <div class="CardSpinner_loader" style="width: 32px; height: 32px">
                                                    <svg viewBox="25 25 50 50" aria-label="Loading">
                                                        <g class="Loader_circular">
                                                            <circle class="Loader_path"></circle>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- 찜하기 버튼 쪽 -->
                                        <button type="button" class="WishButton_button">
                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="HomeVerticalCard_container">
                                        <a class="HomeVerticalCard_content" href="https://www.wadiz.kr/web/store/detail/599">
                                            <div class="HomeVerticalCard_thumbnailBox" style="padding-top: 56.25%">
                                                <div class="HomeVerticalCard_thumbnailWrap">
                                                    <div class="ThumbnailImage_container HomeVerticalCard_thumbnail">
                                                        <img class="ThumbnailImage_img" src="https://cdn2.wadiz.kr/2021/11/16/9316e0ac-0be7-467e-8bf4-816f5a81803c.jpg/wadiz/resize/300/format/jpg/quality/85/" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 이미지 아래 글씨쪽 -->
                                            <div class="HomeVerticalCard_infoBox HomeVerticalCard_isStore">
                                                <div class="HomeVerticalCard_info">
                                                    <div class="PriceInfoWrapper_container">
                                                        <span>14,600원</span>
                                                    </div>
                                                    <strong class="Title_title">[누적 11,600%] 진짜 그릭요거트, 그릭오</strong>
                                                    <p class="HomeVerticalCard_makerNameWrapper">앤드식스주식회사</p>
                                                </div>
                                                <div class="HomeVerticalCard_badgeGroup">
                                                    <div class="StoreRatingWrapper_ratingWrapper">
                                                        <div class="RatingScore_container">
                                                            <div class="RatingScore_icon"></div>
                                                            <span class="RatingScore_score">4.5</span>
                                                        </div>
                                                        <em class="StoreRatingWrapper_count">(147)</em>
                                                    </div>
                                                    <div class="StoreBadgeGroup_container"></div>
                                                </div>
                                            </div>
                                            <div class="CardSpinner_container">
                                                <div class="CardSpinner_loader" style="width: 32px; height: 32px">
                                                    <svg viewBox="25 25 50 50" aria-label="Loading">
                                                        <g class="Loader_circular">
                                                            <circle class="Loader_path"></circle>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- 찜하기 버튼 쪽 -->
                                        <button type="button" class="WishButton_button">
                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="HomeVerticalCard_container">
                                        <a class="HomeVerticalCard_content" href="https://www.wadiz.kr/web/store/detail/599">
                                            <div class="HomeVerticalCard_thumbnailBox" style="padding-top: 56.25%">
                                                <div class="HomeVerticalCard_thumbnailWrap">
                                                    <div class="ThumbnailImage_container HomeVerticalCard_thumbnail">
                                                        <img class="ThumbnailImage_img" src="https://cdn2.wadiz.kr/2021/11/16/9316e0ac-0be7-467e-8bf4-816f5a81803c.jpg/wadiz/resize/300/format/jpg/quality/85/" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 이미지 아래 글씨쪽 -->
                                            <div class="HomeVerticalCard_infoBox HomeVerticalCard_isStore">
                                                <div class="HomeVerticalCard_info">
                                                    <div class="PriceInfoWrapper_container">
                                                        <span>14,600원</span>
                                                    </div>
                                                    <strong class="Title_title">[누적 11,600%] 진짜 그릭요거트, 그릭오</strong>
                                                    <p class="HomeVerticalCard_makerNameWrapper">앤드식스주식회사</p>
                                                </div>
                                                <div class="HomeVerticalCard_badgeGroup">
                                                    <div class="StoreRatingWrapper_ratingWrapper">
                                                        <div class="RatingScore_container">
                                                            <div class="RatingScore_icon"></div>
                                                            <span class="RatingScore_score">4.5</span>
                                                        </div>
                                                        <em class="StoreRatingWrapper_count">(147)</em>
                                                    </div>
                                                    <div class="StoreBadgeGroup_container"></div>
                                                </div>
                                            </div>
                                            <div class="CardSpinner_container">
                                                <div class="CardSpinner_loader" style="width: 32px; height: 32px">
                                                    <svg viewBox="25 25 50 50" aria-label="Loading">
                                                        <g class="Loader_circular">
                                                            <circle class="Loader_path"></circle>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- 찜하기 버튼 쪽 -->
                                        <button type="button" class="WishButton_button">
                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon">
                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div></div>
            </main>
        </div>
    </body>
    <script src="/staticfiles/js/school-wooram/school-place-list.js"></script>
</html>
