<!DOCTYPE html>
<html dir="ltr" lang="ko" class="category-page">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 파비콘 설정 -->
    <link
      rel="icon"
      type="image/x-icon"
      href="//theme.zdassets.com/theme_assets/13612819/fd8f70da068cebea64411422a92521b4168c7033.ico"
    />

    <!-- 링크 설정 (나의 CSS 연동) -->
    <link
      rel="stylesheet"
      href="/staticfiles/css/help-sanghwa/clone_coding_help_center_member_info.css"
    />

    <!-- 타이틀 (주 제목) 설정 -->
    <title>서포터 - 도움말센터</title>

    <!-- 폰트 적용 하기 -->
    <style>
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
  </head>
  <!-- 바디 클론코딩 제작 -->
  <body>
    <div></div>
    <div class="layout-column" x-data="Widgets.mobileMenu">
      <!-- 헤더 클론코딩 제작 -->
      <header
        class="header_unstuck"
        x-data="Widgets.header({ isFixed: false, isSticky: true })"
        :class="{ 'text-header bg-header': isStuck, 'shadow': isStuck, 'border-bottom': !isFixed }"
      >
        <nav class="navbar_full">
          <a href="" class="navbar-auto">
            <img
              class="block-fluid"
              id="logo"
              src="https://theme.zdassets.com/theme_assets/13612819/a2bda3d577fa2698038267539c34a696a70da97c.png"
              alt="도움말 센터 헬프 센터 홈 페이지"
            />
          </a>
          <button
            class="navbar-hidden"
            x-ref="toggle"
            :aria-expanded="isOpen && 'true'"
            @click="toggle"
            @keydown.escape="toggle"
            aria-expanded="false"
          >
            <span></span>
            <span class="sr-only">탐색 메뉴 토글</span>
          </button>
          <div
            class="backdrop-hidden"
            x-show="isOpen"
            @click="close"
            x-transition:enter="x-transition-fast"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="x-transition-fast"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            style="display: none"
          ></div>
          <div
            class="nav-end"
            x-show="isOpen"
            :class="{ 'text-header': isOpen }"
            x-transition:enter="x-transition-fast"
            x-transition:enter-start="translate-x-full"
            x-transition:enter-end="translate-x-0"
            x-transition:leave="x-transition-fast"
            x-transition:leave-start="translate-x-0 text-header"
            x-transition:leave-end="translate-x-full text-header"
            style="display: none"
          >
            <div class="search-0" x-data="Widgets.search">
              <form
                role="search"
                class="form-0"
                style="width: 294px; height: 44px"
              >
                <input name="utf8" type="hidden" value="✓" autocomplete="off" />
                <zd-autocomplete-announcement
                  class="zd"
                  id="63114890-e897-44f8-a172-dc621f78bb6c"
                  aria-live="polite"
                  role="listbox"
                ></zd-autocomplete-announcement>
                <input
                  type="search"
                  name="query"
                  id="query"
                  placeholder="검색어를 입력해 주세요"
                  aria-label="Search"
                  aria-autocomplete="both"
                  aria-expanded="false"
                  role="combobox"
                  aria-owns="4ac0343a-4f94-48c1-b9e8-500d17f86e96"
                />
              </form>
              <!-- <img
                    src="/templates/html/help-sanghwa/images/search.png"
                    alt="돋보기이미지"
                    class="zoom-img"
              /> -->
              <svg
                class="search-transition"
                xmlns="https://www.w3.org/TR/SVG2/"
                viewBox="0 0 12 12"
                aria-hidden="true"
              >
                <use xlink:href="#icon-search"></use>
              </svg>
            </div>
            <div
              data-element="template"
              data-template="category-dropdown"
            ></div>
            <a class="button-my-1" href=""> 문의 등록 </a>
            <a class="button-my-2" href=""> 메이커 센터 </a>
            <a class="button-my-3" href=""> 와디즈 바로가기 </a>
          </div>
        </nav>
      </header>
      <!-- 헤더 클론코딩 범위 -->

      <!-- 바디 클론코딩 제작 -->
      <main
        class="body-main"
        role="main"
        style="flex-grow: 1;
      ">
        <div
          class="container-6"
          id="page-container"
        >
          <div class="row-center"></div>
          <div class="row-lg">
            <div class="col">
              <div class="row">
                <div class="col-4" id="section-anchor-25448181617305">
                  <h2
                    style="font-size: 13px;
                    font-weight: 600;
                    font-family: 'Pretendard Variable';
                    margin: 0.5rem 0 3rem;
                   line-height: 1.4;
                    color: rgba(8, 8, 8, 1);"
                  >
                    <a class="text-inherit" href=""> 회원정보 </a>
                  </h2>
                  <div id="article">
                    <ul
                      class="row-unstyled"
                      style="margin-right: -3rem; margin-left: -3rem; margin-top: -2rem; align-items: center; flex-grow: 1; padding-left: 0;
                    ">
                      <li class="col-12">
                        <div class="relative-bottom" style="flex: 1;">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem"
                          >
                            <a class="link-underline" href="">
                              알림 신청한 프로젝트는 어디서 확인하나요?
                            </a>
                            <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title class="title">승격된 문서</title>
                              <use class="use" xlink:href="#icon-star"></use>
                            </svg>
                            <p class="my-normal" style="margin-top: 0.5rem; font-weight: 400;  line-height: 2; color: #403b3b;">
                              마이와디즈의 [찜º알림신청]"에서 확인하실 수 있어요. 찜. 알림 신청 목록 뿐만 아니라 최근에 본 프...
                            </p>
                          </div>
                        </div>
                      </li>
                      <!-- <li></li>반복 -->
                    </ul>
                    <p class="mt-4" style="margin-top: 1rem; font-size: 1.125rem;">
                      <a class="hover-underline" href="">
                        문서 11개 모두 보기 
                        <svg
                          class="svg-icon"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                        >
                          <path
                            class="path"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                          ></path>
                        </svg>
                      </a>
                    </p>
                  </div>
                </div>
                <!-- <div></div>반복 -->
              </div>
            </div>
            <aside class="lg-4" style="padding-left: 2.5rem; ">
              <div class="navi" data-element="navigation" data-template="section-list"></div>
                <div class="bg-4">
                  <div style="font-family: Pretendard Variable">
                    <h3 class="mt" style="margin-top: 1rem;">
                      <a class="a-text" href=""> 서포터 </a>
                    </h3>
                    <ul class="list-unstyled" style="padding-left: 0;">
                      <li>
                        <a class="block-bottom" href=""> 회원 정보 </a>
                      </li>
                      <!-- <li></li>반복 -->
                    </ul>
                  </div>
                  <!-- <div></div>반복 -->
                </div>
              </div>
            </aside>
          </div>
        </div>
        <div
          data-element="template"
          data-template="call-to-action"
        ></div>
      </main>
      <!-- 바디 클론코딩 범위 -->

      <!-- 푸터 클론코딩 제작 -->
      <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
        <symbol id="icon-search">
          <circle
            cx="4.5"
            cy="4.5"
            r="4"
            fill="none"
            stroke="currentColor"
          ></circle>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            d="M11 11L7.5 7.5"
          ></path>
        </symbol>
        <symbol id="icon-lock">
          <rect
            width="12"
            height="9"
            x="2"
            y="7"
            fill="currentColor"
            rx="1"
            ry="1"
          ></rect>
          <path
            fill="none"
            stroke="currentColor"
            d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"
          ></path>
        </symbol>
        <symbol id="icon-star">
          <polygon
            points="213 325 81 405 116 255 0 154 153 141 213 0 273 141 426 154 310 255 345 405"
          ></polygon>
        </symbol>
        <symbol id="icon-chevron-down">
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"
          ></path>
        </symbol>
        <symbol id="icon-agent">
          <path
            fill="currentColor"
            d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"
          ></path>
        </symbol>

        <symbol id="shape-book">
          <path
          d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z"
          ></path>
        </symbol>
      </svg>
      <!-- 푸터 클론코딩 범위 -->
    </div>
  </body>
  <!-- 바디 클론코딩 범위 -->
</html>
