<!DOCTYPE html>
<!-- HTML 전체 설정 -->
<html dir="ltr" lang="ko" class="category-page">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 파비콘 설정 -->
    <link
      rel="icon"
      type="image/x-icon"
      href="//theme.zdassets.com/theme_assets/13612819/fd8f70da068cebea64411422a92521b4168c7033.ico"
    />

    <!-- 링크 설정 (나의 CSS 연동) -->
    <link
      rel="stylesheet"
      href="/staticfiles/css/help-sanghwa/help-center-review-page.css"
    />

    <!-- 타이틀 (주 제목) 설정 -->
    <title>서포터 - 도움말센터</title>

    <!-- 폰트 적용 하기 -->
    <style>
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
  </head>
  <!-- 바디 클론코딩 제작 -->
  <body>
    <div></div>
    <div class="layout-column" x-data="Widgets.mobileMenu">
      <!-- 헤더 클론코딩 제작 -->
      <header
        class="header_unstuck"
        x-data="Widgets.header({ isFixed: false, isSticky: true })"
        :class="{ 'text-header bg-header': isStuck, 'shadow': isStuck, 'border-bottom': !isFixed }"
      >
        <nav class="navbar_full">
          <a href="" class="navbar-auto">
            <!-- 와디즈 도움말센터 이미지 -->
            <img
              class="block-fluid"
              id="logo"
              src="https://theme.zdassets.com/theme_assets/13612819/a2bda3d577fa2698038267539c34a696a70da97c.png"
              alt="도움말 센터 헬프 센터 홈 페이지"
            />
          </a>
          <!-- 탐색 메뉴 토글 -->
          <button
            class="navbar-hidden"
            x-ref="toggle"
            :aria-expanded="isOpen && 'true'"
            @click="toggle"
            @keydown.escape="toggle"
            aria-expanded="false"
          >
            <span></span>
            <span class="sr-only">탐색 메뉴 토글</span>
          </button>
          <div
            class="backdrop-hidden"
            x-show="isOpen"
            @click="close"
            x-transition:enter="x-transition-fast"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="x-transition-fast"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
          ></div>
          <!-- 헤더 영역마다 범위를 분할 -->
          <div
            class="nav-end"
            x-show="isOpen"
            :class="{ 'text-header': isOpen }"
            x-transition:enter="x-transition-fast"
            x-transition:enter-start="translate-x-full"
            x-transition:enter-end="translate-x-0"
            x-transition:leave="x-transition-fast"
            x-transition:leave-start="translate-x-0 text-header"
            x-transition:leave-end="translate-x-full text-header"
          >
            <!-- 검색 input 영역 -->
            <div class="search-0" x-data="Widgets.search">
              <form
                role="search"
                class="form-0"
              >
                <input name="utf8" type="hidden" value="✓" autocomplete="off" />
                <zd-autocomplete-announcement
                  id="63114890-e897-44f8-a172-dc621f78bb6c"
                  aria-live="polite"
                  role="listbox"
                ></zd-autocomplete-announcement>
                <!-- 실질적인 검색 input 박스 -->
                <input
                  type="search"
                  name="query"
                  id="query"
                  placeholder="검색어를 입력해 주세요"
                  aria-label="Search"
                  aria-autocomplete="both"
                  aria-expanded="false"
                  role="combobox"
                  aria-owns="4ac0343a-4f94-48c1-b9e8-500d17f86e96"
                />
              </form>
              <!-- svg 돋보기 이미지 -->
              <svg
                class="search-transition"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 12 12"
                aria-hidden="true"
              >
                <use xlink:href="#icon-search"></use>
              </svg>
            </div>
            <div
              data-element="template"
              data-template="category-dropdown"
            ></div>
            <!-- 문의 등록 버튼 -->
            <a class="button-header-1" href="/templates/html/help-sanghwa/help-center-register-inquiry.html"> 문의 등록 </a>
            <!-- 메이커센터 버튼 -->
            <a class="button-header-2" href="">메이커센터 </a>
            <!-- 와디즈 바로가기 버튼 -->
            <a class="button-header-3" href="">와디즈 바로가기 </a>
          </div>
        </nav>
      </header>
      <!-- 헤더 클론코딩 범위 -->

      <!-- 바디 클론코딩 제작 -->
      <main role="main">
        <div
          class="container-6"
          id="page-container"
          style="padding-top: 6rem; padding-bottom: 1rem;"
        >
          <div class="row-center"></div>
          <div class="row-lg">
            <div class="col">
              <div class="row">
                <div class="col-4" id="section-anchor-25448181617305">
                  <!-- "회원정보" 글 범위 -->
                  <h2>
                    <a class="text-inherit" href=""> 회원정보 </a>
                  </h2>
                  <div id="article">
                    <ul
                      class="row-unstyled"
                    >
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <!-- "회원정보" 밑의 하나의 블럭 -->
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              알림 신청한 프로젝트는 어디서 확인하나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg>
                            <p class="my-normal">
                              마이와디즈의 [찜º알림신청]에서 확인하실 수 있어요. 찜. 알림 신청 목록 뿐만 아니라 최근에 본 프...
                            </p>
                          </div>
                        </div>
                      </li>
                      <!-- <li></li>반복 -->
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              회원 정보 변경은 어떻게 하나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg>
                            <p class="my-normal">
                              기본 정보 설정에서 닉네임, 이메일, 연락처 등을 언제든 변경할 수 있어요. 마이와디즈의 설정에서...
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              새소식 알림 설정은 어떻게 하나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <!-- <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg> -->
                            <p class="my-normal">
                              마이와디즈에서 언제든지 설정을 변경하실 수 있어요. 프로젝트 별로 새소식 알림을 각각 설정 가능해요....
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              카카오 알림톡 거부는 어떻게 하나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <!-- <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg> -->
                            <p class="my-normal">
                              수신한 카카오 알림톡 화면에서 직접 설정 가능해요. 알림톡으로 발송되는 알림은 다양한 내용으로 발송돼...
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              와디즈 회원 가입은 어떻게 하나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <!-- <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg> -->
                            <p class="my-normal">
                              와디즈 앱 또는 PC를 통해 누구나 간편하게 가입할 수 있어요. 페이스북, 카카오, 애플, 네이버, ...
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              이벤트 혜택알림을 어떻게 설정하나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <!-- <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg> -->
                            <p class="my-normal">
                              와디즈의 이벤트 혜택 알림 설정은 [MY 정보설정]에서 직접 선택할 수 있어요. 👉 이벤트 혜택 알림...
                            </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- "회원정보" 관련 목록 더보기 ->  -->
                    <p class="mt-lg">
                      <a class="hover:no-underline" href="">
                        문서 11개 모두 보기
                        <svg
                          class="svg-icon"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                          ></path>
                        </svg>
                      </a>
                    </p>
                  </div>
                </div>
                <!-- <div></div>반복 -->
                <div class="col-4" id="section-anchor-25448181617305">
                  <!-- "결제" 글 범위 -->
                  <h2>
                    <a class="text-inherit" href=""> 결제 </a>
                  </h2>
                  <div id="article">
                    <ul
                      class="row-unstyled"
                    >
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <!-- "결제" 밑의 하나의 블럭 -->
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              펀딩 참여 내역은 어떻게 확인하나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg>
                            <p class="my-normal">
                              서포터님이 참여한 프로젝트는 [참여 내역]에서 확인할 수 있어요. 참여한 펀딩&프리오더의 예약 취소를...
                            </p>
                          </div>
                        </div>
                      </li>
                      <!-- <li></li>반복 -->
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              "지금결제"는 어떻게 할 수 있나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg>
                            <p class="my-normal">
                              네이버페이, 카카오페이, 애플페이 뿐만 아니라 신용카드나 직불(체크)카드를 선택하여 결제할 수 있어요...
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              지금 결제했는데 영수증 출력하는게 안보여요. 어디서 출력하나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <!-- <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg> -->
                            <p class="my-normal">
                              지금 결제로 결제하셨다면 영수증 출력은 프로젝트가 종료된 다음날부터 출력할 수 있어요. [참여 내역...
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              "지금결제"가 무엇인가요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <!-- <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg> -->
                            <p class="my-normal">
                              펀딩이나 프리오더에 참여할 때 즉시 결제할 수 있는 서비스예요. 프로젝트 종료 후 결제가 가능한 ...
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              상품을 직접 구매할 수 있나요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <!-- <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg> -->
                            <p class="my-normal">
                              일부 상품은 공간 와디즈에서 구매하실 수 있어요. 공간와디즈는 진행 중인 프로젝트 혹은 성공적으로 종...
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="col-12">
                        <div class="relative-bottom">
                          <div
                            class="flex"
                            x-data="{ src: Theme.assets['article'] }"
                          ></div>
                          <div
                            class="media-lg"
                            style="margin-left: 3.5rem; margin-right: -0.5rem;"
                          >
                            <a class="link-underline" href="">
                              현금영수증 발급 가능한가요?
                            </a>
                            <!-- 중요한 블럭 별 표시 -->
                            <!-- <svg
                              class="svg-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 426 405"
                              aria-hidden="true"
                            >
                              <title>승격된 문서</title>
                              <use xlink:href="#icon-star"></use>
                            </svg> -->
                            <p class="my-normal">
                              펀딩 참여 또는 스토어 주문 시 현금 결제는 불가하므로 현금 영수증 발급은 어려워요. 와디즈에서는 신...
                            </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- "결제" 관련 목록 더보기 ->  -->
                    <p class="mt-lg">
                      <a class="hover:no-underline" href="">
                        문서 28개 모두 보기
                        <svg
                          class="svg-icon"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                          ></path>
                        </svg>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- 우측부분 네비게이션 (서포터, 메이커) -->
            <aside class="lg-4">
              <div data-element="navigation" data-template="section-list"></div>
                <div class="bg-4">
                  <div>
                    <h3 class="mt">
                      <a class="text" href=""> 서포터 </a>
                    </h3>
                    <ul class="list-unstyled">
                      <li>
                        <a class="block-bottom" href=""> 회원정보 </a>
                      </li>
                      <!-- <li></li>반복 -->
                      <li>
                        <a class="block-bottom" href=""> 결제 </a>
                      </li>
                    </ul>
                  </div>
                  <!-- <div></div>반복 -->
                  <div>
                    <h3 class="mt">
                      <a class="text" href=""> 메이커 </a>
                    </h3>
                    <ul class="list-unstyled">
                      <li>
                        <a class="block-bottom" href=""> 심사 </a>
                      </li>
                      <!-- <li></li>반복 -->
                      <li>
                        <a class="block-bottom" href=""> 광고 </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
        <div
          data-element="template"
          data-template="call-to-action"
        ></div>
      </main>
      <!-- 바디 클론코딩 범위 -->

      <!-- 푸터 클론코딩 제작 -->
      <footer class="footer-6" id="footer">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="svg-shape" viewBox="0 0 1200 120">
          <use xlink:href="#shape-book"></use>
        </svg>
        <div class="container-7"> </div>
        <!-- svg 에서 symbol 가져오기 -->
        <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
          <!-- symbol-1 검색 돋보기-->
          <symbol id="icon-search">
            <circle
              cx="4.5"
              cy="4.5"
              r="4"
              fill="none"
              stroke="currentColor"
            ></circle>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              d="M11 11L7.5 7.5"
            ></path>
          </symbol>
          <!-- symbol-2 자물쇠 아이콘-->
          <symbol id="icon-lock">
            <rect
              width="12"
              height="9"
              x="2"
              y="7"
              fill="currentColor"
              rx="1"
              ry="1"
            ></rect>
            <path
              fill="none"
              stroke="currentColor"
              d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"
            ></path>
          </symbol>
          <!-- symbol-3 별 아이콘 -->
          <symbol id="icon-star">
            <polygon
              points="213 325 81 405 116 255 0 154 153 141 213 0 273 141 426 154 310 255 345 405"
            ></polygon>
          </symbol>
          <!-- symbol-4 -->
          <symbol id="icon-chevron-down">
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"
            ></path>
          </symbol>
          <!-- symbol-5 -->
          <symbol id="icon-agent">
            <path
              fill="currentColor"
              d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"
            ></path>
          </symbol>
          <!-- symbol-6 -->
          <symbol id="shape-book">
            <path
            d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z"
            ></path>
          </symbol>
        </svg>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 메인 푸터 부분 범위 -->
        <div class="main-container">
          <!-- 정책 약관, 개인정보처리방침 -->
          <div class="containerq">
            <div class="divider">
              <div class="full-divider"></div>
            </div>
            <div class="box">
              <div class="box-1">
                <div class="text-gray">
                  <span class="button-text">정책.약관</span>
                  <div class="system-icon">
                    <div class="fill"></div>
                  </div>
                </div>
                <div class="text-gray-2" onclick="location.href='https://www.wadiz.kr/web/wterms/privacy'">
                  <span class="button-text-3">개인정보처리방침</span>
                  <div class="system-icon-4">
                    <div class="fill-5"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider-6">
              <div class="full-7"></div>
            </div>
          </div>
          <!-- 하단부 좌측 & 우측 -->
          <div class="container-8">
            <!-- 하단부 좌측 와디즈 도움말센터 -->
            <div class="box-9">
              <div class="box-a">
                <div class="box-b">
                  <div class="system-icon-c">
                    <div class="fill-d"></div>
                  </div>
                  <span class="wadiz-help-center">와디즈 도움말센터</span>
                </div>
                <div class="text-button">
                  <span class="button-text-f">채팅 상담하기</span>
                  <div class="system-icon-10">
                    <div class="fill-11"></div>
                  </div>
                </div>
                <div class="text-12" onclick="location.href='https://helpcenter.wadiz.kr/hc/ko/requests/new'">
                  <span class="button-text-13">문의 등록하기</span>
                  <div class="system-icon-14">
                    <div class="fill-15"></div>
                  </div>
                </div>
              </div>
              <div class="divider-16">
                <div class="full-17"></div>
              </div>
              <div class="box-18">
                <span class="counseling-available-time">상담 가능 시간</span>
                <span class="counseling-available-date">평일 오전 9시 ~ 오후 6시 (주말, 공휴일 제외)
                </span>
              </div>
            </div>
            <!-- 하단부 우측 대표이사 및 사업자등록번호 -->
            <div class="box-19">
              <div class="box-1a">
                <div class="box-1b">
                  <div class="box-1c">
                    <span class="wadiz">와디즈(주)</span>
                    <div class="divider-1d">
                      <div class="middle-divider"></div>
                    </div>
                    <span class="representative-director">대표이사</span>
                    <span class="main-name">신혜성</span>
                    <div class="divider-1e">
                      <div class="middle-1f"></div>
                    </div>
                    <span class="business-number">사업자등록번호 258-87-01370</span>
                    <div class="divider-20">
                      <div class="middle-21"></div>
                    </div>
                    <span class="sales-number">통신판매업신고번호 2021-성남분당C-1153</span>
                    <div class="divider-22">
                      <div class="middle-23"></div>
                    </div>
                    <span class="span-address">경기 성남시 분당구 판교로 242 PDC A동 402호</span>
                  </div>
                  <div class="box-24">
                    <span class="span-email-consultation">이메일 상담</span>
                    <div class="divider-25">
                      <div class="middle-26"></div>
                    </div>
                    <span class="span-email">info@wadiz.kr</span>
                    <div class="divider-27">
                      <div class="middle-28"></div>
                    </div>
                    <span class="wired-counseling">유선 상담 1661-9056</span>
                    <span class="wadiz-co-ltd">ⓒ wadiz Co., Ltd.</span>
                  </div>
                </div>
                <span class="wadiz-disclaimer">
                  일부 상품의 경우 와디즈는 통신판매중개자이며 통신판매 당사자가 아닙니다.
                  <br>
                  해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용
                  을 확인하시기 바랍니다.
                  </span>
              </div>
              <!-- 안드로이드 앱 스토어 가는 버튼 -->
              <div class="box-29">
                <div class="box-2a" onclick="location.href='https://play.google.com/store/apps/details?id=com.markmount.wadiz&pli=1'">
                  <div class="artwork-logo-1"></div>
                  <span class="android-app">Android앱</span>
                </div>
                <!-- 애플 앱 스토어 가는 버튼 -->
                <div class="box-2b">
                  <div class="artwork-logo-2" onclick="location.href='https://apps.apple.com/kr/app/%EC%99%80%EB%94%94%EC%A6%88/id1107828621'"></div>
                  <span class="ios-app">iOS앱</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- 푸터 클론코딩 범위 -->
    </div>
  </body>
  <!-- 바디 클론코딩 범위 -->
</html>
