<!DOCTYPE html>
<!-- HTML 전체 설정 -->
<html dir="ltr" lang="ko" class="category-page">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 글꼴 형식 정보 -->
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
    />

    <!-- 파비콘 설정 -->
    <link
      rel="icon"
      type="image/x-icon"
      href="//theme.zdassets.com/theme_assets/13612819/fd8f70da068cebea64411422a92521b4168c7033.ico"
    />

    <!-- 링크 설정 (나의 CSS 연동) -->
    <link
      rel="stylesheet"
      href="/staticfiles/css/help-sanghwa/help-center-register-write.css"
    />

    <!-- 타이틀 (주 제목) 설정 -->
    <title>문의 등록-도움말 센터</title>

    <!-- 폰트 적용 하기 -->
    <style>
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
  </head>
  <!-- 바디 클론코딩 제작 -->
  <body>
    <div></div>
  </body>
</html>
