<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/staticfiles/css/admin-sunghyun/admin_notification-write.css"
        />
        <link rel="icon" type="image/png" sizes="16x16" href="/staticfiles/images/admin-images/favicon/favicon-32x32.png">
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <title>문의사항 답변</title>
    </head>
    <body>
        <div class="flex-column">
            <!-- 헤더 -->
            <header></header>
            <main role="main">
                <div class="container">
                    <!-- 위에쪽 네비 -->
                    <div class="align-items-cent">
                        <nav class="col">
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="">관리자 페이지</a>
                                </li>
                                <li>문의사항 답변</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="lg:col-9">
                            <!-- 맨위쪽 큰 글씨 쪽 -->
                            <header class="mb-5">
                                <h1 class="h1">문의사항 답변/수정</h1>
                            </header>
                            <div class="form">
                                <div></div>

                                <!-- 밑에 텍스트들 -->
                                <div
                                class="form-field text required request_description"
                            >
                                <label
                                    id="request_description_label"
                                    for=""
                                    >문의사항 내용입니다.</label
                                >
                                <textarea
                                    name=""
                                    id="request_description"
                                    cols="30"
                                    rows="10"
                                    style="
                                        visibility: hidden;
                                        display: none;
                                    "
                                ></textarea>
                                <div
                                    role="application"
                                    class="hc-wysiwyg"
                                >
                                    <!-- <div role="toolbar">
                                        <span aria-haspopup="true">
                                            <span
                                                role="button"
                                                class="wysiwyg-icon-formats"
                                            ></span>
                                            <span
                                                role="menu"
                                                aria-hidden="true"
                                            >
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </span>
                                        </span>
                                        <span
                                            role="button"
                                            class="wysiwyg-icon-bold"
                                        ></span>
                                        <span
                                            role="button"
                                            class="wysiwyg-icon-italic"
                                        ></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div> -->
                                    <div
                                        role="form"
                                        aria-expanded="false"
                                    ></div>
                                    <div role="group">
                                        <!-- <iframe id="request_description_ifr" class="tox-edit-area__iframe" src="" frameborder="0"></iframe> -->
                                        <textarea
                                            name=""
                                            class="tox-edit-area__iframe"
                                            cols="30"
                                            rows="10"
                                        ></textarea>
                                    </div>
                                    <div
                                        role="alert"
                                        aria-hidden="true"
                                    ></div>
                                    <div>
                                        <input
                                            type="hidden"
                                            value="text/html"
                                        />
                                    </div>
                                </div>
                                <input
                                    type="hidden"
                                    value="text/html"
                                    style="display: none"
                                    autocomplete="off"
                                />
                                <p class="request_description_hint">
                                    ※ 추가적인 문의 내용 확인 및
                                    정보제공에 대한 동의가 필요한 경우
                                    전화로 연락 드릴 수 있습니다.
                                </p>
                                    
                                    </div>

                                    <!-- 텍스트쪽 -->
                                    <div
                                        class="form-field text required request_description"
                                    >
                                        <label
                                            id="request_description_label"
                                            for=""
                                            >답변 내용을 입력해주세요.</label
                                        >
                                        <textarea
                                            name=""
                                            id="request_description"
                                            cols="30"
                                            rows="10"
                                            style="
                                                visibility: hidden;
                                                display: none;
                                            "
                                        ></textarea>
                                        <div
                                            role="application"
                                            class="hc-wysiwyg"
                                        >
                                            <div role="toolbar">
                                                <span aria-haspopup="true">
                                                    <span
                                                        role="button"
                                                        class="wysiwyg-icon-formats"
                                                    ></span>
                                                    <span
                                                        role="menu"
                                                        aria-hidden="true"
                                                    >
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                    </span>
                                                </span>
                                                <span
                                                    role="button"
                                                    class="wysiwyg-icon-bold"
                                                ></span>
                                                <span
                                                    role="button"
                                                    class="wysiwyg-icon-italic"
                                                ></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <div
                                                role="form"
                                                aria-expanded="false"
                                            ></div>
                                            <div role="group">
                                                <!-- <iframe id="request_description_ifr" class="tox-edit-area__iframe" src="" frameborder="0"></iframe> -->
                                                <textarea
                                                    name=""
                                                    class="tox-edit-area__iframe"
                                                    cols="30"
                                                    rows="10"
                                                ></textarea>
                                            </div>
                                            <div
                                                role="alert"
                                                aria-hidden="true"
                                            ></div>
                                            <div>
                                                <input
                                                    type="hidden"
                                                    value="text/html"
                                                />
                                            </div>
                                        </div>
                                        <input
                                            type="hidden"
                                            value="text/html"
                                            style="display: none"
                                            autocomplete="off"
                                        />
                                        <p class="request_description_hint">
                                            ※ 추가적인 문의 내용 확인 및
                                            정보제공에 대한 동의가 필요한 경우
                                            전화로 연락 드릴 수 있습니다.
                                        </p>
                                    </div>
                                    <div
                                        class="form-field string optional request_custom_fields"
                                    >
                                        <label
                                            id="request_custom_fields_label"
                                            for=""
                                            >※ 개인정보 동의 시 아래
                                            선택해주세요 🥰
                                            <span class="optional"
                                                >(선택 사항)</span
                                            >
                                        </label>
                                        <input
                                            type="hidden"
                                            autocomplete="off"
                                            aria-required="false"
                                        />
                                        <a
                                            class="nesty-input"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                            style="
                                                max-width: 100%;
                                                display: block;
                                            "
                                            href=""
                                            >-</a
                                        >
                                        <p class="request_custom_fields_hint">
                                            정보를 입력해주시면 답변 알림 및
                                            신속하고 정확한 상담이 가능합니다.
                                            아래의 개인정보 수집 및 이용 정책을
                                            확인하셨다면 체크 박스에
                                            체크해주세요. ① 수집항목: (필수)
                                            이메일 주소, 연락처, 이름/ (선택)
                                            와디즈 이메일 계정 ② 수집목적: 상담
                                            답변 알림 및 정보 제공 ③ 보유기간:
                                            [정보 수집으로부터 3년 후 파기]
                                            개인정보 수집 동의를 거부할 수
                                            있으나, 거부할 경우 연락 수단의
                                            부재로 답변 알림 및 상담이 제한될 수
                                            있습니다.
                                        </p>
                                    </div>
                                    <!-- 맨밑 파일쪽 -->
                                    <div class="form-field">
                                        <label for="request-attachments">
                                            첨부 파일
                                            <span class="optional"
                                                >(선택 사항)</span
                                            >
                                        </label>
                                        <div class="upload-dropzone">
                                            <input
                                                id="attach"
                                                type="file"
                                                multiple="true"
                                            />
                                            <span>
                                                <a>파일 추가</a>
                                                또는 파일을 여기로 드래그
                                            </span>
                                        </div>
                                        <div class="wrap">
                                            <label for="attach">
                                                <div class="image"></div>
                                            </label>
                                            <div class="cancel"></div>
                                        </div>
                                        <ul></ul>
                                    </div>

                                    <!-- 맨밑 제출 버튼쪽 -->
                                    <footer>
                                        <input
                                            class="btn"
                                            type="submit"
                                            name="commit"
                                            value="수정"
                                        />
                                        <input
                                        class="btn right"
                                        type="submit"
                                        name="commit"
                                        value="제출"
                                        style="margin-left: 588px;
                                        background-color: #008244;"
                                    />
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a
                    href="https://www.wadiz.kr/web/project/registration?type=aiAdvisorModalOpen"
                >
                    <img
                        src="https://theme.zdassets.com/theme_assets/13612819/70b1977be0a68c0c7e333ae43321efbb048f90cd.PNG"
                        alt=""
                    />
                </a>
            </main>

            <!-- 푸터 -->
            <footer></footer>
        </div>
    </body>
    <script src="/staticfiles/js/school-wooram/school-place-write.js"></script>
</html>
