<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.wadiz.kr/assets/icon/favicon-32x32.png">
    <link rel="stylesheet" href="/staticfiles/css/school-wooram/contest-write.css">
    <title>공모전 작성</title>
</head>
<body class="ReactModal__Body--open" aria-hidden="true">
    <div id="root">
        <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
            <div class="AppLayout_main__14bCi">

                <!-- 오른쪽 레이아웃 -->
                <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
                    <div id="container" class="ContentsLayout_container__11k-W">
                        <div class="FundingStoryContainer_container__33WY0">
                            
                            <!-- 프로젝트 관리 > 스토리 작성 레이아웃 -->
                            <ol class="Breadcrumb_container__3YjD4">
                                <li class="Breadcrumb_item__2r9Ym">
                                    프로젝트 관리
                                </li>
                                <li class="Breadcrumb_item__2r9Ym">관리자(공모전 작성)</li>
                            </ol>

                            <!-- 네이게이션 레이아웃 -->
                            <nav class="DetailNavbar_container__3SkEf">
                                <div class="AppNavbar_container__5uOnI">
                                    <div style="background: url('https://static.wadiz.kr/studio/funding/static/media/wadiz-logo.549edcd7.svg') 50% center / contain no-repeat; width: 129px; height: 48px; cursor: pointer;"></div>
                                    <div class="AppNavbar_maker__2WVfm">
                                        <div class="Avatar_avatar__1judw Avatar_xs__3p4gn">
                                            <span></span>
                                        </div>
                                        <div>프로필</div>
                                    </div>
                                    <div class="AppNavbar_buttonGroup__UcLfm">
                                        <div class="PreviewButton_container__1P-_4">
                                            <button class="Button_button__3xWsG Button_primary__NG1uA Button_md__1enYX Button_circular__LK5FZ" type="button">
                                                <span>
                                                    <span class="Button_children__aKL80">미리 보기</span>
                                                </span>
                                            </button>
                                        </div>
                                        <button class="Button_button__3xWsG Button_primary__NG1uA Button_contained__Z8LUb Button_md__1enYX Button_circular__LK5FZ" type="button">
                                            <span>
                                                <span class="Button_children__aKL80">임시 저장</span>
                                            </span>
                                        </button>
                                        <div class="AnnouncementButton_container__1p1gr" role="button">
                                            <img class="AnnouncementButton_icon__29AtY" src="https://static.wadiz.kr/studio/funding/static/media/announcement.56f4b8e3.svg" alt aria-hidden="true">
                                            <span class="Badge_container__S_Kv- AnnouncementButton_badge__2Jq25"></span>
                                            <div class="AnnouncementPopover_container__51hBA">
                                                <div class="AnnouncementList_container__3Y83C AnnouncementPopover_list__2F5OR">
                                                    <h2 class="AnnouncementList_title__3ydqj">안내</h2>
                                                    <ul class="AnnouncementList_list__SiNbg">
                                                        <li class="AnnouncementListItem_container__1RcK9">
                                                            <div class="AnnouncementListItem_badgeArea__1SUhX">
                                                                <span class="Badge_container__S_Kv- Badge_visible__35tWe">
                                                                    <span class="Badge_badge__jhj9x Badge_label__2Epdo Badge_md__bhLh1 Badge_info__XFaZ6 Badge_tertiary__2vr1j"></span>
                                                                </span>
                                                            </div>
                                                            <div class="AnnouncementListItem_content__JdK0M">
                                                                <div class="AnnouncementListItem_info__3TWyQ">
                                                                    <div class="AnnouncementListItem_header__72g1V">서비스</div>
                                                                    <div class="AnnouncementListItem_registeredDate__3QNjz">7월 12일</div>
                                                                </div>
                                                                <div class="AnnouncementListItem_title__3s-2e AnnouncementListItem_bold__2IKe5">서포터 안심번호 서비스 도입</div>
                                                            </div>
                                                        </li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <div class="AnnouncementDetailDrawer_container__3upVM AnnouncementPopover_drawer__2SiY_">
                                                        <div class="AnnouncementDetailDrawer_buttonGroup__3uOYT">
                                                            <button class="AnnouncementDetailDrawer_backButton__29Lhc" type="button">
                                                                <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__3Lnqe AnnouncementDetailDrawer_icon__1Uxof" aria-hidden="true" style="width: 24px; height: 24px;">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z"></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="Button_button__3xWsG Button_tertiaryGrey__2NEhf Button_text__2nIpY Button_md__1enYX" type="button">
                                            <span>
                                                <span class="Button_children__aKL80">나가기</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </nav>

                            <!-- 스토리 작성 레이아웃 -->
                            <div class="HeaderLayout_container__3fXkO">
                                <div class="HeaderLayout_contents__F4hlC">
                                    <h2 class="FundingStoryContainer_title__1r0ZE">관리자(공모전 작성)</h2>
                                    <p class="FundingStoryContainer_description__1sMTR">메이커님의 프로젝트를 소개해 주세요.</p>
                                </div>
                                
                            </div>
                            <form class="wz form FundingStoryFormContainer_form__326Zc Form_form__3ASTU">
                                <div class="Loader_loader__d9YUC Form_loader__1YJ5I"></div>
                                
                                <!-- 소개 영상 사진 등록 레이아웃 -->
                                <section class="Section_container__3md8M">
                                    <div style="max-width: 630px;">
                                        <div class="Section_header__1qwS7">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">
                                                소개 영상·사진 등록
                                            </h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_description__10Uwo">프로젝트의 맨 위에서 가장 먼저 보여 주고 싶은 영상이나 사진을 등록해 주세요.</div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="StoryVideoOrImageField_container__1lnfV">
                                                <label class="wz Radio_radio__15She radio">
                                                    <input name="representVisual" type="radio" checked>
                                                    <div>소개 영상</div>
                                                </label>
                                                <div class="field Form_field__35I9T StoryVideoField_field__3_ngo">
                                                    <div class="StoryVideoField_videoInput__NcwIp">
                                                        <div class="wz input error right StoryVideoField_input__roA-S">
                                                            <input name="storyInfo.videoUrl" placeholder="영상 URL 입력" type="text" value>
                                                        </div>
                                                        <button type="button" class="wz button gray">등록</button>
                                                    </div>
                                                    <em class="helper StoryVideoField_helper__Jx6wx error">영상 URL을 확인하고 다시 등록해 주세요.</em>
                                                    <em class="helper StoryVideoField_helper__Jx6wx">Youtube와 Vimeo의 URL등록 가능</em>
                                                    <em class="helper StoryVideoField_helper__Jx6wx">영상 썸네일 이미지 사이즈 : 600 픽셀 이상</em>
                                                </div>
                                                <label class="wz Radio_radio__15She radio">
                                                    <input name="representVisual" type="radio">
                                                    <div>소개 사진</div>
                                                </label>
                                                <div class="field Form_field__35I9T required ImageFormField_field__X1jTW StoryImageField_field__3O6yy">
                                                    <div class="ImageFormField_buttonWrapper__su3pO">
                                                        <label class="wz label ImageFileButton_label__3thB2 Label_label__3oH0h">
                                                            <button type="button" class="wz button gray ImageFileButton_button__3gAHD">
                                                                <i class="icon-camera-o" aria-hidden="true"></i>
                                                                등록하기
                                                            </button>

                                                            <div class="wrap">
                                                                <label for="attach">
                                                                    <div class="image"></div>
                                                                </label>
                                                                <div class="cancel"></div>
                                                            </div>
                                                            <div class="wz input right ImageFileButton_input__1Dnch">
                                                              
                                                                
                                                                <input id="attach" accept="image/JPG,image/JPEG,image/GIF,image/PNG" placeholder name="uploadFile" type="file" value>
                                                            </div>
                                                        </label>
                                                        <em class="helper error"></em>
                                                        <em class="helper ImageFormField_helper__3XC5c">2MB 이하의 JPG, JPEG, GIF, PNG 파일</em>
                                                        <em class="helper ImageFormField_helper__3XC5c">해상도 630x400 픽셀 이상</em>
                                                        <em class="helper ImageFormField_helper__3XC5c">여러 장 등록돼요.</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Section_guideMessage__3XqrM">
                                        <h4>
                                            <a class="link" href="https://www.wadiz.kr/link/picture_guide" target="_blank" rel="nofollow noopener noreferrer">소개 영상·사진</a>
                                        </h4>
                                        <p>영상과 사진을 모두 업로드하면 영상만 보여요.</p>
                                        <br>
                                        <h4>영상 썸네일 이미지</h4>
                                        <p>와디즈에서는 썸네일을 지정할 수 없어요. 대신 YouTube, Vimeo 등에서 영상 썸네일을 지정할 수 있어요.</p>
                                    </div>
                                </section>

                                <!-- 프로젝트 요약 레이아웃 -->
                                <section class="Section_container__3md8M">
                                    <div style="max-width: 630px;">
                                        <div class="Section_header__1qwS7">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">프로젝트 요약</h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_description__10Uwo">소개 영상이나 사진과 함께 보이는 글이에요. 프로젝트를 쉽고 간결하게 소개해 주세요.</div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="StorySummaryField_container__25ePA">
                                                <div class="field Form_field__35I9T FormFieldTextarea_field__33Ncu">
                                                    <div class="wide column-2"></div>
                                                    <div class="wide column-4">
                                                        <div class="wz input">
                                                            <textarea placeholder="내용 입력" helper="[object Object]" maxlength="300" name="storyInfo.coreMessage" rows="15"></textarea>
                                                        </div>
                                                        <em class="helper FormFieldTextarea_helper__3-iK_">300자 남음</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Section_guideMessage__3XqrM">
                                        <h4>이것만은 알아 주었으면 좋겠어요!</h4>
                                        <p>서포터님들이 꼭 알아 주었으면 하는 리워드/프로젝트의 매력 포인트가 있다면 적어 주세요.</p>
                                    </div>
                                </section>

                                <!-- 맨 밑 버튼 레이아웃 -->
                                <button class="Button_button__3xWsG Button_primary__NG1uA Button_contained__Z8LUb Button_lg__3arAi" type="button" style="width: 420px; max-width: 100%;">
                                    <span>
                                        <span class="Button_children__aKL80">저장하기</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- 오른쪽 채널 토크 레이아웃 -->
                    <div class="ChannelTalk_container__3OcHU">
                        <button type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Toast_toast__1b_B2">
            <div class="Toast_content__G-bTq"></div>
        </div>
    </div>
</body>
<script src="/staticfiles/js/school-wooram/contest-write.js"></script>
</html>