<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/templates/html/one-lab-soyoung/favicon/favicon-32x32.png">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/staticfiles/css/school-wooram/exhibit-write.css">
    <title>공모전 글쓰기</title>
</head>
<body>
    <div id="root">
        <div id="layout-container">
            <div class="layout-main">
                <!-- 왼쪽 사이드바 -->
                <div class="sidebar-layout-contents">
                    <div class="sidebar-reword-info-container">
                        <div class="sidebar-reward-info-flag-group">
                            <span class="sidebar-reward-info-flag1">프로젝트</span>
                            <span class="sidebar-reward-info-flag2">작성 중</span>
                        </div>
                        <a href="" class="sidebar-reward-info-project-name" target="_blank">
                            익명이의<br>멋진 프로젝트
                        </a>
                        <button class="project-number-box" type="button">
                            <span>
                                <span class="project-number-text">
                                    프로젝트 번호 272066
                                </span>
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="down-icon-svg" aria-hidden="true" style="width: 20px; height: 20px;">
                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <nav class="sidebar-menu-list-container">
                        <div class="sidebar-menu-list-margin"></div>
                        <ul>
                            <li>
                                <a href="/templates/html/share-soyoung/share-want.html" class="sidebar-menu-item-nav-link">
                                    자료 요청/공유 글작성
                                </a>
                            </li>
                            <li>
                                <a href="/templates/html/community-soyoung/community-write.html" class="sidebar-menu-item-nav-link">
                                    커뮤니티 글 작성
                                </a>
                            </li>
                            <li>
                                <a href="/templates/html/one-lab-soyoung/one-lab-write-page.html" class="sidebar-menu-item-nav-link  active">
                                    공모전 글 작성
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- 페이지 루트 -->
                <div id="layout-contents" class="layout-contents">
                    <section class="page-container">
                        <span class="blind-text-hidden">사이트 이동 경로</span>
                        <ol class="current-page-position-list">
                            <li class="page-position-item">프로젝트 관리</li>
                            <li class="page-position-item">공모전 글쓰기</li>
                        </ol>
                        <h2 class="page-title">공모전 글쓰기</h2>
                        <div class="page-description">프로젝트를 대표하는 중요한 정보들을 입력해 주세요.</div>
                        <div class="page-guide">
                            <button class="banner-link-button-container" type="button">
                                <div class="banner-link-button-icon">
                                    <i class="banner-guide-icon"></i>
                                </div>
                                <div class="banner-link-button-content">
                                    <p class="banner-link-button-description">다른 메이커들 다 본다는</p>
                                    <strong class="banner-link-button-title">필수 가이드 모음집</strong>
                                </div>
                            </button>
                            <button type="button" class="banner-link-button-container banner-guide-button">
                                <div class="banner-link-button-icon">
                                    <i class="banner-guide-gpt-icon"></i>
                                </div>
                                <div class="banner-link-button-content">
                                    <p class="banner-link-button-content">
                                        <p class="banner-link-button-description">궁금한 모든 것을 물어보세요</p>
                                        <strong class="banner-link-button-title">AI 어드바이저</strong>
                                    </p>
                                </div>
                            </button>
                        </div>
                        
                        <!-- 헤더 navigation -->
                        <div class="page-content">
                            <nav class="project-navbar-container">
                                <div>
                                    <h1 class="nav-logo">
                                        <!-- <span class="blind-text-hidden">메이커 스튜디오</span> -->
                                    </h1>
                                </div>
                                <div class="project-navbar-maker">
                                    <div class="profile-img">
                                        <span></span>
                                    </div>
                                    <!-- 회원 이름 -->
                                    <div>익명이</div>
                                </div>
                                <div class="project-navbar-btn-group">
                                    <div class="preview-btn-container">
                                        <button type="button" class="preview-btn">
                                            <span>
                                                <span class="preview-btn-text">미리 보기</span>
                                            </span>
                                        </button>
                                    </div>
                                    <button type="button" class="pre-save-btn">
                                        <span>
                                            <span class="pre-save-btn-text">임시 저장</span>
                                        </span>
                                    </button>
                                    <div class="announce-button-container">
                                        <!-- 이미지 태그에 쪽지 아이콘 -->
                                        <img src="" alt="" class="announce-button-icon">
                                        <!-- a태그 클릭시 쪽지함으로 이동 -->
                                        <a href=""></a>
                                        
                                    </div>
                                    <button class="exit-button" type="button">
                                        <span>
                                            <span class="exit-button-text">나가기</span>
                                        </span>
                                    </button>
                                </div>
                            </nav>

                            <!-- 저장버튼 클릭시 전송될 form -->
                            <form action="">
                                <section class="section-container">
                                    <div style="max-width: 630px;">
                                        <div class="section-header spacing">
                                                <h3 class="section-title">프로젝트 제목
                                                    <span class="blind-text-text-hidden"></span>
                                                </h3>
                                                <div class="section-guide">
                                                    <div class="section-helper-message">
                                                        <button type="button" class="link">AI 어드바이저 추천 받기</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>        
                                    <div class="section-content">
                                        <div class="text-field">
                                            <label></label>
                                            <div class="text-field-field">
                                                <input placeholder="제목을 입력해 주세요" maxlength="40" type="text" class="input-input input-lg">
                                            </div>
                                            <em class="helper-message-helper-message"></em>
                                        </div>
                                        <em class="helper-msg">40자 남음</em>
                                    </div>
                                </section>
                                <section class="section-container">
                                    <div style="max-width: 630px;">
                                        <div class="section-header profile">
                                            <h3 class="section-title">대표 이미지
                                                <span class="blind-text-hidden">필수</span>
                                            </h3>
                                        </div>
                                        <div class="section-description">
                                            <p class="spacing">와디즈 메인, 검색 결과, SNS 광고 등 여러 곳에서 노출할 대표 이미지를 등록해 주세요.</p>
                                            <div></div>
                                        </div>
                                        <div color="primary" class="message-box-message-box">
                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="with-icon-icon message-box-icon">
                                                <path fill="none" d="M0 0h40v40H0z"></path>
                                                <path d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm1 28.6h-2v-13h2zm-1-15.84A1.8 1.8 0 1 1 21.8 12a1.8 1.8 0 0 1-1.8 1.76z"></path>
                                            </svg>
                                            <div class="message-box-content">
                                                <p class="message-box-title msg-title">대표 이미지 등록 가이드</p>
                                                <div class="message-box-description">
                                                    <ul>
                                                        <li>10MB 이하의 JPG, JPEG, PNG 파일</li>
                                                        <li>10MB 이하의 JPG, JPEG, PNG 파일</li>
                                                        <li>10MB 이하의 JPG, JPEG, PNG 파일</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-content" style="margin-top: 25px;">
                                        <div class="spacing-5">
                                            <div class="make-profile-img-container">
                                                <div>
                                                    <div>
                                                        <div class="image-upload-button-container">
                                                            <div class="image-upload-button-image-upload-content">
                                                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="with-icon-icon image-upload-button-camera-icon" style="width: 24px; height: 24px;">
                                                                    <path d="M20.8 16.8a4.8 4.8 0 1 1-9.6 0 4.8 4.8 0 0 1 9.6 0z"></path>
                                                                    <path d="M22.4 6.4L20 3.2h-8L9.6 6.4h-8v20.8h28.8V6.4zM16 23.2c-3.535 0-6.4-2.865-6.4-6.4s2.865-6.4 6.4-6.4 6.4 2.865 6.4 6.4-2.865 6.4-6.4 6.4z"></path>
                                                                </svg>
                                                                <div class="image-upload-button-count">
                                                                    <dl>
                                                                        <dt class="image-upload-button-blind-text">업로드 된 이미지 수</dt>
                                                                        <dd>0</dd>
                                                                    </dl>
                                                                    /
                                                                    <dl>
                                                                        <dt class="image-upload-button-blind-text">업로드 가능한 최대 이미지 수</dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                            <label class="image-upload-button-upload-label" for="base-image">
                                                                <span class="image-upload-button-blind-text">이미지 업로드하기</span>
                                                            </label>

                                                            <!-- 이미지 사진 -->
                                                            
                                                            <input type="file" hidden id="base-image" accept="image/jpeg, image/jpg, image/png">
                                                        </div>
                                                        <div class="wrap">
                                                            <label for="base-image">
                                                                <div class="image"></div>
                                                            </label>
                                                            <div class="cancel"></div>
                                                        </div>
                                                        <div class="wz input right image-file-button-input">
                                                    </div>
                                                </div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                 <!-- 프로젝트 요약 레이아웃 -->
                                 <section class="section-container">
                                    <div style="max-width: 630px;">
                                        <div class="section-header">
                                            <h3 class="section-title section-is-required">프로젝트 요약</h3>
                                            <div class="section-guide"></div>
                                        </div>
                                        <div class="section-description">소개 영상이나 사진과 함께 보이는 글이에요. 프로젝트를 쉽고 간결하게 소개해 주세요.</div>
                                        <div class="section-content">
                                            <div class="story-summary-field-container">
                                                <div class="field form-field form-field-textarea-field">
                                                    <div class="wide column-2"></div>
                                                    <div class="wide column-4">
                                                        <div class="wz input">
                                                            <textarea placeholder="내용 입력" helper="[object Object]" maxlength="300" name="storyInfo.coreMessage" rows="15"></textarea>
                                                        </div>
                                                        <em class="helper form-field-textarea-helper">300자 남음</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-guide-message">
                                        <h4>이것만은 알아 주었으면 좋겠어요!</h4>
                                        <p>서포터님들이 꼭 알아 주었으면 하는 리워드/프로젝트의 매력 포인트가 있다면 적어 주세요.</p>
                                    </div>
                                </section>

                                <!-- 랩원 등록 시, 랩원 계정 추가하는 섹션 -->
                              
                                <div class="maker-info-container-btn-wrapper">
                                    <button class="save-btn">
                                        <span>
                                            <span class="save-btn-text">저장하기</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="/staticfiles/js/school-wooram/exhibit-write.js"></script>
</html>