<!-------------------------------★참고설명★---------------------------------------


admin_main = 메인 관리 페이지
admin_main3 = 메인관리 보조 페이지(가입이 임시보류인 회원들을 관리하는페이지인데 굳이 있어야되나 싶음)

admin_account = 관리자 계정 관리 페이지

admin_user = 회원 관리 페이지
admin_user3 = 회원 관리 페이지(보조 페이지(탈퇴회원 볼 수 있게 만든 페이지))

admin_main_content = 고등학생 대학생 전환 회원 관리 페이지(인증수락 , 회원 관리 상세보기 서비스 추가)

admin_notification = 공지사항 관리 페이지 (필터 기능으로 공지사항 상세보기 추가)

admin_message = 문의목록 페이지 (필터기능으로 문의내용 상세보기 추가)

admin_message-detail = 문의 목록 상세보기 페이지 (답변 & 수정 기능 추가)

admin_payment = 결제 내역 관리 페이지 (필터기능으로 결제 내역 상세보기 추가)

admin_competition = 공모전/대회 관리 페이지
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/staticfiles/js/admin-sunghyun/admin_main.js"></script>
        <link
            rel="stylesheet"
            href="/staticfiles/css/admin-sunghyun/admin_main.css"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/templates/html/admin_sunghyun/favicon/favicon/favicon-32x32.png"
        />
        <link rel="preload" href="/staticfiles/css/test_admin_font.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>One Lab 관리자페이지</title>
    </head>

    <!-- 모든 클래스명은 Steadio 크리에이터 센터 화면의 클래스명의 앞 글자 혹은 
        맨 앞글자-맨 뒷글자 만 따온 것입니다.-->

    <body class="h-full">
        <div class="chart-area">
            <div class="chart">
                <div
                    id="columnchart_material"
                    style="width: 100%; height: 300px"
                ></div>
            </div>
        </div>
    </body>
    <script
        type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script>
        google.charts.load("current", { packages: ["bar"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["전체 접속자 수", "일반회원", "대학생 회원", "고등학생 회원"],
                ["Today", 1500, 1400, 1200],
                ["1 Week", 5970, 4460, 3250],
            ]);

            var options = {
                chart: {
                    title: "원랩 전체 접속자 수",
                    subtitle: "일반회원, 대학생회원, 고등학생 회원",
                    width: "100%",
                },
            };

            // var mq = window.matchMedia("(max-width: 1024.98px)");
            // if (mq.matches) {
            //     options.legend = {
            //         position: "none",
            //     };
            // }

            var chart = new google.charts.Bar(
                document.getElementById("columnchart_material")
            );

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</html>
