<!DOCTYPE html>
<html dir="ltr" lang="ko" class="category-page category">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>쪽지 목록</title>
        <link rel="stylesheet" href="/staticfiles/css/note/note_list.css" />
    </head>
    <body class>
        <div></div>
        <div class="layout flex flex-1 flex-column" x-data="Widgets.mobileMenu">
            <!-- 헤더 -->
            <header></header>
            <template id="tmpl-category-dropdown"></template>
            <!-- 메인바디 -->
            <main role="main">
                <div class="container flex-1 py-6" id="page-container">
                    <div class="row align-items-center"></div>
                    <div class="row row-lg">
                        <div class="col">
                            <div class="row">
                                <div
                                    class="col-12 mb-4"
                                    id="section-anchor-25448181617305"
                                >
                                    <h2>
                                        <a
                                            class="text-inherit"
                                            href="/hc/ko/sections/25448181617305-%ED%9A%8C%EC%9B%90%EC%A0%95%EB%B3%B4"
                                        >
                                            쪽지함
                                        </a>
                                    </h2>

                                    <div id="article-list-25448181617305">
                                        <ul class="row row-sm list-unstyled">
                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/17845227566745-%EC%95%8C%EB%A6%BC-%EC%8B%A0%EC%B2%AD%ED%95%9C-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EB%8A%94-%EC%96%B4%EB%94%94%EC%84%9C-%ED%99%95%EC%9D%B8%ED%95%98%EB%82%98%EC%9A%94"
                                                            >알림 신청한
                                                            프로젝트는 어디서
                                                            확인하나요?</a
                                                        >
                                                        <svg
                                                            class="svg-icon ml-1 fill-current text-orange-500"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 426 405"
                                                            aria-hidden="true"
                                                        >
                                                            <title>
                                                                승격된 문서
                                                            </title>
                                                            <use
                                                                xlink:href="#icon-star"
                                                            ></use>
                                                        </svg>

                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            마이와디즈의
                                                            [찜·알림신청]에서
                                                            확인하실 수 있어요.
                                                            찜. 알림 신청 목록
                                                            뿐만 아니라 최근에
                                                            본 프...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/7052709194265-%ED%9A%8C%EC%9B%90-%EC%A0%95%EB%B3%B4-%EB%B3%80%EA%B2%BD%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94"
                                                            >회원 정보 변경은
                                                            어떻게 하나요?</a
                                                        >
                                                        <svg
                                                            class="svg-icon ml-1 fill-current text-orange-500"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 426 405"
                                                            aria-hidden="true"
                                                        >
                                                            <title>
                                                                승격된 문서
                                                            </title>
                                                            <use
                                                                xlink:href="#icon-star"
                                                            ></use>
                                                        </svg>

                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            기본 정보 설정에서
                                                            닉네임, 이메일,
                                                            연락처 등을 언제든
                                                            변경할 수 있어요.
                                                            마이와디즈의
                                                            설정에서...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/17771349955481-%EC%83%88%EC%86%8C%EC%8B%9D-%EC%95%8C%EB%A6%BC-%EC%84%A4%EC%A0%95%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94"
                                                            >새소식 알림 설정은
                                                            어떻게 하나요?</a
                                                        >
                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            마이와디즈에서
                                                            언제든지 설정을
                                                            변경하실 수 있어요.
                                                            프로젝트 별로 새소식
                                                            알림을 각각 설정
                                                            가능해요....
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/17691169336729-%EC%B9%B4%EC%B9%B4%EC%98%A4-%EC%95%8C%EB%A6%BC%ED%86%A1-%EA%B1%B0%EB%B6%80%EB%8A%94-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94"
                                                            >카카오 알림톡
                                                            거부는 어떻게
                                                            하나요?</a
                                                        >
                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            수신한 카카오 알림톡
                                                            화면에서 직접 설정
                                                            가능해요. 알림톡으로
                                                            발송되는 알림은
                                                            다양한 내용으로
                                                            발송돼...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/7277968462873-%EC%99%80%EB%94%94%EC%A6%88-%ED%9A%8C%EC%9B%90-%EA%B0%80%EC%9E%85%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94"
                                                            >와디즈 회원 가입은
                                                            어떻게 하나요?</a
                                                        >
                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            와디즈 앱 또는 PC를
                                                            통해 누구나 간편하게
                                                            가입할 수 있어요.
                                                            페이스북, 카카오,
                                                            애플, 네이버, ...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/7143890047769-%EC%9D%B4%EB%B2%A4%ED%8A%B8-%ED%98%9C%ED%83%9D%EC%95%8C%EB%A6%BC%EC%9D%84-%EC%96%B4%EB%96%BB%EA%B2%8C-%EC%84%A4%EC%A0%95%ED%95%98%EB%82%98%EC%9A%94"
                                                            >이벤트 혜택알림을
                                                            어떻게
                                                            설정하나요?</a
                                                        >
                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            와디즈의 이벤트 혜택
                                                            알림 설정은 [MY
                                                            정보설정]에서 직접
                                                            선택할 수 있어요. 👉
                                                            이벤트 혜택 알림...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <p class="mt-4 lg:font-size-lg">
                                            <a
                                                class="hover:no-underline"
                                                href="/hc/ko/sections/25448181617305-%ED%9A%8C%EC%9B%90%EC%A0%95%EB%B3%B4"
                                            >
                                                문서 11개 모두 보기
                                                <svg
                                                    class="svg-icon"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    stroke-width="1.5"
                                                    stroke="currentColor"
                                                >
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="/staticfiles/js/note/note_list.js"></script>
</html>
