<!DOCTYPE html>
<html lang="ko" style="--scrollbar-width: 17px;">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>쪽지보내기 모달</title>
        <link rel="stylesheet" href="/staticfiles/css/note/note_sending.css" />
    </head>
    <body>
        <button id="openmodal">open modal</button>
        <div class="BottomModal_portal">
            <div
                class="BottomModal_overlay BannerContainer_overlay BottomModal_overlayAfterOpen"
            >
                <div
                    class="BottomModal_content BottomModal_contentAfterOpen"
                    tabindex="-1"
                    role="dialog"
                    aria-modal="true"
                >
                    <div class="BottomModal_container">
                        <div class="BannerContainer_modalContainer">
                            <button
                                type="button"
                                aria-label="닫기"
                                class="BannerContainer_closeButton"
                            >
                                <svg
                                    viewBox="0 0 40 40"
                                    focusable="false"
                                    role="presentation"
                                    class="withIcon_icon"
                                    aria-hidden="true"
                                >
                                    <path
                                        d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"
                                    ></path>
                                </svg></button
                            ><strong class="BannerContainer_modalTitle"
                                >쪽지
                                <span class="BannerContainer_brMo"
                                    >보내기</span
                                ></strong
                            >
                            <p class="BannerContainer_modalDescription">
                                받으실 분의 이름과 이메일을 적어주세요.
                            </p>
                            <div class="NewsLetterTextField_box">
                                <form class="NewsLetterTextField_form">
                                    <div
                                        class="TextField_textField TextField_lg NewsLetterTextField_textField"
                                    >
                                        <label></label>
                                        <div class="TextField_field">
                                            <input
                                                name="name"
                                                placeholder="이름"
                                                maxlength="30"
                                                type="text"
                                                class="Input_input Input_lg"
                                                aria-invalid="false"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="TextField_textField TextField_lg NewsLetterTextField_textField"
                                    >
                                        <label></label>
                                        <div class="TextField_field">
                                            <input
                                                name="email"
                                                placeholder="이메일 주소"
                                                maxlength="64"
                                                type="text"
                                                class="Input_input Input_lg"
                                                aria-invalid="false"
                                                value=""
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="TextField_textField TextField_lg NewsLetterTextField_textField"
                                    >
                                        <label></label>
                                        <div class="TextField_field">
                                            <textarea
                                                class="Input_input Input_content"
                                                placeholder="내용을 입력하세요"
                                                maxlength="200"
                                                cols="30"
                                                rows="10"
                                            ></textarea>
                                        </div>
                                    </div>
                                </form>
                                <button
                                    class="Button_button Button_primary Button_contained Button_xl Button_block NewsLetterTextField_submitButton"
                                    type="button"
                                >
                                    <span
                                        ><span class="Button_children"
                                            >보내기</span
                                        ></span
                                    >
                                </button>
                            </div>
                        </div>
                        <div class="BottomModal_handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/staticfiles/js/note/note_sending.js"></script>
</html>
