<!DOCTYPE html>
<html dir="ltr" lang="ko" class="category-page category">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>쪽지 목록</title>
        <link rel="stylesheet" href="/staticfiles/css/note/note_list.css" />
    </head>
    <body class>
        <div></div>
        <div class="layout flex flex-1 flex-column" x-data="Widgets.mobileMenu">
            <header
                class="header relative border-bottom sticky-header visible sticky-top transition is-unstuck"
                x-data="Widgets.header({ isFixed: false, isSticky: true})"
                :class="{ 'text-header bg-header': isStuck, 'shadow': isStuck, 'border-bottom': !isFixed }"
            >
                <nav class="navbar container h-full">
                    <a href="/hc/ko" class="navbar-brand mr-auto">
                        <img
                            class="block img-fluid"
                            id="logo"
                            src="//theme.zdassets.com/theme_assets/13612819/a2bda3d577fa2698038267539c34a696a70da97c.png"
                            alt="도움말 센터 헬프 센터 홈 페이지"
                        />
                    </a>
                    <button
                        class="navbar-toggle ml-2 lg:hidden"
                        x-ref="toggle"
                        :aria-expanded="isOpen &amp;&amp; 'true'"
                        @click="toggle"
                        @keydown.escape="toggle"
                        aria-expanded="false"
                    >
                        <span></span>
                        <span class="sr-only">탐색 메뉴 토글</span>
                    </button>
                    <div
                        class="backdrop lg:hidden"
                        x-show="isOpen"
                        @click="close"
                        x-transition:enter="transition-fast"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition-fast"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        style="display: none;"
                    ></div>
                    <div
                        class="nav menu menu-slide-in menu-links-right lg:flex lg:align-items-center lg:font-size-md lg:menu-expanded lg:justify-content-end"
                        x-show="isOpen"
                        :class="{ 'text-header': isOpen }"
                        x-transition:enter="transition-fast"
                        x-transition:enter-start="translate-x-full"
                        x-transition:enter-end="translate-x-0"
                        x-transition:leave="transition-fast"
                        x-transition:leave-start="translate-x-0 text-header"
                        x-transition:leave-end="translate-x-full text-header"
                        style="display: none;"
                    >
                        <div
                            class="search flex text-base mx-4 mb-4 flex-first lg:max-w-13 lg:flex-1 lg:mx-5 lg:mb-0"
                            x-data="Widgets.search"
                        >
                            <form
                                role="search"
                                class="form-field flex-1 mb-0"
                                data-search=""
                                action="/hc/ko/search"
                                accept-charset="UTF-8"
                                method="get"
                            >
                                <input
                                    name="utf8"
                                    type="hidden"
                                    value="✓"
                                    autocomplete="off"
                                /><input
                                    type="search"
                                    name="query"
                                    id="query"
                                    placeholder="검색어를 입력해 주세요"
                                    aria-label="검색어를 입력해 주세요"
                                />
                            </form>

                            <svg
                                class="search-icon fill-current transition"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 12 12"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </div>

                        <!--커뮤니티 링크 주석처리
                      커뮤니티 링크 주석 처리-->

                        <div
                            data-element="template"
                            data-template="category-dropdown"
                        ></div>

                        <a
                            class="button button-yds2 button-sm m-2 align-self-center header-link flex-last lg:order-inherit lg:my-0"
                            href="/hc/ko/requests/new"
                        >
                            쪽지 보내기
                        </a>

                        <a
                            class="button button-yds1 button-sm m-2 align-self-center header-link flex-last lg:order-inherit lg:my-0"
                            href="https://makercenter.wadiz.kr"
                            >메이커센터(?)
                        </a>

                        <a
                            class="button button-yds3 button-sm m-2 align-self-center header-link flex-last lg:order-inherit lg:my-179"
                            href="https://www.wadiz.kr/web/main"
                            >와디즈 바로가기
                        </a>

                        <!-- 로그인 주석처리
                        <a class="button button-primary button-sm m-2 align-self-center flex-last lg:order-inherit lg:my-0" href="/hc/ko/signin?return_to=https%3A%2F%2Fhelpcenter.wadiz.kr%2Fhc%2Fko%2Fcategories%2F25448157450521-%25EC%2584%259C%25ED%258F%25AC%25ED%2584%25B0">
                          로그인
                        </a>
                      로그인 주석처리 마지막-->
                    </div>
                </nav>
            </header>
            <template id="tmpl-category-dropdown"></template>
            <main role="main">
                <div class="container flex-1 py-6" id="page-container">
                    <div class="row align-items-center"></div>
                    <div class="row row-lg">
                        <div class="col">
                            <div class="row">
                                <div
                                    class="col-12 mb-4"
                                    id="section-anchor-25448181617305"
                                >
                                    <h2>
                                        <a
                                            class="text-inherit"
                                            href="/hc/ko/sections/25448181617305-%ED%9A%8C%EC%9B%90%EC%A0%95%EB%B3%B4"
                                        >
                                            쪽지함
                                        </a>
                                    </h2>

                                    <div id="article-list-25448181617305">
                                        <ul class="row row-sm list-unstyled">
                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/17845227566745-%EC%95%8C%EB%A6%BC-%EC%8B%A0%EC%B2%AD%ED%95%9C-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EB%8A%94-%EC%96%B4%EB%94%94%EC%84%9C-%ED%99%95%EC%9D%B8%ED%95%98%EB%82%98%EC%9A%94"
                                                            >알림 신청한
                                                            프로젝트는 어디서
                                                            확인하나요?</a
                                                        >
                                                        <svg
                                                            class="svg-icon ml-1 fill-current text-orange-500"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 426 405"
                                                            aria-hidden="true"
                                                        >
                                                            <title>
                                                                승격된 문서
                                                            </title>
                                                            <use
                                                                xlink:href="#icon-star"
                                                            ></use>
                                                        </svg>

                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            마이와디즈의
                                                            [찜·알림신청]에서
                                                            확인하실 수 있어요.
                                                            찜. 알림 신청 목록
                                                            뿐만 아니라 최근에
                                                            본 프...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/7052709194265-%ED%9A%8C%EC%9B%90-%EC%A0%95%EB%B3%B4-%EB%B3%80%EA%B2%BD%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94"
                                                            >회원 정보 변경은
                                                            어떻게 하나요?</a
                                                        >
                                                        <svg
                                                            class="svg-icon ml-1 fill-current text-orange-500"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 426 405"
                                                            aria-hidden="true"
                                                        >
                                                            <title>
                                                                승격된 문서
                                                            </title>
                                                            <use
                                                                xlink:href="#icon-star"
                                                            ></use>
                                                        </svg>

                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            기본 정보 설정에서
                                                            닉네임, 이메일,
                                                            연락처 등을 언제든
                                                            변경할 수 있어요.
                                                            마이와디즈의
                                                            설정에서...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/17771349955481-%EC%83%88%EC%86%8C%EC%8B%9D-%EC%95%8C%EB%A6%BC-%EC%84%A4%EC%A0%95%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94"
                                                            >새소식 알림 설정은
                                                            어떻게 하나요?</a
                                                        >
                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            마이와디즈에서
                                                            언제든지 설정을
                                                            변경하실 수 있어요.
                                                            프로젝트 별로 새소식
                                                            알림을 각각 설정
                                                            가능해요....
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/17691169336729-%EC%B9%B4%EC%B9%B4%EC%98%A4-%EC%95%8C%EB%A6%BC%ED%86%A1-%EA%B1%B0%EB%B6%80%EB%8A%94-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94"
                                                            >카카오 알림톡
                                                            거부는 어떻게
                                                            하나요?</a
                                                        >
                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            수신한 카카오 알림톡
                                                            화면에서 직접 설정
                                                            가능해요. 알림톡으로
                                                            발송되는 알림은
                                                            다양한 내용으로
                                                            발송돼...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/7277968462873-%EC%99%80%EB%94%94%EC%A6%88-%ED%9A%8C%EC%9B%90-%EA%B0%80%EC%9E%85%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%ED%95%98%EB%82%98%EC%9A%94"
                                                            >와디즈 회원 가입은
                                                            어떻게 하나요?</a
                                                        >
                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            와디즈 앱 또는 PC를
                                                            통해 누구나 간편하게
                                                            가입할 수 있어요.
                                                            페이스북, 카카오,
                                                            애플, 네이버, ...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li
                                                class="col-12 md:col-6 lg:col-4"
                                            >
                                                <div
                                                    class="relative media align-items-baseline py-2 h-full lg:py-3 font-semibold border-bottom"
                                                >
                                                    <div
                                                        class="flex"
                                                        x-data="{ src: Theme.assets['article'] }"
                                                    >
                                                        <template x-if="src">
                                                            <img
                                                                class="svg-icon mr-3"
                                                                src="//theme.zdassets.com/theme_assets/13612819/0ec63b140374ba704a58fa0c743cb357683313dd.png"
                                                                alt=""
                                                                aria-hidden="true"
                                                                :src="src"
                                                            />
                                                        </template>
                                                    </div>
                                                    <div
                                                        class="media-body lg:font-size-lg"
                                                        style="margin-left: 3.5rem; margin-right: -0.5rem;"
                                                    >
                                                        <a
                                                            class="link-stretched hover:no-underline"
                                                            href="/hc/ko/articles/7143890047769-%EC%9D%B4%EB%B2%A4%ED%8A%B8-%ED%98%9C%ED%83%9D%EC%95%8C%EB%A6%BC%EC%9D%84-%EC%96%B4%EB%96%BB%EA%B2%8C-%EC%84%A4%EC%A0%95%ED%95%98%EB%82%98%EC%9A%94"
                                                            >이벤트 혜택알림을
                                                            어떻게
                                                            설정하나요?</a
                                                        >
                                                        <p
                                                            class="my-2 font-size-md break-words font-normal"
                                                        >
                                                            와디즈의 이벤트 혜택
                                                            알림 설정은 [MY
                                                            정보설정]에서 직접
                                                            선택할 수 있어요. 👉
                                                            이벤트 혜택 알림...
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <p class="mt-4 lg:font-size-lg">
                                            <a
                                                class="hover:no-underline"
                                                href="/hc/ko/sections/25448181617305-%ED%9A%8C%EC%9B%90%EC%A0%95%EB%B3%B4"
                                            >
                                                문서 11개 모두 보기
                                                <svg
                                                    class="svg-icon"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    stroke-width="1.5"
                                                    stroke="currentColor"
                                                >
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="/staticfiles/js/note/note_list.js"></script>
</html>
