*,
:after,
:before {
    box-sizing: border-box;
}

body,
button,
html,
input,
textarea {
    font-family: Pretendard, -apple-system, blinkmacsystemfont, system-ui, roboto, Helvetica Neue, Segoe UI,
        Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

body,
button,
input,
select,
textarea {
    font-family: inherit;
}

body,
table th {
    font-weight: 400;
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}

li,
ol,
ul {
    list-style: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.registrationproject-container {
    word-break: keep-all;
    word-wrap: break-word;
}

.serviceinfo-inner {
    padding: 40px 16px;
    text-align: center;
}

.serviceinfo-inner {
    padding: 80px 16px;
}

.serviceinfo-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35;
}

.serviceinfo-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 16px;
    color: #495057;
}

.serviceinfo-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px auto 0;
    max-width: 1280px;
}

.serviceinfo-listitem {
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 16px;
    background-color: #f9fafb;
    padding: 16px;
    text-align: left;
}

.serviceinfo-listitem {
    display: block;
    padding: 24px 16px;
    width: 243px;
    text-align: center;
}

.serviceinfo-iconbox {
    flex-shrink: 0;
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
}

.serviceinfo-iconbox {
    margin: 0 auto;
    width: 48px;
    height: 48px;
}

.serviceinfo-term {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #00c4c4;
}

.serviceinfo-term {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 4px;
}

.serviceinfo-termdescription {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 4px;
}

.serviceinfo-termdescription {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.serviceinfo-listitem .serviceinfo-termdescription {
    word-break: keep-all;
}

.serviceprovide-container {
    background-color: #eff3fd;
}

.serviceprovide-inner {
    padding: 40px 16px;
    text-align: center;
}

.serviceprovide-inner {
    padding: 80px 16px;
}

.serviceprovide-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.serviceprovide-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35;
}

.serviceprovide-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
    color: #495057;
}

.serviceprovide-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 16px;
}

.serviceprovide-list {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 100%;
    text-align: left;
    gap: 16px;
}

.serviceprovide-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto 0;
    max-width: 1280px;
}

.serviceprovide-list .serviceprovide-listitem {
    position: relative;
    border-radius: 16px;
    background-color: #fff;
    padding: 24px;
}

.serviceprovide-list .serviceprovide-listitem {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8px);
}

.serviceprovide-list .serviceprovide-listitem {
    flex: 1;
    width: auto;
}

.serviceprovide-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.serviceprovide-content {
    margin-bottom: 40px;
}

.serviceprovide-question {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #00c4c4;
}

.serviceprovide-question {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

.serviceprovide-term {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.serviceprovide-termdescription {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
}

.serviceprovide-termdescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.serviceprovide-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    margin-top: 8px;
    color: #495057;
}

.withicon-icon {
    display: block;
    transform: scale(1);
    transition: transform 0.3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.serviceprovide-text svg {
    margin-top: -2px;
    vertical-align: middle;
}

.withicon-icon.withicon-inline {
    display: inline;
}

.serviceprovide-imagebox {
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 61%;
    max-height: 50px;
    overflow: hidden;
}

.serviceprovide-imagebox {
    margin-top: auto;
}

a,
button {
    outline: none;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}

a,
button {
    color: inherit;
}

.serviceprovide-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.blindtext-texthidden {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.serviceprovide-link > * {
    pointer-events: none;
}

.bannercontainer-inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 16px;
    max-width: 1280px;
    gap: 16px;
    box-sizing: content-box;
}

.bannercontainer-inner {
    flex-direction: row;
    padding: 80px 16px;
}

.banneritem-container {
    display: block;
    border-radius: 16px;
    background-color: #f2f4f6;
    padding: 24px 16px;
    width: 100%;
    text-align: center;
}

.banneritem-container {
    display: flex;
    padding: 24px;
    text-align: left;
    gap: 16px;
}

button:not(:disabled) {
    cursor: pointer;
}

.banneritem-textbox {
    flex: 1;
}

.banneritem-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 24px;
}

.banneritem-icon {
    background-position: left center;
}

.banneritem-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 16px;
}

.bannercontainer-inner br {
    display: none;
}

.banneritem-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    margin-top: 16px;
    border-radius: 4px;
    border-color: #00c4c4;
    background-color: #00c4c4;
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

.banneritem-button {
    margin-top: auto;
}

.bannercontainer-A {
    width: 85.5%;
}

.banneritem-icon {
    background-position: left center;
}
