<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/staticfiles/css/my_page/my_page.css" />
        <title>Document</title>
    </head>
    <body>
        <div id="page-container">
            <main id="main-app">
                <div class="web-header"></div>
                <div class="MainWrapper_content__GZkTa"></div>
                <div class="FloatingButtons_container__2E5Fl"></div>
            </main>
        </div>
    </body>
</html>
