:root{
    --swiper-theme-color: #007aff; 
}
:root { 
    --sendbird-light-primary-500: #491389;
    --sendbird-light-primary-400: #6211c8;
    --sendbird-light-primary-300: #742ddd;
    --sendbird-light-primary-200: #c2a9fa;
    --sendbird-light-primary-100: #dbd1ff;
    --sendbird-light-secondary-500: #066858;
    --sendbird-light-secondary-400: #027d69;
    --sendbird-light-secondary-300: #259c72;
    --sendbird-light-secondary-200: #69c085;
    --sendbird-light-secondary-100: #a8e2ab;
    --sendbird-light-information-100: #adc9ff;
    --sendbird-light-error-500: #9d091e;
    --sendbird-light-error-400: #bf0711;
    --sendbird-light-error-300: #de360b;
    --sendbird-light-error-200: #f66161;
    --sendbird-light-error-100: #fdaaaa;
    --sendbird-light-background-700: #000;
    --sendbird-light-background-600: #161616;
    --sendbird-light-background-500: #2c2c2c;
    --sendbird-light-background-400: #393939;
    --sendbird-light-background-300: #bdbdbd;
    --sendbird-light-background-200: #e0e0e0;
    --sendbird-light-background-100: #eee;
    --sendbird-light-background-50: #fff;
    --sendbird-light-overlay-01: rgba(0,0,0,.55);
    --sendbird-light-overlay-02: rgba(0,0,0,.32);
    --sendbird-light-onlight-01: rgba(0,0,0,.88);
    --sendbird-light-onlight-02: rgba(0,0,0,.5);
    --sendbird-light-onlight-03: rgba(0,0,0,.38);
    --sendbird-light-onlight-04: rgba(0,0,0,.12);
    --sendbird-light-ondark-01: hsla(0,0%,100%,.88);
    --sendbird-light-ondark-02: hsla(0,0%,100%,.5);
    --sendbird-light-ondark-03: hsla(0,0%,100%,.38);
    --sendbird-light-ondark-04: hsla(0,0%,100%,.12);
    --sendbird-light-shadow-01: 0 1px 5px 0 rgba(33,34,66,.04),0 0 3px 0 rgba(0,0,0,.08),0 2px 1px 0 rgba(0,0,0,.12);
    --sendbird-light-shadow-02: 0 3px 5px -3px rgba(33,34,66,.04),0 3px 14px 2px rgba(0,0,0,.08),0 8px 10px 1px rgba(0,0,0,.12);
    --sendbird-light-shadow-03: 0 6px 10px -5px rgba(0,0,0,.04),0 6px 30px 5px rgba(0,0,0,.08),0 16px 24px 2px rgba(0,0,0,.12);
    --sendbird-light-shadow-04: 0 9px 15px -7px rgba(0,0,0,.04),0 9px 46px 8px rgba(0,0,0,.08),0 24px 38px 3px rgba(0,0,0,.12);
    --sendbird-light-shadow-message-input: 0 1px 5px 0 rgba(33,34,66,.12),0 0 1px 0 rgba(33,34,66,.16),0 2px 1px 0 rgba(33,34,66,.08),0 1px 5px 0 rgba(0,0,0,.12);
    --sendbird-dark-primary-500: #491389;
    --sendbird-dark-primary-400: #6211c8;
    --sendbird-dark-primary-300: #742ddd;
    --sendbird-dark-primary-200: #c2a9fa;
    --sendbird-dark-primary-100: #dbd1ff;
    --sendbird-dark-secondary-500: #066858;
    --sendbird-dark-secondary-400: #027d69;
    --sendbird-dark-secondary-300: #259c72;
    --sendbird-dark-secondary-200: #69c085;
    --sendbird-dark-secondary-100: #a8e2ab;
    --sendbird-dark-information-100: #adc9ff;
    --sendbird-highlight-100: #fff2b6;
    --sendbird-dark-error-500: #9d091e;
    --sendbird-dark-error-400: #bf0711;
    --sendbird-dark-error-300: #de360b;
    --sendbird-dark-error-200: #f66161;
    --sendbird-dark-error-100: #fdaaaa;
    --sendbird-dark-background-700: #000;
    --sendbird-dark-background-600: #161616;
    --sendbird-dark-background-500: #2c2c2c;
    --sendbird-dark-background-400: #393939;
    --sendbird-dark-background-300: #bdbdbd;
    --sendbird-dark-background-200: #e0e0e0;
    --sendbird-dark-background-100: #eee;
    --sendbird-dark-background-50: #fff;
    --sendbird-dark-overlay-01: rgba(0,0,0,.55);
    --sendbird-dark-overlay-02: rgba(0,0,0,.32);
    --sendbird-dark-onlight-01: rgba(0,0,0,.88);
    --sendbird-dark-onlight-02: rgba(0,0,0,.5);
    --sendbird-dark-onlight-03: rgba(0,0,0,.38);
    --sendbird-dark-onlight-04: rgba(0,0,0,.12);
    --sendbird-dark-ondark-01: hsla(0,0%,100%,.88);
    --sendbird-dark-ondark-02: hsla(0,0%,100%,.5);
    --sendbird-dark-ondark-03: hsla(0,0%,100%,.38);
    --sendbird-dark-ondark-04: hsla(0,0%,100%,.12);
    --sendbird-dark-shadow-01: 0 1px 5px 0 rgba(33,34,66,.04),0 0 3px 0 rgba(0,0,0,.08),0 2px 1px 0 rgba(0,0,0,.12);
    --sendbird-dark-shadow-02: 0 3px 5px -3px rgba(33,34,66,.04),0 3px 14px 2px rgba(0,0,0,.08),0 8px 10px 1px rgba(0,0,0,.12);
    --sendbird-dark-shadow-03: 0 6px 10px -5px rgba(0,0,0,.04),0 6px 30px 5px rgba(0,0,0,.08),0 16px 24px 2px rgba(0,0,0,.12);
    --sendbird-dark-shadow-04: 0 9px 15px -7px rgba(0,0,0,.04),0 9px 46px 8px rgba(0,0,0,.08),0 24px 38px 3px rgba(0,0,0,.12);
    --sendbird-light-shadow-05: 0 2px 8px 0 rgba(0,0,0,.08),0 4px 6px 0 rgba(0,0,0,.12);
    --sendbird-dark-shadow-message-input: 0 1px 5px 0 rgba(33,34,66,.12),0 0 1px 0 rgba(33,34,66,.16),0 2px 1px 0 rgba(33,34,66,.08),0 1px 5px 0 rgba(0,0,0,.12);
    --sendbird-iconbutton-color: #825eeb;
    --sendbird-message-input-border-active: #7b53ef;
    --sendbird-selected-reaction-button-border-hover: #9e8cf5;
    --sendbird-add-reaction-button-border-hover: #9e8cf5;
    --sendbird-tooltip-background: #000;
    --sendbird-tooltip-text-color: hsla(0,0%,100%,.88);
    --sendbird-button-border-focus: #fff;
    --sendbird-file-message-icon-background: #fff;
    --sendbird-font-family-default: "Roboto",sans-serif;
    --sendbird-message-balloon-width: 404px;
}
.h-full {
    height: 100%;
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,
    BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI 
    Symbol,Noto Color Emoji;
}

*{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
} 

*{
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

:root {
    view-transition-name: root;
}

html {
    display: block;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

body {
    margin: 0;
    line-height: inherit;
}
body{
    display:block;
    margin: 8px 
    /* margin부분이 개발자도구 상에서 짝대기 쳐져있어서 오류 발생 가능성 있어서 보류  */
}
#__next {
    min-height:100%;
}
div{
    display:block;
}
.flex-col {
    flex-direction: column;
}
.h-screen {
    height: 100vh;
}
.flex {
    display: flex;
}
@media (min-width: 1024px){
    .lg\:px-\[32px\] {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (min-width: 1024px){
    .lg\:h-\[58px\] {
        height:58px;
    }
}
.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.shrink-0 {
    flex-shrink: 0;
}
.w-full {
    width: 100%;
}
.h-\[56px\] {
    height: 56px;
}
.z-20 {
    z-index: 20;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}
.sticky {
    position: sticky;
}
.surface_primary_inverse {
    background-color: #1d1d1e;
}
nav {
    display: block;
}