
.h-full {
    height: 100%;
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,
    BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI 
    Symbol,Noto Color Emoji;
}


*, :after, :before{
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

:root {
    view-transition-name: root;
}


html {
    display: block;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

body {
    margin: 0;
    line-height: inherit;
}
body{
    display:block;
    margin: 8px 
    /* margin부분이 개발자도구 상에서 짝대기 쳐져있어서 오류 발생 가능성 있어서 보류  */
}
#__next {
    min-height:100%;
}
div{
    display:block;
}
.flex-col {
    flex-direction: column;
}
.h-screen {
    height: 100vh;
}
.flex {
    display: flex;
}
@media (min-width: 1024px){
    .lg\:px-\[32px\] {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (min-width: 1024px){
    .lg\:h-\[58px\] {
        height:58px;
    }
}
@media (min-width: 1024px){
    .lg\:block {
    display: block;
    }
}
@media (min-width: 1024px){
    .lg\:hidden {
        display: none;
    }
}

.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.shrink-0 {
    flex-shrink: 0;
}
.w-full {
    width: 100%;
}
.h-\[56px\] {
    height: 56px;
}
.z-20 {
    z-index: 20;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}
.sticky {
    position: sticky;
}
.surface_primary_inverse {
    background-color: #1d1d1e;
}
nav {
    display: block;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.w-\[31px\] {
    width: 31px;
}
.content_primary_inverse {
    color: #fff;
    fill: #fff;
}

img,svg {
    display: block;
    vertical-align: middle; /* display = block;  */
}
/* svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
} */

/* :not(svg) {
    transform-origin: 0px 0px;
} */

.w-\[96px\]{
    width: 96px
}
.hidden {
    display: none;
}
.mx-\[10px\] {
    margin-left: 10px;
    margin-right: 10px;
}
.font_body_regular_md {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.font_body_regular_lg {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.justify-end {
    justify-content: flex-end;
}
.relative {
    position: relative;
}
.rounded-full{
    border-radius:9999px;
}
.w-\[32px\]{
    width: 32px;
}
.h-\[32px\] {
    height: 32px;
}
.surface_primary_active {
    background-color: #e6e6e7;
}

button {
    /* -webkit-appearance: button; */
    background-color: transparent;
    background-image: none;
}

button {
    text-transform: none;
}
button{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
img {
    -o-object-fit: cover;
    object-fit: cover;
}
img, video {
    max-width: 100%;
    height: auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.overflow-hidden {
    overflow: hidden;
}