.h-hidden{
    overflow-x : hidden;
    height: 100%;
    margin: 0;
    line-height: inherit;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
body {
    margin: 0;
    line-height: inherit;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
#__next{
    min-height: 100%;

}
div{
    display: block;
    line-height: inherit;
}
.sticky-shadow{
    width: 100%;
    height: 56px;
    z-index: 20;
    left: 0;
    top: 0;
    position: sticky;
    --tw-shadow: 0px 0px 4px rgba(0,0,0,.6);
    --tw-shadow-colored: 0px 0px 4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.sticky-x{
    padding-left: 32px;
    padding-right: 32px;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    z-index: 20;
    left: 0;
    top: 0;
    position: sticky;
    background-color: #fff;
}
.flex-center{
    align-items: center;
    display: flex;
}
a{
    color: inherit;
    text-decoration: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
@media (min-width: 1024px){
    .lg\:hidden {
        display: none;
    }
}

.lg:hidden content_primary{
    width: 31px;
    color: #1d1d1e;
    fill: #1d1d1e;
}

@media (min-width: 1024px){
    .lg\:block {
        display: block;
    }
}
.hidden lg:block content_primary{
    width: 96px;
    color: #1d1d1e;
    fill: #1d1d1e;
    
}

audio, canvas, embed, iframe, img, object, svg, video {
    /* display: block; */
    vertical-align: middle;
}