@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    box-sizing: border-box;
}

:root {
    --rpv-core__annotation--link-hover-background-color: rgba(255, 255, 0, .2);
    --rpv-core__annotation-popup-wrapper-background-color: #faf089;
    --rpv-core__annotation-popup-wrapper-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    --rpv-core__annotation-popup-content-border-top-color: #1a202c;
    --rpv-core__arrow-border-color: rgba(0, 0, 0, .3);
    --rpv-core__asking-password-color: #000;
    --rpv-core__asking-password-wrapper-background-color: #fff;
    --rpv-core__asking-password-wrapper-border-color: rgba(0, 0, 0, .3);
    --rpv-core__button-background-color: rgba(0, 0, 0, .3);
    --rpv-core__button-color: #000;
    --rpv-core__doc-error-background-color: #fff;
    --rpv-core__doc-error-text-background-color: #c02424;
    --rpv-core__doc-error-text-color: #fff;
    --rpv-core__doc-loading-background-color: #fff;
    --rpv-core__full-screen-target-background-color: #fff;
    --rpv-core__inner-page-background-color: #fff;
    --rpv-core__menu-divider-border-bottom-color: rgba(0, 0, 0, .3);
    --rpv-core__menu-item-color: #000;
    --rpv-core__menu-item--hover-background-color: rgba(0, 0, 0, .1);
    --rpv-core__menu-item--disabled-color: rgba(0, 0, 0, .3);
    --rpv-core__minimal-button-color: #000;
    --rpv-core__minimal-button--hover-background-color: rgba(0, 0, 0, .1);
    --rpv-core__minimal-button--disabled-color: rgba(0, 0, 0, .3);
    --rpv-core__minimal-button--selected-background-color: rgba(0, 0, 0, .1);
    --rpv-core__modal-body-background-color: #fff;
    --rpv-core__modal-body-border-color: rgba(0, 0, 0, .3);
    --rpv-core__modal-overlay-background-color: rgba(0, 0, 0, .5);
    --rpv-core__page-layer-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    --rpv-core__popover-body-background-color: #fff;
    --rpv-core__popover-body-border-color: rgba(0, 0, 0, .3);
    --rpv-core__popover-body-color: #000;
    --rpv-core__primary-button-background-color: #2566e8;
    --rpv-core__primary-button-color: #fff;
    --rpv-core__progress-bar-background-color: rgba(0, 0, 0, .1);
    --rpv-core__progress-bar-progress-background-color: #2566e8;
    --rpv-core__progress-bar-progress-color: #fff;
    --rpv-core__separator-border-bottom-color: rgba(0, 0, 0, .3);
    --rpv-core__spinner-border-color: rgba(0, 0, 0, .4);
    --rpv-core__spinner-border-transparent-color: transparent;
    --rpv-core__splitter-background-color: transparent;
    --rpv-core__splitter--hover-background-color: rgba(0, 0, 0, .2);
    --rpv-core__text-layer-text--selection-background-color: rgb(0, 0, 255, 1);
    --rpv-core__text-layer-text--selection-color: transparent;
    --rpv-core__textbox-background-color: #fff;
    --rpv-core__textbox-border-color: rgba(0, 0, 0, .2);
    --rpv-core__textbox-color: #000;
    --rpv-core__tooltip-body-background-color: #000;
    --rpv-core__tooltip-body-color: #fff;
}

:root {
    --scrollbar-width: 0;
}

html {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: Pretendard Variable,pretendard,-apple-system,blinkmacsystemfont,system-ui,roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}

html {
    display: block;
}

body {
    display : block;
    font-family: inherit;
    font-weight: 400;
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
}
div {
    display: block;
}
div {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
section {
    display: block;
}
section {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
main {
    display : block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

input {
    color: inherit;
    font-family: inherit;
    background: none;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}


span{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
#main-app .web-header {
    z-index: 1201;
    position: static;
    transition: top .25s;
    width: 100%;
}

/* ----------------헤더---------------------- */
.web-header {
    position: static;
    transition: top .25s;
    width: 100%;
}

.header-wrapper {
    position: relative;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    height: 56px;
    text-align: left;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
}
.header-container {
    padding: 0 80px;
}

.wadiz-logo {
    position: static;
    display: inline-block;
    top: 0;
    left: 16px;
    margin: 0;
    line-height: 22px;
    font-size: 32px;
}

.wadiz-logo>a {
    display: block;
    padding: 14px 0 18px;
}
.label {
    display: block;
    position: absolute;
    left: -9999px;
    visibility: none;
    height: 1px;
}

.wadiz-logo>a svg {
    max-width: none;
}

.GNBDesktop_container {
    display: inline-block;
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    justify-content: space-between;
    z-index: 1;
    margin-left: 24px;
    padding: 0;
    width: auto;
    list-style: none;
    vertical-align: top;
}

.GNBDesktop_item {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #212529;
}
.GNBDesktop_link {
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    transition: .2s;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    color: #212529;
    text-decoration: none;
}


.web-header-utils {
    display: flex;
    position: relative;
    margin-left: auto;
    top: 0;
    right: 0;
    vertical-align: top;
}

.DesktopSearchApp_container {
    min-width: 360px;
    display: inline-block;
    position: relative;
    padding: 8px 16px 8px 0;
    height: 56px;
}

.SearchController_container {
    border: 1px solid #00c4c4;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    position: relative;
    transition-property: border-color,background-color,color;
    transition-duration: .15s;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 10px 0 0;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    color: #212529;
}

.SearchTag_emptyTag {
    position: relative;
    width: 16px;
}
.SearchController_keyword {
    display: flex;
    position: relative;
    flex: 1 1 0%;
    margin-right: 40px;
}
.SearchController_keyword input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    flex-grow: 1;
    outline: none;
    background: none;
    padding-right: 32px;
    width: 100%;
    appearance: none;
    font-size: 14px;
}
.SearchController_searchIcon {
    position: absolute;
    top: 52%;
    right: 16px;
    left: auto;
    transform: translateY(-52%);
    z-index: 1;
    pointer-events: visible;
}
.SearchController_searchIcon svg {
    display: block;
}
.GNBDesktop_icon {
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
    animation: GNBDesktop_slide-up__x9vwA .15s forwards;
    margin-left: 4px;
    color: #212529;
    font-size: 18px;
}
/* .MoreMenuDesktop_container {
    position: absolute;
    right: 0;
    left: 0;
    transition-property: max-height;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    visibility: hidden;
    z-index: 9000;
    background: #fff;
    width: 100%;
    max-height: 0;
    overflow: hidden;
} */

.DesktopSearchApp_conditionContainer {
    position: absolute;
    top: 56px;
    left: 0;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(10,22,70,.06), 0 16px 16px -1px rgba(10,22,70,.1);
    background-color: #fff;
    height: fit-content;
    max-height: 90vh;
    overflow: hidden;
    width: 511px;
}

.DesktopSearchApp_footer {
    position: relative;
    padding: 13px 16px 11px;
    text-align: right;
}

.DesktopSearchApp_footer button {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    padding: 8px;
    color: #adb5bd;
    font-weight: 500;
}

.HeaderDesktop_user {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.User_container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}

.User_btnSign {
    display: inline-block;
    cursor: pointer;
    padding: 0 8px;
    text-align: center;
    line-height: 56px;
    color: #495057;
    font-size: 15px;
}

.web-header-funding-open {
    display: inline-block;
    vertical-align: top;
}

.funding-open {
    margin-left: 12px;
}

.Button_contained .Button_childeren {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.funding-open-button {
    margin-top: 8px;
    border-radius: 4px;
    vertical-align: top;
}

.Button_children {
    vertical-align: top;
}

.PreviewOverlay_container {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ff9d9d;
    border-bottom: 1px solid #ff9d9d;
    background-color: #fff1f1;
    color: #f66;
}
.PreviewOverlay_title {
    line-height: 28px;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
}

.PreviewOverlay_description {
    margin-left: 16px;
}
input {
    color:inherit;
    font-family: inherit;
}
input {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

button {
    font-family: inherit;
    background-color: transparent;
    color: inherit;
    outline: none;
}
button {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.NotificationButton_container{
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.NotificationButton_btnNotification {
    width: 56px;
    height: 56px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.withIcon_icon.withIcon_inline {
    display: inline;
}

.NotificationButton_btnNotification svg {
    color: #000;
    font-size: 24px;
}
.withIcon_icon{
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.HeaderDesktop_user {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.User_container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}

.User_btnAvatar {
    display: inline-block;
    cursor: pointer;
    width: 56px;
    vertical-align: top;
    line-height: 56px;
}

.Avatar_avatar {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    vertical-align: middle;
}
.Avatar_avatar>span {
    display: block;
    position: absolute;
    opacity: 1;
    border-radius: 100%;
    background: no-repeat 50%/cover;
    width: 100%;
    height: 100%;
}

span {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.web-header-funding-open .funding-open-button {
    margin-top: 8px;
    border-radius: 4px;
    vertical-align: top;
}

.Button_contained {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.Button_md {
    padding: 9px 15px;
    height: 40px;
    font-size: 14px;
}

.Button_button {
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.Button_button span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.MainWrapper_content {
    transition: padding-top .25s;
    padding-top: 0;
    padding-bottom: 0;
}

.MyFundingListContainer_container {
    margin: 0 auto;
    padding: 0 0 138px;
    width: 100%;
    color: #212529;
}

.MyFundingListContainer_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35;
    display: block;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1032px;
    text-align: left;
    padding: 56px 0 24px;
}

.MyFundingListContainer_topArea{
    position: relative;
    margin: 24px auto 0;
    padding: 16px 16px 35px;
    max-width: 1032px ;
    width: 100%;
}

.select-menu {
    position: relative;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.MyFundingListContainer_selectBox {
    position: absolute;
    top: 3px;
    left: 16px;
    border: 0;
    width: 150px;
    height: 40px;
    right: 24px;
}

.select-menu-hidden-input-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
}

.select-menu-hidden-input-box input {
    width: 100%;
    height: 100%;
}

.css-2b097c-container {
    position: relative;
    box-sizing: border-box;
}

.css-7pg0cj-a11yText {
    z-index: 9999;
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    white-space: nowrap;
}


.select-menu__control {
    border: 1px solid #dde2e6;
    border-radius: 3px;
    box-shadow: none;
}
.select-menu__control--menu-is-open {
    border-color: #00c4c4!important;
}

.css-yk16xz-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}

.css-1hwfws3 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.css-1uccc91-singleValue {
    color: rgb(51, 51, 51);
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.css-62g3xt-dummyInput {
    background: 0px center;
    border: 0px;
    font-size: inherit;
    outline: 0px;
    padding: 0px;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    transform: scale(0);
}

.css-1wy0on6 {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}

.css-tlfecz-indicatorContainer {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}

.select-menu__indicator {
    pointer-events: none;
    font-size: 24px;
}


.withIcon_icon {
    display:block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.select-menu__menu {
    display : none;
    z-index: 1110;
    margin-top: 4px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(33,37,41,.06), 0 6px 6px -1px rgba(33,37,41,.1);
    padding: 8px 4px;
}

.select-menu__menu-list :hover {
    background-color: #cce6f9;
}
.show {
    display:block;
}
.css-11unzgr {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    box-sizing: border-box;
}

.select-menu__option {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.css-9gakcf-option {
    cursor: default;
    display: block;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.css-yt9ioa-option {
    background-color: transparent;
    color: inherit;
    cursor: default;
    display: block;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
.select-menu__option--is-selected {
    background-color: rgba(0,0,0,0)!important;
    color: #00b2b2!important;
}

.MyFundingList_emptyList__c-kwM {
    height: 500px;
    text-align: center;
    line-height: 500px;
}