<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <link rel="stylesheet" href="/staticfiles/css/account-find-yujin/account-find-id.css" />
        <title>아이디 비밀번호 찾기</title>
    </head>
    <body>
        <!--헤더-->
        <div id="wz-header">
            <div class="web-header">
                <div class="web-header-large">
                    <header class="header-wrapper web-header-simple">
                        <div class="header-container">
                            <h1 class="wadiz-logo">
                                <a href="/"
                                    ><span class="label">와디즈</span
                                    ><svg xmlns="http://www.w3.org/2000/svg" width="85" height="25" viewBox="0 0 85 25">
                                        <path
                                            fill="#1D2129"
                                            fill-rule="nonzero"
                                            d="M58.49 2.23h2.11v21.29H59a1.73 1.73 0 0 1-1.62-1.16 9 9 0 0 1-10.93-.28 7.48 7.48 0 0 1-2.75-6.29 7.65 7.65 0 0 1 12.79-5.07V4.23a2 2 0 0 1 2-2zm-6.3 18.62a4.36 4.36 0 0 0 4.16-4.52 4.19 4.19 0 1 0-8.35 0 4.36 4.36 0 0 0 4.19 4.52zM42 23.52h-1.52a1.73 1.73 0 0 1-1.64-1.16 9 9 0 0 1-10.93-.28 7.48 7.48 0 0 1-2.75-6.29A7.65 7.65 0 0 1 38 10.72a2 2 0 0 1 1.9-1.79H42v14.59zm-8.41-2.67h.02a4.35 4.35 0 0 0 4.15-4.52 4.35 4.35 0 0 0-4.17-4.51 4.35 4.35 0 0 0-4.17 4.51 4.36 4.36 0 0 0 4.17 4.52zM83.47 8.94v2.11l-7.07 9.06h7.06v3.47h-13v-2.1l7.08-9.07h-6.62v-1.47a2 2 0 0 1 2-2h10.55zM65.86 7.3a2.48 2.48 0 1 1 0-4.96 2.48 2.48 0 0 1 0 4.96zM21.21 8.94h4.14l-4.86 14.59h-4.15l-3.21-9.36-3.21 9.36H5.77L.92 8.94h4.13L8 18l2.5-7.74a2 2 0 0 1 1.86-1.34h2.9l3 9.08 2.95-9.06zm42.65 14.59l-.04-12.59a2 2 0 0 1 2-2h2.11v14.59h-4.07z"
                                        ></path>
                                    </svg>
                                </a>
                            </h1>
                            <!--헤더 왼쪽 상단-->
                            <ul class="gnb-large">
                                <!--로그인-->
                                <li class="login">
                                    <a href="/web/waccount/wAccountLogin" class="item"><span>로그인</span></a>
                                </li>

                                <li class="signup">
                                    <a href="/web/waccount/wAccountRegistIntro" class="item"><span>회원가입</span></a>
                                </li>
                            </ul>
                            <!--숨겨진 부분-->
                            <div class="PreviewOverlay_container">
                                <svg
                                    viewBox="0 0 40 40"
                                    focusable="false"
                                    role="presentation"
                                    class="withIcon_icon"
                                    aria-hidden="true"
                                    style="width: 24px; height: 24px;"
                                >
                                    <path fill="none" d="M0 0h40v40H0z"></path>
                                    <path d="M38 6.06H2V31h11.8v3.88h12.4V31H38zm-2.12 22.85H4.12V8.14h31.76z"></path>
                                </svg>
                                <p class="PreviewOverlay_title">미리보기 모드</p>
                                <p class="PreviewOverlay_description">저장한 내용을 미리 볼 수 있어요.</p>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
        <form id="forwardForm" method="get">
            <input type="hidden" id="returnURL" name="returnURL" />
        </form>
        <input type="hidden" id="sessionLoginCheck" value="false" />
        <!------------------------------------------->
        <!--아이디/비밀번호 찾기-->
        <div class="account-find">
            <div class="page-header">
                <h2 class="wz text display1">아이디∙비밀번호 찾기</h2>
                <div class="tab-list">
                    <ul>
                        <li class="active"><a href="/web/waccount/find/id">아이디 찾기</a></li>
                        <li><a href="/web/waccount/find/pwd">비밀번호 찾기</a></li>
                    </ul>
                </div>
            </div>
            <!--아이디 입력 부분-->
            <div class="page-body">
                <div class="wz container id-check" style="min-height:calc(100vh - 187px);">
                    <p class="wz text body1">
                        와디즈는 이메일을 아이디로 사용합니다.<br />소유하고 계신 계정을 입력해보세요.<br />가입여부를
                        확인해드립니다.
                    </p>
                    <form class="wz form" id="form-findId" onsubmit="checkEmail(); return false;">
                        <div class="label-hidden field">
                            <label class="text-hidden" for="userName">이메일 주소</label>
                            <div class="wz input">
                                <input
                                    id="userName"
                                    class="input-text"
                                    type="email"
                                    name="userName"
                                    value=""
                                    placeholder="이메일 계정"
                                    onkeydown="hitEnterkey(event);"
                                />
                            </div>
                            <!--아이디 오류-->
                            <em class="helper error" id="emailError">이메일 형식이 올바르지 않습니다.</em>
                        </div>
                        <button
                            id="btnIsJoinedEmail"
                            class="wz primary block button"
                            type="button"
                            onclick="checkEmail()"
                        >
                            확인
                        </button>
                    </form>
                </div>
                <div class="wz container id-result">
                    <div class="isJoin-email-wrap">
                        <p id="inputedEmail" class="wz text headline2">email</p>
                        <p id="joinedEmail" class="wz text body1">
                            회원으로 등록된 이메일 아이디입니다.<br />해당 이메일로 로그인하고 와디즈를 이용하세요!
                        </p>
                        <p id="notJoinedEmail" class="wz text body1">는 와디즈에 등록되어 있지 않은 계정입니다.</p>
                        <div class="inner-container">
                            <a id="goToJoin" class="wz primary block button" href="/web/waccount/wAccountRegistIntro"
                                >회원가입하기</a
                            >
                            <a id="goToLogin" class="wz primary block button" href="/web/waccount/wAccountLogin"
                                >로그인</a
                            >
                            <a id="btn-recheck" class="wz block button">다시 확인</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/staticfiles/js/account-find-yujin/account-find-id.js"></script>
</html>
