<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>대학생 인증 페이지</title>
    </head>
    <link
        rel="stylesheet"
        href="/staticfiles/css/my_page-kanghyun/my_page_university_certification.css"
    />
    <body>
        <div id="page-container">
            <main id="main-app">
                <!-- 헤더 -->
                <div class="web-header"></div>
                <!-- 바디 -->
                <div class="main-wrapper-content">
                    <div class="my-reward-container-container">
                        <!-- 페이지 제목 -->
                        <h2 class="my-reward-container-title">
                            결제 정보 관리
                        </h2>
                        <!-- 페이지 내용 -->
                        <div class="my-reward-container-column">
                            <div class="simple-pay-info" id="regist-card-info">
                                <h3 class="simple-pay-info-title">
                                    간편결제 정보
                                </h3>
                                <div
                                    class="simple-pay-card simple-pay-card-info simple-pay-card-no-info"
                                >
                                    <!-- 카드 등록 안한 상태 -->
                                    <div class="simple-pay-card-unregisted">
                                        <label for="attach">
                                            <div class="image"></div>
                                            <div
                                                class="simple-pay-card-add-card"
                                            >
                                                <svg
                                                    viewBox="0 0 32 32"
                                                    focusable="false"
                                                    role="presentation"
                                                    class="with-icon-icon simple-pay-card-add-icon"
                                                    aria-hidden="true"
                                                >
                                                    <path
                                                        d="M30.4 15.2H16.8V1.6h-1.6v13.6H1.6v1.6h13.6v13.6h1.6V16.8h13.6v-1.6z"
                                                    ></path>
                                                </svg>
                                                <span
                                                    class="simple-pay-card-title"
                                                    >간편 결제 카드 등록</span
                                                >
                                                <span
                                                    class="simple-pay-card-description"
                                                    >카드 등록하고, 빠르게 결제
                                                    예약하세요!</span
                                                >
                                            </div>
                                        </label>
                                        <div class="cancel"></div>
                                        <input
                                            type="file"
                                            id="attach"
                                            style="display:none"
                                        />
                                        <div
                                            class="simple-pay-card-notice"
                                        ></div>
                                    </div>
                                    <!-- 카드 등록 한 상태 -->
                                    <div class="simple-pay-card-registed">
                                        <div
                                            class="simple-pay-card-credit-card"
                                        >
                                            <button
                                                type="button"
                                                class="simple-pay-card-edit-button"
                                            >
                                                <svg
                                                    viewBox="0 0 40 40"
                                                    focusable="false"
                                                    role="presentation"
                                                    class="with-icon-icon simple-pay-card-delete-icon"
                                                    aria-hidden="true"
                                                >
                                                    <path
                                                        d="M36.67 5.31H3.33v2h2.82v31.88h27.7V7.31h2.82zm-4.82 31.88H8.15V7.31h23.7zM15 .81h10v2H15z"
                                                    ></path>
                                                    <path
                                                        d="M14.75 15.18h2v15h-2zm8.5 0h2v15h-2z"
                                                    ></path>
                                                </svg>
                                                삭제
                                            </button>
                                            <span
                                                class="simple-pay-card-created-at"
                                            >
                                                간편 결제 등록일
                                                <span>YYYY. MM. DD</span>
                                            </span>
                                        </div>
                                        <div class="simple-pay-card-notice">
                                            <em
                                                >할부는 직접 입력으로만 이용
                                                가능합니다.</em
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="simple-pay-info-notice-list">
                                <li>
                                    와디즈에서는 카드 번호를 저장하지 않으니
                                    안심하세요.
                                </li>
                                <li>간편 결제 카드 등록은 1개만 가능해요.</li>
                                <li>
                                    결제 비밀번호를 잊어버렸거나 변경을
                                    원한다면, 기존 등록되었던 결제 정보를
                                    삭제하고 다시 등록해 주세요.
                                </li>
                                <li>
                                    간편 결제 번호를 변경하더라도 변경 전 참여한
                                    프로젝트의 결제 정보는 변경되지 않아요.<br />이미
                                    참여한 프로젝트의 결제 정보 변경은 프로젝트
                                    내역에서 변경할 수 있어요.
                                </li>
                                <li>할부는 직접 입력으로만 이용 가능합니다.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="/staticfiles/js/my_page-kanghyun/my_page_university_certification.js"></script>
</html>
