<!DOCTYPE html>
<html lang="ko" class>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>작성 게시글 목록</title>
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/templates/html/one-lab-soyoung/favicon/favicon-16x16.png"
        />
        <link
            rel="stylesheet"
            href="/staticfiles/css/my_page-kanghyun/my_page_writelist.css"
        />
    </head>
    <body>
        <main id="main-app">
            <div class="web-header"></div>
            <div class="main-wrapper-content">
                <section class="my-funding-list-container-container" style>
                    <h2 class="my-funding-list-container-title">
                        작성 게시글 목록
                    </h2>
                    <div>
                        <div class="my-funding-list-container-top-area">
                            <div
                                class="select-menu small my-funding-list-container-select-box"
                            >
                                <div
                                    onclick="myFunction()"
                                    class="select-menu-hidden-input-box"
                                >
                                    <input type="text" readonly="" />
                                </div>
                                <div class="css-2b097c-container-wrapper">
                                    <div
                                        id="container1"
                                        class=" css-2b097c-container"
                                    >
                                        <span
                                            aria-live="polite"
                                            aria-atomic="false"
                                            aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"
                                        ></span>
                                        <div
                                            class="select-menu-control css-yk16xz-control"
                                        >
                                            <div
                                                class="select-menu-value-container select-menu-value-container--has-value css-1hwfws3"
                                            >
                                                <div
                                                    class="select-menu-single-value css-1uccc91-single-value"
                                                >
                                                    전체
                                                </div>
                                                <input
                                                    id="react-select-2-input"
                                                    readonly=""
                                                    tabindex="0"
                                                    aria-autocomplete="list"
                                                    class="css-62g3xt-dummy-input"
                                                    value=""
                                                />
                                            </div>
                                            <div
                                                class="select-menu-indicators css-1wy0on6"
                                            >
                                                <span
                                                    class="select-menu-indicator-separator css-0"
                                                ></span>
                                                <div
                                                    class="select-menu-indicator select-menu-dropdown-indicator css-tlfecz-indicator-container"
                                                    aria-hidden="true"
                                                >
                                                    <svg
                                                        viewBox="0 0 32 32"
                                                        focusable="false"
                                                        role="presentation"
                                                        class="with-icon-icon"
                                                        aria-hidden="true"
                                                    >
                                                        <path
                                                            d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"
                                                        ></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            id="my-dropdown"
                                            class="select-menu-menu css-9g7j0m-menu"
                                        >
                                            <div
                                                class="select-menu-menu-list css-11unzgr"
                                            >
                                                <div
                                                    class="select-menu-option select-menu-option--is-selected css-9gakcf-option"
                                                    id="react-select-35-option-0"
                                                    tabindex="-1"
                                                >
                                                    전체
                                                </div>
                                                <div
                                                    class="select-menu-option css-yt9ioa-option"
                                                    id="react-select-35-option-1"
                                                    tabindex="-1"
                                                >
                                                    결제 예약
                                                </div>
                                                <div
                                                    class="select-menu-option css-yt9ioa-option"
                                                    id="react-select-35-option-2"
                                                    tabindex="-1"
                                                >
                                                    결제 완료
                                                </div>
                                                <div
                                                    class="select-menu-option css-yt9ioa-option"
                                                    id="react-select-35-option-3"
                                                    tabindex="-1"
                                                >
                                                    결제 취소 / 실패
                                                </div>
                                                <div
                                                    class="select-menu-option css-yt9ioa-option"
                                                    id="react-select-35-option-4"
                                                    tabindex="-1"
                                                >
                                                    프로젝트 실패
                                                </div>
                                            </div>
                                        </div>
                                        <input
                                            name="filtering-type"
                                            type="hidden"
                                            value=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 게시글 목록 -->
                        <div class="board-main-wrap">
                            <div class="board-main">
                                <ul>
                                    <li>
                                        <a href="" class="article">
                                            <div class="info">
                                                <div
                                                    class="thumb"
                                                    style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2024/0213/20240213143515992_0.jpg/wadiz/resize/400/format/jpg/quality/80)"
                                                ></div>
                                                <h3 class="title">
                                                    [이벤트] 마음을 전할 특별한
                                                    선물이 필요하다면? | LET'S
                                                    LOVE (~2/29)
                                                </h3>
                                                <span class="created-at"
                                                    >2024.02.13</span
                                                >
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="article">
                                            <div class="info">
                                                <div
                                                    class="thumb"
                                                    style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2024/0213/20240213143515992_0.jpg/wadiz/resize/400/format/jpg/quality/80)"
                                                ></div>
                                                <h3 class="title">
                                                    [이벤트] 마음을 전할 특별한
                                                    선물이 필요하다면? | LET'S
                                                    LOVE (~2/29)
                                                </h3>
                                                <span class="created-at"
                                                    >2024.02.13</span
                                                >
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="my-funding-list-empty-list-c-kwM">
                                참여 내역이 없어요.
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <script src="/staticfiles/js/my_page-kanghyun/my_page_writelist.js"></script>
    </body>
</html>
